Repository sphinx-doc/sphinx, pull requests merged in 2018-05, with the labels that each got.

#4922 Specify version in README.rst readthedocs shield
  README.rst
Labels: docs

#4880 Refactor BuildEnvironment: Move read_doc() method to Builder class
  CHANGES
  doc/extdev/index.rst
  sphinx/builders/__init__.py
  sphinx/environment/__init__.py
Labels: api, refactoring

#4926 Optimize copy_asset()
  sphinx/util/fileutil.py
Labels: refactoring

#4923 Fix URLs for css in Windows
  sphinx/builders/html.py
  sphinx/builders/qthelp.py
  tests/test_ext_doctest.py
Labels: bug, html

#4909 Fix #789: ``:samp:`` role supports to escape curly braces with backslash
  CHANGES
  doc/usage/restructuredtext/roles.rst
  sphinx/roles.py
  tests/test_roles.py
Labels: enhancement, markup

#4924 Fixed the HTML search for uppercase words in all languages
  sphinx/search/da.py
  sphinx/search/es.py
  sphinx/search/fi.py
  sphinx/search/hu.py
  sphinx/search/it.py
  sphinx/search/nl.py
  sphinx/search/no.py
  sphinx/search/pt.py
  sphinx/search/ro.py
  sphinx/search/ru.py
  sphinx/search/sv.py
  sphinx/search/tr.py
  sphinx/search/zh.py
Labels: html search

#4933 Mypy 0.600
  setup.cfg
  sphinx/ext/inheritance_diagram.py
  sphinx/setup_command.py
Labels: refactoring

#4908 Fix #4811: The files under html_static_path are excluded from source
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/html.py
  tests/roots/test-html_assets/extra/index.rst
  tests/roots/test-html_assets/static/index.rst
  tests/test_build_html.py
Labels: html

#4870 Refactor LaTeX footnotes
  CHANGES
  doc/extdev/index.rst
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/nodes.py
  sphinx/builders/latex/transforms.py
  sphinx/writers/latex.py
  tests/roots/test-footnotes/index.rst
  tests/test_build_latex.py
Labels: bug, enhancement, latex

#4904 latex: use \cite for citation references
  CHANGES
  doc/extdev/index.rst
  doc/latex.rst
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/nodes.py
  sphinx/builders/latex/transforms.py
  sphinx/domains/std.py
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxhowto.cls
  sphinx/texinputs/sphinxmanual.cls
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: latex, proposal

#4934 Update docs (refs: #4875)
  doc/usage/configuration.rst
Labels: docs

#4935 Fix #4932: apidoc: some subpackages is ignored if sibling subpackage contains underscored module
  CHANGES
  sphinx/ext/apidoc.py
Labels: apidoc, bug

#4942 refactor: Reduce DeprecationWarnings
  sphinx/templates/latex/longtable.tex_t
  sphinx/templates/latex/tabular.tex_t
  sphinx/templates/latex/tabulary.tex_t
  tests/roots/test-stylesheets/conf.py
Labels: refactoring

#4939 fix #4938: i18n doesn't handle node.title correctly
  sphinx/transforms/i18n.py
  sphinx/util/nodes.py
  tests/roots/test-intl/admonitions.po
  tests/roots/test-intl/admonitions.txt
  tests/roots/test-intl/contents.txt
  tests/roots/test-intl/section.po
  tests/roots/test-intl/section.txt
  tests/roots/test-intl/table.po
  tests/roots/test-intl/table.txt
  tests/roots/test-intl/topic.po
  tests/roots/test-intl/topic.txt
  tests/test_intl.py
Labels: bug, i18n

#4954 Remove unused SPHINXPROJ from new Makefile/make.bat.
  sphinx/make_mode.py
  sphinx/templates/quickstart/Makefile.new_t
  sphinx/templates/quickstart/make.bat.new_t
Labels: cmdline

#4940 Fix #4877: latex: Don't use Babel.get_language()
  sphinx/writers/latex.py
Labels: latex, refactoring

#4941 Rename viewcode_import to viewcode_follow_imported_members (refs: #4035)
  CHANGES
  doc/ext/viewcode.rst
  doc/extdev/index.rst
  sphinx/ext/viewcode.py
  tests/roots/test-ext-viewcode-find/conf.py
Labels: extensions, proposal, refactoring

#4952 autodoc: Remove unused dummy class; testcls
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#4948 refactor: Replace Directive by SphinxDirective
  sphinx/directives/__init__.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/domains/std.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/doctest.py
  sphinx/ext/graphviz.py
  sphinx/ext/ifconfig.py
  sphinx/ext/inheritance_diagram.py
  sphinx/ext/mathbase.py
  sphinx/ext/todo.py
Labels: refactoring

#4953 refactor: Convert the form of html_css_files
  sphinx/application.py
  sphinx/builders/epub3.py
  sphinx/builders/html.py
Labels: html, refactoring

#4959 Refactor reporter
  sphinx/environment/__init__.py
  sphinx/util/docutils.py
Labels: refactoring

#4958 doc: viewcode
  doc/ext/viewcode.rst
Labels: bug, docs

#4951 Make Config and BuildEnvironment pickable
  CHANGES
  doc/extdev/index.rst
  sphinx/application.py
  sphinx/builders/__init__.py
  sphinx/config.py
  sphinx/environment/__init__.py
Labels: config, environment, refactoring

#4964 doc: Fix minor typo "like" -> "link"
  doc/usage/configuration.rst
Labels: bug, docs

#4963 Resolve "Missing location= in cpp domain warning "Duplicate declaration" name variant"
  sphinx/domains/cpp.py
Labels: bug, domains:cpp

#4970 Promote RemovedInSphinx20Warning to next version
  sphinx/deprecation.py
Labels: api, refactoring

#4967 doc: Fill N/A to deprecation list
  doc/extdev/index.rst
Labels: docs

#4916 Fix blank URL_ROOT
  sphinx/themes/basic/layout.html
  sphinx/themes/basic/static/documentation_options.js_t
Labels: bug, html search

#4965 epub: Do not use bare raise statement
  sphinx/builders/epub3.py
Labels: bug, epub

#4972 Fix #4969: autodoc: constructor method should not have return annotation
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#4974 Fix latex: deeply nested enumerated list which is beginning with non-1 causes LaTeX engine crashed
  CHANGES
  sphinx/writers/latex.py
  tests/roots/test-nested-enumerated-list/index.rst
  tests/test_build_latex.py
Labels: bug, latex

#4975 Fix #4333: Enable directives and roles for math by default
  CHANGES
  doc/extdev/index.rst
  sphinx/addnodes.py
  sphinx/application.py
  sphinx/config.py
  sphinx/directives/patches.py
  sphinx/domains/math.py
  sphinx/ext/imgmath.py
  sphinx/ext/jsmath.py
  sphinx/ext/mathbase.py
  sphinx/ext/mathjax.py
  sphinx/testing/fixtures.py
  sphinx/transforms/post_transforms/compat.py
  sphinx/writers/latex.py
  sphinx/writers/manpage.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
  tests/roots/test-ext-math-compat/conf.py
  tests/roots/test-ext-math-compat/index.rst
  tests/test_config.py
  tests/test_ext_math.py
Labels: extensions, markup

#4984 Fix #4978: latex: shorthandoff is not set up for Brazil locale
  CHANGES
  sphinx/writers/latex.py
Labels: bug, latex

#4928 i18n: Ignore dot-directories like .git/ in LC_MESSAGES/.
  sphinx/builders/__init__.py
  sphinx/util/i18n.py
  tests/test_util_i18n.py
Labels: bug, i18n

#4990 Refactor math implemenation
  sphinx/addnodes.py
  sphinx/directives/patches.py
Labels: markup, refactoring

#4993 Fix #4946: py domain: type field could not handle "None" as a type
  CHANGES
  sphinx/domains/python.py
Labels: domains:py

#4989 refactor: Move math_reference node to sphinx.builders.latex.nodes
  doc/extdev/index.rst
  sphinx/addnodes.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/nodes.py
  sphinx/builders/latex/transforms.py
  sphinx/domains/math.py
  sphinx/ext/mathbase.py
Labels: latex, markup, refactoring

#4966 Add BuildEnvironment.setup() to re-initialize (after unpickle)
  sphinx/application.py
  sphinx/builders/__init__.py
  sphinx/environment/__init__.py
  sphinx/errors.py
Labels: environment, refactoring

#4987 Fix #4979: latex: Incorrect escaping of curly braces in index entries
  CHANGES
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/roots/test-latex-index/index.rst
  tests/test_build_latex.py
Labels: bug, latex

#4992 Fix #4973: latex: glossary directive adds whitespace to each item
  CHANGES
  sphinx/writers/latex.py
  tests/roots/test-glossary/conf.py
  tests/roots/test-glossary/index.rst
  tests/test_build_latex.py
Labels: bug, latex

#4999 Close #4785: napoleon: Add strings to translation file for localisation
  CHANGES
  sphinx/ext/napoleon/docstring.py
Labels: extensions:napoleon, i18n

#5004 Fix #4648: latex: Now "rubric" elements are rendered as unnumbered section title
  CHANGES
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: bug, latex

#4982 Fix #4980: latex: Explicit labels on code blocks are duplicated
  CHANGES
  sphinx/writers/latex.py
  tests/roots/test-latex-labels/conf.py
  tests/roots/test-latex-labels/index.rst
  tests/roots/test-latex-labels/otherdoc.rst
  tests/test_build_latex.py
Labels: bug, latex

#4998 Fix #4919: node.asdom() crashes if toctree has :numbered: option
  CHANGES
  sphinx/environment/collectors/toctree.py
  tests/test_environment_toctree.py
Labels: bug, toctree

#4996 Fix #4914: autodoc: Parsing error when using dataclasses without default values
  CHANGES
  sphinx/pycode/parser.py
  tests/test_pycode_parser.py
Labels: autodoc, bug

#5003 Fix #4927: Display a warning when invalid values are passed to linenothreshold option of highlight directive
  CHANGES
  sphinx/directives/code.py
Labels: markup

#4997 Fix #4931: autodoc: crashed when handler for autodoc-skip-member raises an error
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
Labels: autodoc, bug

#5011 Fix #5007: sphinx-build crashes when error log contains a "%" character
  CHANGES
  sphinx/util/logging.py
Labels: bug, cmdline

#5013 Update docs (T/O)
  doc/extdev/appapi.rst
Labels: docs

#5015 Remove env.need_refresh()
  sphinx/environment/__init__.py
Labels: environment, refactoring

#5008 Refactor latex writer
  CHANGES
  doc/extdev/index.rst
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/nodes.py
  sphinx/builders/latex/transforms.py
  sphinx/writers/latex.py
Labels: latex, refactoring

#5000 Fix #4983: productionlist directive generates invalid IDs for the tokens
  CHANGES
  sphinx/domains/std.py
  tests/test_build_html.py
  tests/test_build_html5.py
Labels: bug, markup

#5005 Fix #3606: MathJax should be loaded with async attribute
  CHANGES
  doc/extdev/appapi.rst
  doc/extdev/index.rst
  sphinx/application.py
  sphinx/builders/html.py
  sphinx/ext/jsmath.py
  sphinx/ext/mathjax.py
  sphinx/themes/basic/layout.html
  tests/roots/test-root/conf.py
Labels: api, enhancement, extensions, html
