Repository sphinx-doc/sphinx, pull requests merged in 2018-07, with the labels that each got.

#5119 Closes #5076: [ext/napoleon] explicitly catch StopIteration
  sphinx/ext/napoleon/docstring.py
Labels: bug, extensions:napoleon

#5131 Fix #5125: sphinx-build: Interface of ``sphinx:main()`` has changed
  CHANGES
  sphinx/__init__.py
  sphinx/cmd/build.py
Labels: bug, cmdline

#5152 Fix #5146: autosummary: warning is emitted when the first line of docstring ends with literal notation
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: autodoc, bug

#5151 Fix autosummary: warnings of autosummary indicates wrong location (refs: #5146)
  CHANGES
  sphinx/ext/autosummary/__init__.py
Labels: autodoc, bug

#5168 Fix mypy violations
  sphinx/config.py
  sphinx/ext/autosummary/generate.py
  sphinx/locale/__init__.py
Labels: test

#5170 Fix #5143: autodoc: crashed on inspecting dict like object
  CHANGES
  sphinx/util/inspect.py
Labels: autodoc, bug

#5171 Fix #5139: autodoc: Enum argument missing if it shares value with another
  CHANGES
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/__init__.py
  tests/test_autodoc.py
Labels: autodoc, bug

#5172 Fix py domain: rtype field could not handle "None" as a type (refs: #4946)
  CHANGES
  sphinx/domains/python.py
Labels: bug, domains:py

#5175 Fix html: crashes if copying static files are failed (refs: #5161)
  CHANGES
  sphinx/builders/html.py
Labels: bug, html

#5167 Fix formatting type annotations for tuples with more than two arguments
  sphinx/util/inspect.py
  tests/test_util_inspect.py
  tests/typing_test_data.py
Labels: autodoc, bug

#5178 LaTeX: for French and xelatex, use babel not polyglossia (fix: #4272, #5130)
  CHANGES
  sphinx/writers/latex.py
Labels: bug, latex

#5177 Fix #5176
  CHANGES
  sphinx/writers/latex.py
Labels: bug, latex

#5135 Fix: #5133 via ``\sphinxsymbolsname``, ``\sphinxnumbersname``
  CHANGES
  sphinx/texinputs/python.ist
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
Labels: bug, latex

#5173 Fix #3329: i18n: crashed by auto-symbol footnote references
  CHANGES
  sphinx/transforms/i18n.py
  tests/roots/test-intl/footnote.po
  tests/roots/test-intl/footnote.txt
  tests/test_intl.py
Labels: bug, i18n

#5159 Fix links to sphinx-build man page
  doc/usage/quickstart.rst
Labels: bug, docs

#5134 Add new config value ``latex_use_xindy``
  CHANGES
  doc/conf.py
  doc/usage/configuration.rst
  sphinx/builders/latex/__init__.py
  sphinx/templates/latex/latex.tex_t
  sphinx/texinputs/Makefile_t
  sphinx/texinputs/cyrLICRutf8.xdy
  sphinx/texinputs/latexmkrc_t
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinx.xdy
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: bug, latex

#5183 Fix flake8 violations
  setup.cfg
  sphinx/builders/linkcheck.py
  sphinx/directives/other.py
  sphinx/ext/autosummary/generate.py
  sphinx/writers/latex.py
Labels: refactoring

#5182 Fix #5158: autosummary: module summary has been broken when it starts with heading
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: autodoc, bug

#5181 LaTeX: extend to all projects the #3742 fix for PDF builds at RTD
  CHANGES
  doc/conf.py
  doc/latex.rst
  doc/usage/configuration.rst
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
Labels: latex

#5174 Fix #5164: incremental build has broken with external source_parser
  sphinx/registry.py
Labels: bug, cmdline

#5116 Handle OSError on scanning documents (refs: #5114)
  CHANGES
  sphinx/environment/__init__.py
  sphinx/errors.py
Labels: bug, environment

#5180 Fix #5163: html: hlist items are now aligned to top
  CHANGES
  sphinx/themes/basic/static/basic.css_t
Labels: html, markup

#5193 BuildDoc: add and pass through nitpicky option
  CHANGES
  doc/setuptools.rst
  sphinx/setup_command.py
Labels: proposal

#5205 Capitalization: "Table Of Contents" -> "Table of Contents".
  sphinx/themes/agogo/layout.html
  sphinx/themes/basic/globaltoc.html
  sphinx/themes/basic/localtoc.html
  sphinx/themes/haiku/layout.html
  sphinx/themes/scrolls/layout.html
  tests/test_theming.py
Labels: html theme

#5202 doc: collapsiblesidebar works well with stickysidebar
  doc/theming.rst
Labels: docs

#5200 Fix #5198: document not in toctree warning when including files only for parallel builds
  CHANGES
  sphinx/environment/__init__.py
Labels: bug

#5201 Fix classic theme: collapsiblesidebar is always enabled
  sphinx/themes/classic/layout.html
Labels: bug, html theme

#5203 Close #2820: autoclass directive supports nested class
  CHANGES
  sphinx/ext/autodoc/importer.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#5210 epub: spine has been broken because of "self" in toctree
  CHANGES
  sphinx/builders/_epub_base.py
Labels: bug, epub

#5204 Fix #344: autosummary does not understand docstring of module level attributes
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#5212 Latex xindy fix latin
  sphinx/texinputs/LICRcyr2utf8.xdy
  sphinx/texinputs/LICRlatin2utf8.xdy
  sphinx/texinputs/Makefile_t
  sphinx/texinputs/sphinx.xdy
Labels: latex

#5218 Fix setup_command uses deprecated module
  sphinx/setup_command.py
Labels: bug

#5219 Refactor test_autodoc (partial)
  tests/test_autodoc.py
Labels: autodoc, refactoring, test

#5220 Do test with py37
  .travis.yml
  tox.ini
Labels: test

#5222 Fix flake8 violations on tests
  tests/roots/test-ext-viewcode-find/conf.py
  tests/roots/test-ext-viewcode-find/not_a_package/submodule.py
  tests/roots/test-inheritance/dummy/test.py
  tests/roots/test-latex-equations/conf.py
  tests/test_application.py
  tests/test_autodoc.py
  tests/test_build_gettext.py
  tests/test_config.py
  tests/test_domain_cpp.py
  tests/test_environment_toctree.py
  tests/test_ext_apidoc.py
  tests/test_ext_doctest.py
Labels: refactoring, test

#5223 Add testcases for autodoc_default_flags
  tests/test_autodoc.py
Labels: autodoc, test

#5199 Apply trim_doctest_flags to all builders (cf. text, manpages)
  CHANGES
  doc/extdev/index.rst
  sphinx/application.py
  sphinx/builders/html.py
  sphinx/builders/latex/__init__.py
  sphinx/highlighting.py
  sphinx/transforms/post_transforms/code.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/manpage.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
  tests/roots/test-trim_doctest_flags/conf.py
  tests/roots/test-trim_doctest_flags/index.rst
  tests/test_highlighting.py
  tests/test_transforms_post_transforms_code.py
Labels: builder, config, refactoring

#5221 Deprecate whole of sphinx.ext.mathbase
  CHANGES
  doc/extdev/index.rst
  sphinx/ext/imgmath.py
  sphinx/ext/jsmath.py
  sphinx/ext/mathbase.py
  sphinx/ext/mathjax.py
  sphinx/util/math.py
  sphinx/util/parallel.py
  sphinx/writers/latex.py
Labels: extensions, refactoring

#5207 5186 set up JavaScript test infrastructure
  .gitignore
  .travis.yml
  CONTRIBUTING.rst
  karma.conf.js
  package-lock.json
  package.json
  sphinx/themes/basic/static/doctools.js
  sphinx/themes/basic/static/documentation_options.js_t
  sphinx/themes/basic/static/searchtools.js
  tests/js/doctools.js
Labels: test

#5228 Move make mode to sphinx.cmd
  CHANGES
  doc/extdev/index.rst
  sphinx/cmd/build.py
  sphinx/cmd/make_mode.py
  sphinx/make_mode.py
Labels: cmdline, refactoring

#5229 Check latex_elements at config-inited event
  CHANGES
  doc/extdev/index.rst
  sphinx/builders/latex/__init__.py
  sphinx/writers/latex.py
  tests/test_config.py
Labels: latex, refactoring

#5194 Closes #4614: sphinx-build: Add :option:`--keep-going` option to show all warnings
  CHANGES
  doc/man/sphinx-build.rst
  sphinx/application.py
  sphinx/cmd/build.py
Labels: cmdline, proposal

#5236 Latex reduce hyperref warnings
  sphinx/texinputs/sphinx.sty
Labels: latex

#5237 LaTeX: avoid "The remreset package is obsolete" warnings in latex log
  sphinx/texinputs/sphinx.sty
Labels: latex

#5242 Let Latexmk check if idx file is empty before xindy call
  sphinx/texinputs/latexmkrc_t
Labels: bug, latex

#5235 LaTeX: fix usage of PAPER envvar, which got broken at Sphinx 1.5
  doc/man/sphinx-build.rst
  sphinx/make_mode.py
  sphinx/templates/quickstart/Makefile_t
  sphinx/templates/quickstart/make.bat_t
Labels: bug, latex

#5239 Revert "LaTeX: extend to all projects the #3742 fix for PDF builds at RTD"
  doc/conf.py
  doc/latex.rst
  doc/usage/configuration.rst
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
Labels: bug, latex
