Repository sphinx-doc/sphinx, pull requests merged in 2019-06, with the labels that each got.

#6421 doc: Change wording for contents directive (refs: #6265)
  doc/usage/restructuredtext/directives.rst
Labels: docs

#6416 Add :force: option to code directives
  CHANGES
  doc/usage/restructuredtext/directives.rst
  sphinx/application.py
  sphinx/directives/code.py
  sphinx/directives/patches.py
  sphinx/highlighting.py
  sphinx/transforms/post_transforms/code.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  tests/roots/test-directive-code/error.inc
  tests/roots/test-directive-code/force.rst
  tests/test_directive_code.py
Labels: enhancement, markup

#6423 Fix #1063: autodoc: automodule directive handles undocumented module level variables
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/module.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#6428 docs: Use directive:option in extensions/graphviz
  doc/usage/extensions/graphviz.rst
Labels: docs, refactoring

#6425 Migrate to py3 style type annotation: sphinx.util
  sphinx/util/__init__.py
  sphinx/util/docstrings.py
  sphinx/util/fileutil.py
  sphinx/util/i18n.py
  sphinx/util/images.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/test_autodoc.py
Labels: refactoring

#6434 Refactor test_autodoc
  tests/roots/test-ext-autodoc/target/__init__.py
  tests/roots/test-ext-autodoc/target/descriptor.py
  tests/roots/test-ext-autodoc/target/process_docstring.py
  tests/test_autodoc.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autodoc_events.py
Labels: refactoring, test

#6432 Fix py domain: duplicated warning does not point the location of source code
  CHANGES
  sphinx/domains/python.py
Labels: bug, domains:py

#6431 Migrate to py3 style type annotation: sphinx.util (part2)
  sphinx/util/compat.py
  sphinx/util/console.py
  sphinx/util/docfields.py
  sphinx/util/docutils.py
  sphinx/util/inventory.py
  sphinx/util/jsdump.py
  sphinx/util/jsonimpl.py
  sphinx/util/logging.py
  sphinx/util/matching.py
  sphinx/util/png.py
  sphinx/util/pycompat.py
  sphinx/util/tags.py
  sphinx/util/texescape.py
Labels: refactoring

#6426 Fix #1125: html theme: scrollbar is hard to see on classic theme and macOS
  CHANGES
  sphinx/themes/classic/static/classic.css_t
Labels: bug, html theme

#6427 Fix #5502: linkcheck: Consider HTTP 503 response as not an error
  CHANGES
  sphinx/builders/linkcheck.py
Labels: bug, builder

#6438 Migrate to py3 style type annotation: sphinx.util.requests (part3)
  sphinx/util/__init__.py
  sphinx/util/math.py
  sphinx/util/nodes.py
  sphinx/util/osutil.py
  sphinx/util/parallel.py
  sphinx/util/requests.py
  sphinx/util/rst.py
  sphinx/util/smartypants.py
  sphinx/util/stemmer/__init__.py
  sphinx/util/stemmer/porter.py
  sphinx/util/template.py
Labels: refactoring

#6448 Don't crash when autodocumenting classes with __slots__ = None
  sphinx/ext/autodoc/importer.py
Labels: autodoc, bug

#6443 LaTeX: prevent pagebrak separating note from section title
  CHANGES
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#6453 Fix #6452: autosummary: crashed when generating document of properties
  CHANGES
  sphinx/ext/autosummary/generate.py
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#6445 apidoc: Insert newlines between submodules
  sphinx/templates/apidoc/package.rst
  tests/test_ext_apidoc.py
Labels: autosummary, bug

#6459 Migrate to py3 style type annotation: sphinx.directives
  sphinx/directives/__init__.py
  sphinx/directives/code.py
  sphinx/directives/other.py
  sphinx/directives/patches.py
Labels: refactoring

#6463 refactor: correct interface of directive() and role() to docutils'
  sphinx/util/docutils.py
  sphinx/util/typing.py
Labels: refactoring

#6457 Fix #6455: napoleon: docstrings for properties are not processed
  CHANGES
  sphinx/ext/napoleon/docstring.py
Labels: bug, extensions:napoleon

#6460 Fix #6436: napoleon: "Unknown target name" error
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#6458 Fix #6451: autodoc: generates docs for "optional import"ed modules as variables
  CHANGES
  sphinx/pycode/parser.py
  tests/test_pycode_parser.py
Labels: autodoc, bug

#6471 Revert "Fix #1063: autodoc: automodule directive handles undocumented module level variables"
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/module.py
  tests/test_autodoc.py
Labels: autodoc, bug

#6468 autosummary: deprecate info and warn arguments for generate_autosummary_docs()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#6461 Migrate to py3 style type annotation: sphinx.builders
  sphinx/builders/__init__.py
  sphinx/builders/_epub_base.py
  sphinx/builders/applehelp.py
  sphinx/builders/changes.py
  sphinx/builders/devhelp.py
  sphinx/builders/dirhtml.py
  sphinx/builders/dummy.py
  sphinx/builders/epub3.py
  sphinx/builders/gettext.py
  sphinx/builders/html.py
  sphinx/builders/htmlhelp.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/transforms.py
  sphinx/builders/latex/util.py
  sphinx/builders/linkcheck.py
  sphinx/builders/manpage.py
  sphinx/builders/qthelp.py
  sphinx/builders/singlehtml.py
  sphinx/builders/texinfo.py
  sphinx/builders/text.py
  sphinx/builders/xml.py
Labels: refactoring

#6430 Close #5124: graphviz: :graphviz_dot: option is renamed to :layout:
  CHANGES
  doc/usage/extensions/graphviz.rst
  sphinx/ext/graphviz.py
Labels: extensions, proposal

#6487 Fix #6486: UnboundLocalError is raised if broken extension installed
  CHANGES
  sphinx/util/docutils.py
Labels: bug

#6433 refactor todo extension with Domain
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/todo.py
Labels: extensions, refactoring

#6467 refactor: Add data accessors to MathDomain
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/directives/patches.py
  sphinx/domains/math.py
  tests/test_directive_patch.py
Labels: domain, refactoring

#6493 Add testcase for option directive
  tests/test_domain_std.py
Labels: test

#6496 Refactor html builder: validate config values on config-inited event
  sphinx/builders/html.py
Labels: html, refactoring

#6502 Fix #6497: custom lexers fails highlighting when syntax error
  CHANGES
  sphinx/highlighting.py
Labels: bug

#6501 Fix #6499: html: Sphinx never updates a copy of html_logo
  CHANGES
  sphinx/builders/html.py
Labels: bug, html

#6500 Close #1464: html: warn html_static_path is inside outdir
  CHANGES
  sphinx/builders/html.py
  tests/test_build_html.py
Labels: config, html, refactoring

#6490 refactor: Separate generate_autosummary_content() from generate_autosummary_docs()
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#6492 Close #5602: apidoc: Add ``--templatedir`` option
  CHANGES
  doc/man/sphinx-apidoc.rst
  sphinx/ext/apidoc.py
  sphinx/templates/apidoc/module.rst_t
  sphinx/templates/apidoc/package.rst_t
  sphinx/templates/apidoc/toc.rst_t
  sphinx/util/template.py
Labels: apidoc, enhancement

#6482 Explicitly treat ObjectDescription._doc_field_type_map as an instance variable
  sphinx/directives/__init__.py
Labels: bug, domain

#6449 Fix #6444: test: replace example.com by existing page
  tests/roots/test-images/index.rst
  tests/roots/test-intl/external_links.txt
  tests/roots/test-linkcheck/links.txt
  tests/test_build_html.py
  tests/test_build_latex.py
  tests/test_build_linkcheck.py
  tests/test_intl.py
  tests/test_markup.py
Labels: bug, test

#6509 Suppress deprecation warning for autosummary
  sphinx/ext/autosummary/generate.py
Labels: autosummary, bug

#6515 Fix mypy violations (for mypy-0.710)
  setup.py
  sphinx/domains/std.py
  sphinx/util/inspect.py
  sphinx/util/stemmer/__init__.py
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
Labels: refactoring

#6506 Fix #6498: autosummary: crashed with wrong autosummary_generate setting
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#6508 Fix #6507: autosummary: crashes without no autosummary_generate setting
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#6513 Fix #6512: typo in continuation label for tables
  sphinx/templates/latex/longtable.tex_t
  tests/roots/test-latex-table/expects/longtable.tex
  tests/roots/test-latex-table/expects/longtable_having_align.tex
  tests/roots/test-latex-table/expects/longtable_having_caption.tex
  tests/roots/test-latex-table/expects/longtable_having_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_stub_columns_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_verbatim.tex
  tests/roots/test-latex-table/expects/longtable_having_widths.tex
  tests/roots/test-latex-table/expects/longtable_having_widths_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_with_tabularcolumn.tex
Labels: bug, latex

#6519 Fix #6517: apidoc: user_template_dir is not passed when it recurses
  sphinx/ext/apidoc.py
Labels: apidoc, bug

#6514 Add a label to search input for accessability purposes in search.html
  sphinx/themes/basic/search.html
Labels: enhancement, html theme

#6526 Fix mypy violations (for mypy-0.711)
  setup.py
  sphinx/util/inspect.py
Labels: refactoring

#6528 Force last update datetime value to always be UTC
  sphinx/util/i18n.py
Labels: bug

#6530 doc: Update document for :annotation: option (refs: #6495)
  doc/usage/extensions/autodoc.rst
Labels: docs

#6485 Migrate to py3 style type annotation: sphinx.domains
  sphinx/domains/__init__.py
  sphinx/domains/c.py
  sphinx/domains/changeset.py
  sphinx/domains/citation.py
  sphinx/domains/javascript.py
  sphinx/domains/math.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/domains/std.py
Labels: refactoring

#6536 Close #6475: Add override argument to app.add_autodocumenter()
  CHANGES
  sphinx/application.py
Labels: api, enhancement

#6533 LaTeX: refactor visit_enumerated_list() to use \sphinxsetlistlabels
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: latex

#6539 Fix flake8 violations
  tests/roots/test-ext-autodoc/target/inheritance.py
  tests/test_build_gettext.py
  tests/test_build_latex.py
  tests/test_directive_code.py
  tests/test_domain_cpp.py
  tests/test_ext_autosummary.py
  tests/test_ext_githubpages.py
  tests/test_intl.py
  tests/test_util_inspect.py
  tests/test_util_pycompat.py
Labels: refactoring

#6538 html: refactor with progress_message()
  sphinx/builders/html.py
Labels: html, refactoring

#6535 Migrate to py3 style type annotation: sphinx.cmd
  sphinx/cmd/build.py
  sphinx/cmd/make_mode.py
  sphinx/cmd/quickstart.py
Labels: refactoring

#6537 refactor: Add data accessors to CDomain, ChangesetDomain and JavaScriptDomain
  sphinx/domains/c.py
  sphinx/domains/changeset.py
  sphinx/domains/javascript.py
Labels: domain, refactoring

#6532 Fix #6531: Failed to load last environment object when extension added
  CHANGES
  sphinx/environment/__init__.py
  tests/test_environment.py
Labels: bug

#6534 Migrate to py3 style type annotation: sphinx.ext (Part 1)
  sphinx/ext/apidoc.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autodoc/mock.py
  sphinx/ext/coverage.py
  sphinx/ext/extlinks.py
  sphinx/ext/githubpages.py
  sphinx/ext/graphviz.py
  sphinx/ext/imgconverter.py
  sphinx/ext/intersphinx.py
  sphinx/ext/linkcode.py
  sphinx/ext/mathbase.py
  sphinx/ext/mathjax.py
Labels: refactoring
