Repository sphinx-doc/sphinx, pull requests merged in 2019-04, with the labels that each got.

#6212 Allow setting imported_members for autosummary in conf.py
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  tests/roots/test-ext-autosummary-imported_members/autosummary_dummy_package/__init__.py
  tests/roots/test-ext-autosummary-imported_members/autosummary_dummy_package/autosummary_dummy_module.py
  tests/roots/test-ext-autosummary-imported_members/conf.py
  tests/roots/test-ext-autosummary-imported_members/index.rst
  tests/test_ext_autosummary.py
Labels: autosummary, proposal

#6237 Fix #6220, #6225: napoleon: AttributeError is raised for raised section having references
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#6233 refactor quickstart
  sphinx/cmd/quickstart.py
Labels: cmdline, refactoring

#6238 Add missing versionadded for autosummary_mock_imports
  doc/usage/extensions/autosummary.rst
Labels: autosummary, docs

#6249 Fix #6245: circular import error on importing SerializingHTMLBuilder
  CHANGES
  sphinx/builders/dirhtml.py
  sphinx/builders/html.py
  sphinx/builders/singlehtml.py
Labels: bug, html

#6250 Fix RemovedInSphinx30Warning is marked as pending
  CHANGES
  sphinx/deprecation.py
Labels: bug

#6252 Fix deprecation warnings for sphinx.builder.htmlhelp is not shown
  CHANGES
  sphinx/builders/htmlhelp.py
Labels: bug, builder

#6226 C++, fix parsing of full xrefs.
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: domains:cpp

#6253 Fix #6243: LaTeX: releasename setting for latex_elements is ignored
  CHANGES
  sphinx/builders/latex/__init__.py
Labels: bug, latex

#6257 Fix #6244: html: Search function is broken with 3rd party themes
  CHANGES
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#6235 Add data accessors to StandardDomain
  sphinx/domains/std.py
Labels: domains:std, refactoring

#6254 Fix #6213: ifconfig: contents after headings are not shown
  CHANGES
  doc/usage/extensions/ifconfig.rst
  sphinx/ext/ifconfig.py
Labels: bug, extensions

#6236 Add data accessors and helper methods to PythonDomain
  CHANGES
  sphinx/domains/python.py
Labels: domains:py, refactoring

#6203 Add CitationDomain for citation processing
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/application.py
  sphinx/builders/latex/transforms.py
  sphinx/domains/citation.py
  sphinx/domains/std.py
  sphinx/transforms/__init__.py
Labels: domain, domains:std, refactoring

#6259 Add RemovedInSphinx50Warning
  sphinx/deprecation.py
Labels: api, refactoring

#6266 Fix #6262: html theme: The style of field lists has changed in bizstyle theme
  CHANGES
  sphinx/themes/bizstyle/static/bizstyle.css_t
Labels: bug, html theme

#6267 Fix #6263: html: HTML5Translator crashed with invalid field node
  CHANGES
  sphinx/writers/html5.py
Labels: bug, html

#6261 Fix commented term in glossary directive is wrongly recognized
  CHANGES
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: bug, refactoring

#6268 Refactoring python domain: Add new description classes for methods and attributes
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, refactoring

#6292 Add PyFunction and PyVariable; directives for python functions and variables
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, refactoring

#6291 Add testcases for sphinx.util.inspect
  tests/test_util_inspect.py
Labels: autodoc, test

#6293 refactor: sphinx.util.inspect module provides inspect.is* functions
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#6294 refactor: Move subject of inspection to rootdir
  tests/roots/test-ext-autodoc/target/functions.py
  tests/roots/test-ext-autodoc/target/methods.py
  tests/test_util_inspect.py
Labels: autodoc, refactoring, test

#6296 Add testcases for rst domain
  tests/test_domain_rst.py
Labels: domains:rst, test

#6277 Fix #6271: make clean is catastrophically broken if building into '.'
  CHANGES
  sphinx/cmd/make_mode.py
Labels: bug, cmdline

#6301 refactor: rst domain: Add objects property and note_object() method
  sphinx/domains/rst.py
Labels: domains:rst, refactoring

#6297 Add sphinx.util.inspect:isattributedescriptor()
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: autodoc, refactoring

#6303 Partially revert #6232, synchronize new Makefile with old (refs: #4092)
  sphinx/templates/quickstart/Makefile.new_t
Labels: cmdline

#6302 refactor: separate ReSTMarkup.get_index_text() to subclasses
  sphinx/domains/rst.py
Labels: domains:rst, refactoring

#6305 Fix the string in quickstart for 'path' argument of parser
  sphinx/cmd/quickstart.py
Labels: bug, cmdline

#6260 Make EventManager portable
  doc/extdev/appapi.rst
  doc/extdev/builderapi.rst
  doc/extdev/envapi.rst
  doc/extdev/utils.rst
  sphinx/application.py
  sphinx/builders/__init__.py
  sphinx/builders/html.py
  sphinx/environment/__init__.py
  sphinx/events.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/todo.py
Labels: refactoring

#6308 imgmath: Use template file for LaTeX
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/imgmath.py
  sphinx/templates/imgmath/preview.tex_t
  sphinx/templates/imgmath/template.tex_t
  sphinx/util/template.py
Labels: extensions, refactoring

#6307 Update deprecation message for source_suffix (refs: #6283)
  sphinx/util/compat.py
Labels: bug, config

#6290 Add :classmethod: and :staticmethod: options to py:method directive
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/python.py
  sphinx/ext/autodoc/__init__.py
  tests/test_autodoc.py
  tests/test_domain_py.py
Labels: autodoc, domains:py, enhancement

#6295 autodoc: Support coroutine (refs: #4777)
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/python.py
  sphinx/ext/autodoc/__init__.py
  sphinx/pycode/parser.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/functions.py
  tests/roots/test-ext-autodoc/target/methods.py
  tests/test_autodoc.py
  tests/test_domain_py.py
  tests/test_pycode_parser.py
  tests/test_util_inspect.py
Labels: autodoc, domains:py, enhancement

#6321 Add docstring to pycode.parser
  sphinx/pycode/parser.py
Labels: docs

#6310 Make imgmath_use_preview work also for svg output
  doc/usage/extensions/math.rst
  sphinx/ext/imgmath.py
  sphinx/templates/imgmath/preview.tex_t
Labels: enhancement
