Repository sphinx-doc/sphinx, pull requests merged in 2019-02, with the labels that each got.

#5997 Fix flake8 violations
  .travis.yml
  sphinx/__init__.py
  sphinx/util/inventory.py
  tox.ini
Labels: refactoring

#5998 Fix #5995: autodoc: autodoc_mock_imports conflict with metaclass
  CHANGES
  sphinx/ext/autodoc/importer.py
  tests/test_ext_autodoc_importer.py
Labels: autodoc, bug

#6007 Allow periods in texinfo node names
  CHANGES
  sphinx/writers/texinfo.py
  tests/test_build_texinfo.py
Labels: bug, builder

#6009 Separate testcase for html_style to single case from root
  tests/roots/test-html_style/_static/default.css
  tests/roots/test-html_style/conf.py
  tests/roots/test-html_style/contents.rst
  tests/roots/test-root/conf.py
  tests/test_build_html.py
Labels: refactoring, test

#6006 Fix #5948: LaTeX: duplicated labels are generated for sections
  CHANGES
  sphinx/writers/latex.py
  tests/roots/test-latex-labels/index.rst
  tests/test_build_latex.py
Labels: bug, latex

#6010 Fix #4611: epub: Show warning for duplicated ToC entries
  CHANGES
  sphinx/builders/_epub_base.py
  tests/roots/test-root/index.txt
  tests/roots/test-toctree-duplicated/conf.py
  tests/roots/test-toctree-duplicated/foo.rst
  tests/roots/test-toctree-duplicated/index.rst
  tests/test_build_epub.py
Labels: epub

#6011 Fix test: compile_latex_document()
  tests/test_build_latex.py
Labels: bug, latex, test

#6014 doc: Fix indentation
  doc/usage/restructuredtext/directives.rst
Labels: docs

#6012 Fix test: imgconverter expects size of images fixed
  tests/roots/test-ext-imgconverter/svgimg.svg
  tests/roots/test-images/subdir/svgimg.svg
  tests/roots/test-images/subdir/svgimg.xx.svg
  tests/roots/test-root/svgimg.svg
  tests/roots/test-warnings/svgimg.svg
Labels: test

#5985 refactor: test_build_html.py
  tests/test_build_html.py
  tests/test_build_html5.py
Labels: refactoring, test

#5980 doc: Update docstring of get_translation()
  sphinx/locale/__init__.py
Labels: docs

#6005 LaTeX: remove extra space after author on title page in PDF
  CHANGES
  sphinx/texinputs/sphinxhowto.cls
  sphinx/texinputs/sphinxmanual.cls
Labels: bug, latex

#6015 Close #1851: Allow to omit an argument for code-block directive
  CHANGES
  doc/usage/restructuredtext/directives.rst
  sphinx/directives/code.py
  sphinx/transforms/post_transforms/code.py
  tests/roots/test-directive-code/highlight.rst
  tests/test_directive_code.py
Labels: markup, proposal

#5983 Separate applehelp to sphinxcontrib package
  CHANGES
  doc/extdev/index.rst
  doc/usage/builders/index.rst
  setup.py
  sphinx/application.py
  sphinx/builders/applehelp.py
  sphinx/templates/applehelp/_access.html_t
  tests/roots/test-root/conf.py
  tests/roots/test-root/en.lproj/localized.txt
  tests/test_build.py
  tests/test_build_applehelp.py
Labels: refactoring

#6018 #6016 add placeholder for search summary
  CHANGES
  sphinx/themes/basic/static/searchtools.js
Labels: enhancement, html search, html theme

#5996 Show tempdir header on testing (refs: #5902)
  tests/conftest.py
Labels: refactoring, test

#6032 Add more EXAMPLES
  EXAMPLES
Labels: docs

#6029 test: clear SPHINX_TEST_TEMPDIR before testing
  tests/conftest.py
Labels: bug, test

#6030 refactor: tests/conftest.py
  tests/conftest.py
Labels: refactoring, test

#6031 Move DirectoryHTMLBuilder to sphinx.builders.dirhtml package
  sphinx/application.py
  sphinx/builders/dirhtml.py
  sphinx/builders/html.py
Labels: html, refactoring

#6038 refactor: test-docutilsconf
  tests/roots/test-docutilsconf/conf.py
  tests/roots/test-docutilsconf/index.rst
  tests/roots/test-docutilsconf/index.txt
  tests/test_docutilsconf.py
Labels: refactoring, test

#6044 test: Give freshenv=True to test_docutilsconf for windows environment
  tests/test_docutilsconf.py
Labels: bug, test

#6045 Do test with docutils-0.12
  .travis.yml
  tests/test_build_epub.py
  tests/test_build_html5.py
Labels: test

#6023 Refactor htmlhelp builder
  sphinx/builders/htmlhelp.py
  sphinx/templates/htmlhelp/project.hhc
  sphinx/templates/htmlhelp/project.hhp
  sphinx/templates/htmlhelp/project.stp
  tests/roots/test-htmlhelp-hhc/bar.rst
  tests/roots/test-htmlhelp-hhc/baz.rst
  tests/roots/test-htmlhelp-hhc/conf.py
  tests/roots/test-htmlhelp-hhc/foo.rst
  tests/roots/test-htmlhelp-hhc/index.rst
  tests/test_build_htmlhelp.py
Labels: builder, refactoring

#6017 Close #4550: All tables and figures without ``align`` option are displayed to center
  CHANGES
  sphinx/io.py
  sphinx/transforms/__init__.py
  tests/roots/test-latex-table/expects/longtable.tex
  tests/roots/test-latex-table/expects/longtable_having_caption.tex
  tests/roots/test-latex-table/expects/longtable_having_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_stub_columns_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_verbatim.tex
  tests/roots/test-latex-table/expects/longtable_having_widths.tex
  tests/roots/test-latex-table/expects/longtable_having_widths_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_with_tabularcolumn.tex
  tests/test_build_html.py
  tests/test_ext_autosummary.py
  tests/test_ext_graphviz.py
  tests/test_ext_inheritance_diagram.py
Labels: enhancement, markup

#6022 Close #5196: linkcheck also checks remote images exist
  CHANGES
  sphinx/builders/linkcheck.py
  sphinx/util/nodes.py
  tests/roots/test-linkcheck/links.txt
  tests/test_build_linkcheck.py
Labels: builder, enhancement

#6052 Display meaningful names in type annotations for mocked objects
  CHANGES
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/need_mocks.py
  tests/test_autodoc.py
  tests/test_ext_autodoc_importer.py
Labels: autodoc, enhancement

#6050 Fix #6046: LaTeX: ``TypeError`` is raised when invalid latex_elements given
  CHANGES
  sphinx/builders/latex/__init__.py
Labels: bug, latex

#5924 githubpages: support custom domains
  sphinx/ext/githubpages.py
  tests/test_ext_githubpages.py
Labels: extensions, proposal

#6053 Closes #5459: autodoc: autodoc_default_options accepts True as a value
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#6056 docs: Update location of builders
  doc/usage/builders/index.rst
Labels: docs

#6057 Remove unused template variables
  sphinx/cmd/quickstart.py
Labels: cmdline, refactoring

#6058 Skip escaping navpoint because it's HTML safe
  sphinx/builders/_epub_base.py
Labels: epub, refactoring

#6055 refactoring with progress_message()
  sphinx/builders/__init__.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/manpage.py
  sphinx/builders/singlehtml.py
  sphinx/builders/texinfo.py
Labels: refactoring

#6062 docs: Use "Courier New" font to code blocks
  doc/_themes/sphinx13/static/sphinx13.css
Labels: docs

#6060 refactor sphinx.util.pycompat
  CHANGES
  doc/extdev/index.rst
  sphinx/application.py
  sphinx/cmd/build.py
  sphinx/config.py
  sphinx/ext/imgmath.py
  sphinx/search/__init__.py
  sphinx/util/console.py
  sphinx/util/inspect.py
  sphinx/util/pycompat.py
  sphinx/util/typing.py
Labels: refactoring

#5927 HTML builder outputs HTML5 by default
  CHANGES
  doc/_themes/sphinx13/static/sphinx13.css
  doc/usage/configuration.rst
  sphinx/builders/_epub_base.py
  sphinx/builders/html.py
  sphinx/themes/basic/static/basic.css_t
  tests/test_api_translator.py
  tests/test_build_html.py
  tests/test_build_html5.py
  tests/test_domain_cpp.py
  tests/test_ext_autosectionlabel.py
  tests/test_ext_todo.py
Labels: html

#6069 Fix mypy violations
  sphinx/domains/cpp.py
  sphinx/domains/python.py
Labels: refactoring

#6025 Introduce SphinxRole class as a base class of roles
  CHANGES
  doc/extdev/index.rst
  sphinx/roles.py
  sphinx/util/docutils.py
Labels: api, proposal

#6063 Add autosectionlabel_max_depth config option
  CHANGES
  doc/usage/extensions/autosectionlabel.rst
  sphinx/ext/autosectionlabel.py
  tests/roots/test-ext-autosectionlabel-prefix-document/index.rst
  tests/roots/test-ext-autosectionlabel/index.rst
  tests/test_ext_autosectionlabel.py
Labels: enhancement, extensions

#6070 Fix typo
  sphinx/writers/texinfo.py
Labels: bug

#6064 Closes #5635: autosummary: Add autosummary_mock_imports to mock external libraries
  CHANGES
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  tests/roots/test-ext-autosummary-mock_imports/conf.py
  tests/roots/test-ext-autosummary-mock_imports/foo.py
  tests/roots/test-ext-autosummary-mock_imports/index.rst
  tests/test_ext_autosummary.py
Labels: autosummary, enhancement

#6072 Fix test_ext_autosectionlabel conflicts with HTML5 writer
  tests/test_ext_autosectionlabel.py
Labels: bug, extensions, html

#6059 refactor: test: Remove unused settings from conf.py
  tests/roots/test-build-htmlhelp/make.bat
  tests/roots/test-domain-cpp/conf.py
  tests/roots/test-domain-js/conf.py
  tests/roots/test-domain-py/conf.py
  tests/roots/test-footnotes/conf.py
  tests/roots/test-manpage_url/conf.py
  tests/roots/test-maxlistdepth/conf.py
  tests/roots/test-numfig/conf.py
  tests/roots/test-toctree-empty/conf.py
  tests/roots/test-toctree-glob/conf.py
  tests/roots/test-toctree-maxdepth/conf.py
Labels: refactoring, test

#6061 test: Reduce warnings on building test-root
  tests/roots/test-root/autodoc.txt
  tests/roots/test-root/autodoc_fodder.py
  tests/roots/test-root/images.txt
  tests/roots/test-root/includes.txt
  tests/roots/test-root/subdir/include.inc
  tests/test_builder.py
  tests/test_environment.py
  tests/test_ext_apidoc.py
Labels: refactoring, test

#6073 Separate htmlhelp to sphinxcontrib package
  CHANGES
  doc/extdev/index.rst
  setup.py
  sphinx/application.py
  sphinx/builders/htmlhelp.py
  tests/roots/test-build-htmlhelp/conf.py
  tests/roots/test-build-htmlhelp/index.rst
  tests/roots/test-htmlhelp-hhc/bar.rst
  tests/roots/test-htmlhelp-hhc/baz.rst
  tests/roots/test-htmlhelp-hhc/conf.py
  tests/roots/test-htmlhelp-hhc/foo.rst
  tests/roots/test-htmlhelp-hhc/index.rst
  tests/test_build.py
  tests/test_build_htmlhelp.py
Labels: refactoring

#6075 Replace :index: role by class based implementation
  CHANGES
  doc/extdev/index.rst
  sphinx/roles.py
  sphinx/util/docutils.py
Labels: markup, refactoring

#6076 Replace :pep: and :rfc: roles by class based implementation
  CHANGES
  doc/extdev/index.rst
  sphinx/roles.py
  sphinx/util/docutils.py
Labels: markup, refactoring

#6077 Fix :pep: and :rfc: roles are broken
  sphinx/roles.py
  tests/test_markup.py
Labels: bug

#6078 Fix a test
  tests/roots/test-html_entity/index.rst
Labels: bug, test

#6079 docs: Add SphinxRole and ReferenceRole
  doc/extdev/utils.rst
  sphinx/util/docutils.py
Labels: docs

#6080 Replace :guilabel: and :menuselection: roles by class based implementation
  CHANGES
  doc/extdev/index.rst
  sphinx/roles.py
  tests/test_markup.py
Labels: markup, refactoring

#6081 Replace :file: and :samp: roles by class based implementation
  CHANGES
  doc/extdev/index.rst
  sphinx/roles.py
  tests/test_markup.py
Labels: markup, refactoring

#6041 Simplify conf.py
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/epub3.py
  sphinx/templates/quickstart/conf.py_t
  tests/test_build_epub.py
  tests/test_quickstart.py
Labels: config, proposal

#6074 Closes #1148: autodoc: Add autodecorator directive for decorators
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/decorator.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#6066 Closes #4148: quickstart: some questions are removed
  CHANGES
  sphinx/cmd/quickstart.py
Labels: cmdline, proposal

#6082 refactor XRefRole using ReferenceRole class
  sphinx/roles.py
  tests/test_markup.py
Labels: markup, refactoring

#6071 Fix #6019: imgconverter: Including multipage PDF fails
  CHANGES
  sphinx/ext/imgconverter.py
Labels: bug, extensions

#6051 Fix #6026: LaTeX: A cross reference to definition list does not work
  CHANGES
  sphinx/util/nodes.py
  sphinx/writers/latex.py
Labels: bug, latex

#6083 Fix #6047: autodoc: ``autofunction`` emits a warning for method objects
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/callable.py
  tests/test_autodoc.py
Labels: autodoc, bug

#6085 test: Use get_doctree() to load doctree files
  tests/test_build.py
  tests/test_ext_autodoc.py
  tests/test_intl.py
  tests/test_markup.py
Labels: refactoring, test

#6042 quickstart: Simplify generated conf.py (HTML)
  sphinx/templates/quickstart/conf.py_t
Labels: config, proposal

#6086 Separate json and pickle to sphinxcontrib package
  CHANGES
  doc/extdev/index.rst
  doc/usage/builders/index.rst
  setup.py
  sphinx/application.py
  sphinx/builders/html.py
  sphinx/util/jsonimpl.py
  tests/test_build.py
Labels: refactoring

#6093 Update warning messages for script_files
  sphinx/builders/html.py
Labels: html theme, refactoring

#6098 Fix #6096: html: Anchor links are not added to figures
  CHANGES
  sphinx/writers/html.py
  sphinx/writers/html5.py
  tests/test_build_html.py
Labels: bug, html

#6099 docs: Add a tip about $REQUESTS_CA_BUNDLE
  doc/usage/configuration.rst
Labels: docs

#5508 directive-code: do not force linenos value on run
  sphinx/directives/code.py
  tests/roots/test-directive-code/linenothreshold.rst
  tests/roots/test-directive-code/literal-short.inc
  tests/test_directive_code.py
Labels: bug, markup

#6091 #3620: Defer searchindex.js rather than loading it via ajax
  sphinx/themes/basic/search.html
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#6048 Doc rework (development guide, part 1)
  doc/development/tutorials/examples/README.rst
  doc/development/tutorials/examples/helloworld.py
  doc/development/tutorials/examples/recipe.py
  doc/development/tutorials/examples/todo.py
  doc/development/tutorials/helloworld.rst
  doc/development/tutorials/index.rst
  doc/development/tutorials/recipe.rst
  doc/development/tutorials/todo.rst
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/__init__.py
Labels: docs, proposal

#6101 #36 add Google Search how-to to FAQ
  doc/faq.rst
Labels: docs

#6095 Ignore filenames without file extensions given to ``Builder.build_specific()``
  CHANGES
  sphinx/builders/__init__.py
  tests/test_application.py
Labels: api, builder

#6107 Replace :autolink: roles by class based implementation
  CHANGES
  doc/extdev/index.rst
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, refactoring

#6109 refactor: test_autodoc
  tests/test_autodoc.py
Labels: refactoring, test

#6108 refactor: Move implementation of mock to sphinx.ext.autodoc.mock
  CHANGES
  doc/extdev/index.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autodoc/mock.py
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autodoc_mock.py
Labels: autodoc, refactoring

#6106 refactor: import_object() allows to import nested objects (ex. nested class)
  sphinx/util/__init__.py
  tests/test_util.py
Labels: refactoring

#6110 Refactor catalog detection and compilation
  CHANGES
  doc/extdev/index.rst
  sphinx/application.py
  sphinx/builders/__init__.py
  sphinx/builders/gettext.py
  sphinx/environment/__init__.py
  sphinx/transforms/i18n.py
  sphinx/util/i18n.py
  tests/roots/test-builder-gettext-dont-rebuild-mo/conf.py
  tests/roots/test-builder-gettext-dont-rebuild-mo/xx/LC_MESSAGES/bom.po
  tests/roots/test-intl/xx/LC_MESSAGES/admonitions.po
  tests/roots/test-intl/xx/LC_MESSAGES/bom.po
  tests/roots/test-intl/xx/LC_MESSAGES/definition_terms.po
  tests/roots/test-intl/xx/LC_MESSAGES/docfields.po
  tests/roots/test-intl/xx/LC_MESSAGES/external_links.po
  tests/roots/test-intl/xx/LC_MESSAGES/figure.po
  tests/roots/test-intl/xx/LC_MESSAGES/footnote.po
  tests/roots/test-intl/xx/LC_MESSAGES/glossary_terms.po
  tests/roots/test-intl/xx/LC_MESSAGES/glossary_terms_inconsistency.po
  tests/roots/test-intl/xx/LC_MESSAGES/index.po
  tests/roots/test-intl/xx/LC_MESSAGES/index_entries.po
  tests/roots/test-intl/xx/LC_MESSAGES/label_target.po
  tests/roots/test-intl/xx/LC_MESSAGES/literalblock.po
  tests/roots/test-intl/xx/LC_MESSAGES/only.po
  tests/roots/test-intl/xx/LC_MESSAGES/raw.po
  tests/roots/test-intl/xx/LC_MESSAGES/refs.po
  tests/roots/test-intl/xx/LC_MESSAGES/refs_inconsistency.po
  tests/roots/test-intl/xx/LC_MESSAGES/refs_python_domain.po
  tests/roots/test-intl/xx/LC_MESSAGES/role_xref.po
  tests/roots/test-intl/xx/LC_MESSAGES/rubric.po
  tests/roots/test-intl/xx/LC_MESSAGES/section.po
  tests/roots/test-intl/xx/LC_MESSAGES/seealso.po
  tests/roots/test-intl/xx/LC_MESSAGES/sphinx.po
  tests/roots/test-intl/xx/LC_MESSAGES/table.po
  tests/roots/test-intl/xx/LC_MESSAGES/topic.po
  tests/roots/test-intl/xx/LC_MESSAGES/versionchange.po
  tests/roots/test-intl/xx/LC_MESSAGES/warnings.po
  tests/test_catalogs.py
  tests/test_intl.py
  tests/test_util_i18n.py
Labels: i18n, refactoring

#6111 Fix #6028: graphviz: Ensure the graphviz filenames are reproducible
  CHANGES
  sphinx/ext/graphviz.py
Labels: bug, extensions

#6112 Revert "C++, conditionally disable test on sys.maxunicode"
  tests/test_domain_cpp.py
Labels: domains:cpp, test

#6114 Fix #6113: html: Table cells and list items have large margins
  CHANGES
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html theme

#6115 Fix #6068: doctest: ``skipif`` option may remove the code block from documentation
  CHANGES
  sphinx/ext/doctest.py
Labels: bug, extensions

#6104 docs: Remove a term "new" from config values
  doc/usage/extensions/autodoc.rst
  doc/usage/extensions/autosummary.rst
  doc/usage/extensions/coverage.rst
  doc/usage/extensions/extlinks.rst
  doc/usage/extensions/graphviz.rst
  doc/usage/extensions/intersphinx.rst
Labels: docs
