Repository sphinx-doc/sphinx, pull requests merged in 2019-05, with the labels that each got.

#6332 Add ReSTRenderer; a helper for rendering reST text
  sphinx/util/rst.py
  sphinx/util/template.py
  tests/test_util_rst.py
  tests/test_util_template.py
Labels: refactoring

#6334 Removing broken links
  doc/faq.rst
Labels: bug, docs

#6333 adding German book about Sphinx
  doc/_templates/index.html
Labels: docs

#6337 Add extra requirements for docs (refs: #6336)
  setup.py
  tox.ini
Labels: docs

#6342 Merge test_ext_inheritance.py to test_ext_inheritance_diagram.py
  tests/test_ext_inheritance.py
  tests/test_ext_inheritance_diagram.py
Labels: refactoring, test

#6338 refactor apidoc: Add templates for generating reST files
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/apidoc.py
  sphinx/templates/apidoc/module.rst
  sphinx/templates/apidoc/package.rst
  sphinx/templates/apidoc/toc.rst
  tests/test_ext_apidoc.py
Labels: apidoc, refactoring

#6343 Fix #6331: man: invalid output when doctest follows rubric
  CHANGES
  sphinx/writers/manpage.py
  tests/test_build_manpage.py
Labels: bug, man

#6341 Fix #4550: html: Centering tables by default using CSS
  CHANGES
  sphinx/templates/latex/longtable.tex_t
  sphinx/templates/latex/tabular.tex_t
  sphinx/templates/latex/tabulary.tex_t
  sphinx/themes/basic/static/basic.css_t
  sphinx/transforms/__init__.py
  sphinx/writers/latex.py
  tests/test_build_html.py
  tests/test_ext_graphviz.py
  tests/test_ext_inheritance_diagram.py
Labels: html

#6355 test: declare pytest markers
  setup.cfg
Labels: test

#6326 Refactor sphinx.highlighting
  sphinx/highlighting.py
Labels: refactoring

#6354 Fix #6351: "Hyperlink target is not referenced" message is shown even if referenced
  CHANGES
  sphinx/io.py
  sphinx/transforms/references.py
Labels: bug, markup

#6201 Fix #6165: autodoc: ``tab_width`` setting of docutils has been ignored
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autosummary/__init__.py
  sphinx/util/docstrings.py
  tests/test_autodoc.py
Labels: autodoc, bug

#6320 Support property (autodoc, py-domain)
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/python.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/util/inspect.py
  tests/test_autodoc.py
  tests/test_domain_py.py
  tests/test_util_inspect.py
Labels: autodoc, domains:py, enhancement

#6314 Add rst:directive:option directive
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/rst.py
  tests/test_domain_rst.py
Labels: domains:rst, enhancement

#6359 refactor get_members() in autosummary
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#6356 Add utils/doclinter.py; a documenter linter for Sphinx
  doc/develop.rst
  doc/extdev/index.rst
  doc/extdev/markupapi.rst
  doc/templating.rst
  doc/usage/restructuredtext/domains.rst
  tox.ini
  utils/doclinter.py
Labels: docs, refactoring

#6353 Fix #6311: autosummary: autosummary table gets confused by complex type hints
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/roots/test-ext-autosummary/index.rst
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#6363 Add %O% option to make.bat template; update docs
  doc/man/sphinx-build.rst
  sphinx/templates/quickstart/make.bat.new_t
  sphinx/templates/quickstart/make.bat_t
Labels: cmdline, enhancement

#6367 Fix modname of HTMLHelpBuilder
  doc/usage/builders/index.rst
Labels: api, bug

#6368 Reduce warnings of autodoc in 2.0 branch
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/__init__.py
Labels: autodoc, bug, refactoring

#6369 refactor: apidoc: Replace makename() by module_join()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/apidoc.py
Labels: apidoc, refactoring

#6373 autosectionlabel: add type for suppress_warnings
  CHANGES
  doc/usage/configuration.rst
  sphinx/ext/autosectionlabel.py
Labels: enhancement, extensions

#6209 Support coverage_ignore_py in the coverage extension
  AUTHORS
  CHANGES
  doc/usage/extensions/coverage.rst
  sphinx/ext/coverage.py
  tests/roots/test-ext-coverage/conf.py
  tests/roots/test-ext-coverage/coverage_ignored.py
  tests/roots/test-ext-coverage/coverage_not_ignored.py
  tests/roots/test-ext-coverage/index.rst
  tests/test_ext_coverage.py
Labels: enhancement, extensions

#6381 Fix #6378: linkcheck: Send commonly used User-Agent
  CHANGES
  sphinx/builders/linkcheck.py
Labels: bug, builder

#6383 Fix #6379: py domain: Module index (py-modindex.html) has duplicate titles
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#6376 Fix #6375: extlinks: Cannot escape angle brackets in link caption
  CHANGES
  sphinx/util/nodes.py
  tests/test_util_nodes.py
Labels: bug, extensions

#6365 Add :abstractmethod: option to py:method directive and support abstractmethod by autodoc
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/python.py
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/abstractmethods.py
  tests/test_autodoc.py
  tests/test_domain_py.py
Labels: autodoc, domains:py, enhancement

#6366 doc: Update with rst:directive:option directive
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/rst.py
Labels: docs, refactoring

#6385 docs: Update URL of writethedocs (refs: #6384)
  doc/intro.rst
Labels: bug, docs

#6392 doc: Remove hieroglyph temporarily (refs: #6348)
  doc/faq.rst
Labels: docs

#6364 Fix latex figure in admonition
  CHANGES
  sphinx/writers/latex.py
  tests/roots/test-latex-figure-in-admonition/conf.py
  tests/roots/test-latex-figure-in-admonition/img.png
  tests/roots/test-latex-figure-in-admonition/index.rst
  tests/test_build_latex.py
Labels: api, latex

#6388 Close #6325: autodoc: Support attributes in __slots__
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/slots.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#6386 Enable doclinter by default on CI
  .travis.yml
  CHANGES
  doc/develop.rst
  doc/extdev/appapi.rst
  doc/extdev/deprecated.rst
  doc/extdev/logging.rst
  doc/extdev/markupapi.rst
  doc/faq.rst
  doc/man/sphinx-apidoc.rst
  doc/theming.rst
  doc/usage/advanced/websupport/quickstart.rst
  doc/usage/extensions/autodoc.rst
  doc/usage/extensions/inheritance.rst
  doc/usage/extensions/todo.rst
  doc/usage/restructuredtext/directives.rst
  doc/usage/restructuredtext/domains.rst
  utils/doclinter.py
Labels: docs, refactoring

#6394 Fix #6387: html search: failed to search document with haiku and scrolls themes
  CHANGES
  sphinx/themes/haiku/layout.html
  sphinx/themes/scrolls/layout.html
Labels: bug, html search

#6395 Fix #6350: autosummary is confused by an argument having some kind of default value
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: api, autosummary

#6396 refactor: Add AutosummaryRenderer; rendering utility for autosummary
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#6407 Fix #6406: Wrong year is returned for ``SOURCE_DATE_EPOCH``
  CHANGES
  sphinx/util/i18n.py
Labels: bug, i18n

#6398 Close #6239: latex: Support to build Chinese documents
  CHANGES
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/util.py
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: enhancement, latex

#6401 Fix #4390: html: Consistent and semantic CSS for signatures
  CHANGES
  sphinx/writers/html5.py
Labels: enhancement, html

#6404 Fix #6347: autodoc: crashes with a plain Tuple on Python 3.6 and 3.5
  CHANGES
  sphinx/util/inspect.py
  tests/test_util_inspect.py
  tests/typing_test_data.py
Labels: api, autodoc

#6410 doc: Fold lines by 80 columns
  CHANGES
  CONTRIBUTING.rst
  Makefile
  doc/development/tutorials/todo.rst
  doc/extdev/i18n.rst
  doc/extdev/index.rst
  doc/templating.rst
  doc/usage/extensions/graphviz.rst
  doc/usage/extensions/ifconfig.rst
  doc/usage/restructuredtext/domains.rst
  utils/doclinter.py
Labels: docs, refactoring

#6403 Fix #6402: image directive crashes by unknown image format
  CHANGES
  sphinx/environment/collectors/asset.py
Labels: bug, markup

#6408 Fix the ranking of search results
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#6411 Fix autosummary should use new documenters
  sphinx/ext/autosummary/generate.py
Labels: autosummary, bug

#6412 refactor apidoc: Add is_skipped_module()
  sphinx/ext/apidoc.py
  tests/test_ext_apidoc.py
Labels: apidoc, refactoring

#6397 Close #6361: autodoc: Add autodoc_typehints to suppress typehints from signature
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#6420 Fix #6405: docs: wrong link
  doc/development/tutorials/helloworld.rst
Labels: bug, docs
