Repository sphinx-doc/sphinx, pull requests merged in 2020-04, with the labels that each got.

#7402 Fix #7401: Incorrect argument is passed for env-get-outdated handlers
  CHANGES
  sphinx/builders/__init__.py
Labels: api, bug

#7415 Fix #7409: Convert configuration values on late config-inited event
  CHANGES
  sphinx/builders/epub3.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/__init__.py
  sphinx/config.py
  sphinx/ext/intersphinx.py
  sphinx/extension.py
  sphinx/registry.py
Labels: bug, extensions:intersphinx

#7434 Add libCEED to EXAMPLES
  EXAMPLES
Labels: docs

#7432 Fix #7428: py domain: a reference to class ``None`` emits a nitpicky warning
  CHANGES
  sphinx/domains/python.py
Labels: bug, domains:py

#7444 C++, fix merging overloaded functions in parallel builds.
  CHANGES
  sphinx/domains/cpp.py
Labels: bug, domains:cpp

#7431 Fix #7422: autodoc: fails with ValueError when using autodoc_mock_imports
  CHANGES
  sphinx/util/inspect.py
Labels: autodoc, bug, prio:high

#7440 Fix #7418: std domain: duplication warning for glossary terms is case insensitive
  CHANGES
  doc/extdev/index.rst
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: bug, domains:std

#7441 Fix #7423: crashed when giving a non-string object to logger
  CHANGES
  sphinx/util/logging.py
  tests/test_util_logging.py
Labels: bug

#7449 Do not include xmlns attribute with HTML 5 doctype
  sphinx/themes/basic/layout.html
Labels: bug, html theme

#7426 Escape some links in HTML templates
  sphinx/themes/agogo/layout.html
  sphinx/themes/basic/domainindex.html
  sphinx/themes/basic/globaltoc.html
  sphinx/themes/basic/layout.html
  sphinx/themes/basic/localtoc.html
  sphinx/themes/basic/opensearch.xml
  sphinx/themes/haiku/layout.html
  sphinx/themes/pyramid/layout.html
  sphinx/themes/scrolls/layout.html
Labels: bug, html theme

#7442 Fix #7435: autodoc_typehints doesn't suppress typehints for classes/methods
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7454 Fix #7445: a return annotation ``None`` is not converted to a hyperlink
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#7452 Fix #7451: autodoc: failed with non-string __doc__ member
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7455 Makefile: Fix "make clean-mypyfiles"
  Makefile
Labels: bug

#7458 doc: Fix indentation
  doc/extdev/i18n.rst
Labels: apidoc, bug

#7412 LaTeX: Make the ``toplevel_sectioning`` setting optional in LaTeX theme
  CHANGES
  sphinx/builders/latex/theming.py
Labels: enhancement, latex

#7460 Fix #7410: Allow to suppress "circular toctree references detected" warnings
  CHANGES
  doc/usage/configuration.rst
  sphinx/environment/adapters/toctree.py
Labels: enhancement, toctree

#7464 Deprecate: The module argument of find_autosummary_in_docstring()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#7465 :heavy_plus_sign: :bulgaria: :india: :albania: :serbia:
  doc/usage/configuration.rst
Labels: docs

#7468 C, add scoping directives
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
  tests/roots/test-domain-c/namespace.rst
  tests/test_domain_c.py
Labels: domains:c, enhancement

#7471 C, parse attributes
  CHANGES
  doc/usage/configuration.rst
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: bug, domains:c, enhancement

#7467 Fix #7466: autosummary: headings in generated documents are not translated
  CHANGES
  sphinx/ext/autosummary/generate.py
  sphinx/ext/autosummary/templates/autosummary/class.rst
  sphinx/ext/autosummary/templates/autosummary/module.rst
Labels: autosummary, bug, i18n

#7462 Fix #7461: py domain: fails with IndexError for empty tuple in type annotation
  CHANGES
  sphinx/domains/python.py
  sphinx/pycode/ast.py
  tests/test_domain_py.py
  tests/test_pycode_ast.py
Labels: autodoc, bug, domains:py

#7472 c domain: Fix TypeError by missing config arugment
  sphinx/domains/c.py
Labels: bug, domains:c

#7474 refactor: autodoc: Use ENUM to autoclass_content
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#7475 autodoc: Remove autodoc_default_flags (no longer used)
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#7481 basic theme: Add right margin to footnote/citation labels
  sphinx/themes/basic/static/basic.css_t
Labels: html theme, proposal

#7483 Fix #7477: imgconverter: Invoke "magick convert" command on Windows
  CHANGES
  doc/usage/extensions/imgconverter.rst
  sphinx/ext/imgconverter.py
Labels: bug, extensions

#7482 basic theme: CSS spacing for code blocks with captions and line numbers
  sphinx/themes/basic/static/basic.css_t
Labels: html, proposal

#7443 Add globaltoc_collapse and globaltoc_includehidden options
  doc/usage/theming.rst
  sphinx/themes/basic/globaltoc.html
  sphinx/themes/basic/theme.conf
Labels: html theme, proposal

#7484 basic theme: Avoid clashes between sidebar and other blocks
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html theme

#7496 C++, rebased version of #7489
  CHANGES
  sphinx/domains/cpp.py
Labels: bug, domains:cpp

#7476 Relbar breadcrumb should contain current page
  sphinx/themes/basic/layout.html
Labels: html, proposal

#7494 Deduplicate some code in `pycode.ast`
  sphinx/pycode/ast.py
Labels: refactoring

#7499 DOC: Use html_baseurl
  doc/_themes/sphinx13/layout.html
  doc/conf.py
Labels: docs

#7503 test: Add a docstring to avoid an error on py39a5+
  tests/roots/test-ext-autodoc/target/__init__.py
Labels: bug, test

#7414 Fix for Xindy language options
  sphinx/builders/latex/__init__.py
Labels: bug, latex

#7506 Escape "canonical" URL
  sphinx/themes/basic/layout.html
Labels: bug, html theme

#7501 Fix #7418: std domain: term role role could not match case-insensitively
  CHANGES
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: bug, domains:std

#7504 Fix #7479: autodoc: Sphinx builds has been slower since 3.0.0
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/mock.py
Labels: autodoc, bug

#7508 Fix sphinx crashes with ImportError on python3.5.1
  CHANGES
  sphinx/deprecation.py
  sphinx/io.py
  sphinx/roles.py
Labels: bug

#7502 doc: Fix html_use_opensearch of sphinx-doc.org
  doc/conf.py
Labels: bug, docs

#7511 Fix #7510: py domain: keyword-only arguments are wrongly rendered
  CHANGES
  sphinx/util/inspect.py
  tests/test_domain_py.py
  tests/test_util_inspect.py
Labels: bug, domains:py

#7512 Check for __display_version__ in package_dir
  sphinx/__init__.py
Labels: bug

#7513 Fix #7488: Update docs
  doc/usage/advanced/intl.rst
Labels: bug, docs

#7509 refactor: Add Optional to type annotations
  sphinx/builders/latex/util.py
  sphinx/deprecation.py
  sphinx/ext/napoleon/iterators.py
  sphinx/locale/__init__.py
  sphinx/pycode/ast.py
  sphinx/util/images.py
  sphinx/util/inspect.py
  sphinx/util/osutil.py
  sphinx/util/png.py
Labels: refactoring

#7413 LaTeX: Allow to override papersize and pointsize from LaTeX themes
  CHANGES
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/constants.py
  sphinx/builders/latex/theming.py
  tests/roots/test-latex-theme/theme/custom/theme.conf
  tests/test_build_latex.py
Labels: enhancement, latex

#7492 Close #7490: autosummary: Add ``:caption:`` option to autosummary directive
  CHANGES
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  tests/roots/test-ext-autosummary/index.rst
  tests/test_ext_autosummary.py
Labels: autosummary, enhancement

#7411 LaTeX: Add `latex_theme_options` to override theme options
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/theming.py
  tests/test_build_latex.py
Labels: latex, proposal

#7519 Change http:// to https://www in HTML footer
  sphinx/themes/basic/layout.html
Labels: docs

#7520 fix for #7516
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7527 recursive autosummary feature
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/ext/autosummary/templates/autosummary/module.rst
  tests/roots/test-ext-autosummary-recursive/conf.py
  tests/roots/test-ext-autosummary-recursive/index.rst
  tests/roots/test-ext-autosummary-recursive/package/__init__.py
  tests/roots/test-ext-autosummary-recursive/package/module.py
  tests/roots/test-ext-autosummary-recursive/package/module_importfail.py
  tests/roots/test-ext-autosummary-recursive/package/package/__init__.py
  tests/roots/test-ext-autosummary-recursive/package/package/module.py
  tests/roots/test-ext-autosummary-recursive/package2/__init__.py
  tests/roots/test-ext-autosummary-recursive/package2/module.py
  tests/test_ext_autosummary.py
Labels: autosummary, enhancement

#7533 basic theme: Avoid whitespace at the beginning of genindex.html
  sphinx/themes/basic/genindex.html
Labels: bug, html theme

#7537 Fix #7534: docs: Big vertical whitespace rendered in official doc
  doc/_themes/sphinx13/static/sphinx13.css
Labels: bug, html

#7473 Add support for :meta public:
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/private.py
  tests/test_ext_autodoc_private_members.py
Labels: autodoc, proposal

#7538 Fix #7535: sphinx-autogen: crashes when custom template uses inheritance
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/generate.py
  sphinx/util/template.py
Labels: autosummary, bug

#7540 basic theme: set "clear: both" on "highlight*" divs
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html theme

#7515 Close #2044: autodoc: Suppress default value for instance attributes
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#7541 basic theme: Add a "clearer" at the end of the "body".
  sphinx/themes/basic/layout.html
Labels: bug, html theme

#7542 basic theme: Make admonition/topic/sidebar scrollable
  sphinx/themes/basic/static/basic.css_t
Labels: html theme

#7526 refactor: autosummary: Change first argument for AutosummaryRenderer
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#7545 C and C++, allow semicolons in the end of declarations
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  tests/roots/test-domain-c/semicolon.rst
  tests/roots/test-domain-cpp/semicolon.rst
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: domains:c, domains:cpp, enhancement

#7547 refactor: Do not pass builder paramater to generate_autosummary_docs()
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, refactoring

#7548 refactor: AutosummaryRender
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#7556 C, parse all types of array declarators
  CHANGES
  sphinx/domains/c.py
  tests/test_domain_c.py
Labels: bug, domains:c, enhancement

#7485 C++, add support for parameterized noexcept specifier in function dec…
  .gitignore
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp, enhancement

#7554 Fix #6703: autodoc: incremental build does not work for imported objects
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7546 Close #4030: autosummary: Add autosummary_context
  CHANGES
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/roots/test-templating/_templates/autosummary/class.rst
  tests/test_ext_autosummary.py
  tests/test_templating.py
Labels: autosummary, enhancement

#7564 autodoc: Fix a logic error that causes annotations not to be shown for descriptors
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typed_vars.py
  tests/test_autodoc.py
Labels: autodoc, bug

#7543 basic theme: Add top and bottom margins to tables
  sphinx/themes/basic/static/basic.css_t
Labels: enhancement, html theme

#7560 Refactor pycode parser
  sphinx/pycode/parser.py
Labels: autodoc, refactoring

#7569 Do not emit type arguments twice
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: autodoc, bug

#7573 Fix CHANGES: some bugfix entries are categorized as new features
  CHANGES
Labels: bug, docs

#7557 Fix #6588: autodoc: Decorated inherited method has no documentation
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#7561 Support @final decorator
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/python.py
  sphinx/ext/autodoc/__init__.py
  sphinx/pycode/__init__.py
  sphinx/pycode/parser.py
  tests/roots/test-ext-autodoc/target/final.py
  tests/test_autodoc.py
  tests/test_domain_py.py
  tests/test_pycode_parser.py
Labels: autodoc, domains:py, enhancement

#7572 Align equation numbers at the right margin
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html

#7416 Remove deprecated features marked as RemovedInSphinx40Warning
  doc/extdev/nodes.rst
  sphinx/addnodes.py
  sphinx/application.py
  sphinx/builders/_epub_base.py
  sphinx/builders/applehelp.py
  sphinx/builders/devhelp.py
  sphinx/builders/dirhtml.py
  sphinx/builders/epub3.py
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/htmlhelp.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/qthelp.py
  sphinx/builders/singlehtml.py
  sphinx/cmd/quickstart.py
  sphinx/config.py
  sphinx/deprecation.py
  sphinx/directives/__init__.py
  sphinx/directives/code.py
  sphinx/directives/other.py
  sphinx/domains/math.py
  sphinx/domains/python.py
  sphinx/domains/std.py
  sphinx/environment/__init__.py
  sphinx/environment/collectors/indexentries.py
  sphinx/events.py
  sphinx/ext/apidoc.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/ext/doctest.py
  sphinx/ext/imgmath.py
  sphinx/ext/jsmath.py
  sphinx/ext/todo.py
  sphinx/io.py
  sphinx/pycode/__init__.py
  sphinx/roles.py
  sphinx/search/__init__.py
  sphinx/testing/fixtures.py
  sphinx/testing/util.py
  sphinx/transforms/__init__.py
  sphinx/util/__init__.py
  sphinx/util/cfamily.py
  sphinx/util/compat.py
  sphinx/util/docfields.py
  sphinx/util/i18n.py
  sphinx/util/inspect.py
  sphinx/util/jsonimpl.py
  sphinx/util/nodes.py
  sphinx/util/osutil.py
  sphinx/util/pycompat.py
  sphinx/util/texescape.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/manpage.py
  tests/test_util_pycompat.py
Labels: refactoring

#7580 Fix #7469: autodoc: The change of autodoc-process-docstring is cached
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7584 ext.napoleon: Do not consume colons within inline code
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon
