Repository sphinx-doc/sphinx, pull requests merged in 2020-05, with the labels that each got.

#7577 doc: Fix examples of doctest extensions are still in py2 (refs: #7575)
  doc/usage/extensions/doctest.rst
Labels: bug, docs

#7571 Fix #7559: autodoc: misdetects a sync function is async
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/coroutine.py
  tests/test_autodoc.py
Labels: autodoc, bug

#7590 C++, parse expressions with user-defined literals
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp, enhancement

#7591 C++, parse trailing return types
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp, enhancement

#7589 Fix #7588: autosummary: allow any template suffix
  sphinx/ext/autosummary/generate.py
Labels: autosummary, bug

#7586 Fix #6857: autodoc: failed to detect a classmethod on Enum class
  CHANGES
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/enum.py
  tests/test_autodoc.py
Labels: autodoc, bug

#7583 ext.napoleon: Emit type annotations at the start of `.. attribute::`
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: extensions:napoleon, proposal

#7592 refactor: Update type annotations
  sphinx/ext/autodoc/mock.py
  sphinx/pycode/ast.py
  sphinx/pycode/parser.py
  sphinx/util/docutils.py
Labels: refactoring

#7562 always use separate fields for param and type in ext.autodoc.typehints
  sphinx/ext/autodoc/typehints.py
  tests/roots/test-ext-autodoc/index.rst
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, bug

#7595 refactor: autodoc: Update type annotations
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
Labels: autodoc, refactoring

#7598 Deprecate ignore parameter for Documenter.get_doc()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/docstrings.py
Labels: autodoc, refactoring

#7593 Close #7530: html: Support nested <kbd> elements
  CHANGES
  sphinx/builders/html/__init__.py
  sphinx/builders/html/transforms.py
  sphinx/util/nodes.py
  tests/test_markup.py
Labels: html, markup

#7604 Allow to build docs in readthedocs.org
  sphinx/builders/dirhtml.py
  sphinx/builders/html/__init__.py
  sphinx/builders/singlehtml.py
Labels: docs, refactoring

#7602 Add stacklevel parameter to warnings.warn() call
  sphinx/application.py
  sphinx/builders/_epub_base.py
  sphinx/builders/applehelp.py
  sphinx/builders/html/__init__.py
  sphinx/builders/htmlhelp.py
  sphinx/builders/latex/__init__.py
  sphinx/cmd/quickstart.py
  sphinx/config.py
  sphinx/domains/math.py
  sphinx/domains/python.py
  sphinx/domains/std.py
  sphinx/environment/__init__.py
  sphinx/environment/collectors/indexentries.py
  sphinx/ext/apidoc.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/ext/doctest.py
  sphinx/ext/todo.py
  sphinx/parsers.py
  sphinx/pycode/__init__.py
  sphinx/roles.py
  sphinx/search/__init__.py
  sphinx/util/__init__.py
  sphinx/util/compat.py
  sphinx/util/docfields.py
  sphinx/util/inspect.py
  sphinx/util/nodes.py
  sphinx/util/osutil.py
  sphinx/writers/latex.py
Labels: refactoring

#7605 Refactor tests
  setup.cfg
  tests/roots/test-ext-autodoc/target/cython.pyx
  tests/test_ext_autosummary.py
  tests/test_markup.py
  tests/test_util_docstrings.py
Labels: refactoring, test

#7606 refactor: Catch ImportError for lib2to3 to support future python
  setup.cfg
  sphinx/util/pycompat.py
Labels: config, refactoring

#7607 refactor: Clean up filterwarnings
  setup.cfg
Labels: refactoring, test

#7597 Close #7596: py domain: Change a type annotation for variables to a hyperlink
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, enhancement

#7463 Support canonical name of python objects
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/python.py
  tests/test_domain_py.py
  tests/test_environment.py
Labels: autodoc, bug

#7614 md5 OpenSSL FIPS mode fix #7611
  AUTHORS
  CHANGES
  sphinx/builders/html/__init__.py
  sphinx/ext/graphviz.py
  sphinx/ext/imgmath.py
  sphinx/ext/inheritance_diagram.py
  sphinx/transforms/post_transforms/images.py
  sphinx/util/__init__.py
  tests/test_build_html.py
Labels: bug

#7622 Refactor test autodoc
  tests/test_autodoc.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autodoc_events.py
  tests/test_ext_autodoc_private_members.py
Labels: autodoc, refactoring, test

#7621 refactor: autodoc: if-block for callable object is no longer needed
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#7625 Rewrite unparse to use ast.NodeVisitor
  sphinx/pycode/ast.py
Labels: autodoc, refactoring

#7497 Rewrite unparse to use ast.NodeVisitor
  sphinx/pycode/ast.py
Labels: autodoc, refactoring

#7594 Fix #7551: autosummary: a nested class is indexed as non-nested class
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/util/__init__.py
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/roots/test-ext-autosummary/index.rst
  tests/test_ext_autodoc.py
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#7615 Fix #7610: incorrectly renders consecutive backslashes
  CHANGES
  sphinx/transforms/__init__.py
  tests/test_markup.py
Labels: bug, markup

#7637 Suppress arguments if all system defined TypeVars on py39
  CHANGES
  sphinx/util/typing.py
Labels: autodoc, bug

#7632 Do not crash if `is_builtin_class_method` is passed a non-type
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: autodoc, refactoring

#7624 refactor: autodoc: class processors on autofunction is no longer needed
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/classes.py
  tests/test_ext_autodoc.py
  tests/test_util_inspect.py
Labels: autodoc

#7640 Suppress system defined type vars (for 3.0.x branch)
  CHANGES
  sphinx/util/typing.py
Labels: autodoc, bug

#7638 Fix #7626: release package does not contain ``CODE_OF_CONDUCT``
  CHANGES
  MANIFEST.in
Labels: bug

#7623 Fix #7362: autodoc: does not render correct signatures for built-in functions
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#7641 Deprecate sphinx.util:rpartition()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/search/__init__.py
  sphinx/util/__init__.py
Labels: refactoring

#7647 doc: Fix wrong version info
  doc/usage/configuration.rst
Labels: bug, docs

#7643 Fix #7628: imgconverter: runs imagemagick unnecessary
  CHANGES
  sphinx/transforms/post_transforms/images.py
Labels: bug, extensions

#7652 Fix test_ext_autodoc: Set testroot to testcases
  tests/test_ext_autodoc.py
Labels: refactoring, test

#7655 Make sphinx.util.typing.stringify render optional unions better
  sphinx/util/typing.py
  tests/test_util_inspect.py
  tests/typing_test_data.py
Labels: autodoc, enhancement

#7667 C++, add debug config variables
  sphinx/domains/cpp.py
Labels: domains:cpp

#7646 Fix #7629: autodoc: autofunction emits an unfriendly warning
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7651 Fix #7650: autodoc: undecorated signature is shown for decorated functions
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/decorator.py
  tests/test_ext_autodoc.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#7661 Fix autosummary directive wrong processing for invalid modules.
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: autosummary

#7658 Fix: handle errors on event handlers (refs: #7629)
  CHANGES
  sphinx/events.py
Labels: bug

#7673 C++, fix rendering of rooted nested names
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#7675 C, fix rendering of rooted nested names
  CHANGES
  sphinx/domains/c.py
  tests/test_domain_c.py
Labels: bug, domains:c

#7653 Fix multiple directory creation on quickstart script with nested relpath.
  sphinx/cmd/quickstart.py
Labels: bug, cmdline

#7677 refactor: autodoc: Remove magic mock from singledispatch processing
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, refactoring

#7678 C, enable tests of anon entities
  tests/test_domain_c.py
Labels: domains:c

#7679 Fix #7676: autodoc: typo in the default value of autodoc_member_order
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#7682 viewcode: Fix viewcode raises NoUri error on resolving phase except on HTML builders
  sphinx/ext/viewcode.py
Labels: bug, extensions

#7684 Add allowed_exceptions parameter to Sphinx.emit() (refs: #7683)
  CHANGES
  sphinx/application.py
  sphinx/events.py
  tests/test_events.py
Labels: api, enhancement

#7683 Re-allow NoUri from missing-reference handlers
  doc/extdev/appapi.rst
  sphinx/errors.py
  sphinx/transforms/post_transforms/__init__.py
Labels: bug, docs, enhancement

#7695 Add viewport meta tag for responsive layout
  sphinx/themes/basic/layout.html
Labels: html theme

#7469 autosummary tables include module attributes
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/generate.py
  sphinx/ext/autosummary/templates/autosummary/module.rst
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/roots/test-ext-autosummary/index.rst
  tests/test_ext_autosummary.py
Labels: autosummary, proposal

#7686 Fix #7685: autosummary: imported members are listed unexpectedly
  CHANGES
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#7702 Fix typo in make.bat_t, https:// link
  sphinx/templates/quickstart/make.bat_t
Labels: cmdline

#7700 remove repeted word in reStructuredText Primer
  doc/usage/restructuredtext/basics.rst
Labels: bug, docs

#7676 Respect member-order="bysource" even when no analyzer is present
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7680 Fix #7676: autodoc: wrong value for :member-order: option is ignored silently
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7705 Fix #7696: html: Updated jQuery version from 3.4.1 to 3.5.1
  CHANGES
  sphinx/themes/basic/static/jquery-3.5.1.js
  sphinx/themes/basic/static/jquery.js
  tests/test_theming.py
Labels: bug, html search

#7703 refactor: autosectionlabel: Use accessors of std domain
  sphinx/ext/autosectionlabel.py
Labels: extensions, refactoring

#7681 Fix #7679: autodoc: Pass priority option to the config-inited handler
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7689 bizstyle&sphinxdoc themes: Fix float behavior
  sphinx/themes/bizstyle/layout.html
  sphinx/themes/bizstyle/static/bizstyle.css_t
  sphinx/themes/sphinxdoc/layout.html
  sphinx/themes/sphinxdoc/static/sphinxdoc.css_t
Labels: bug, html theme

#7708 C, C++: fix typo in tests
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: domains:c, domains:cpp

#7672 Fix #7671: autosummary: The location of import failure warning is missing
  CHANGES
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, bug

#7669 Fix #7668: autodoc: wrong retann value is passed to autodoc-proccess-signature
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#7709 refactor: test: Separate tests for autofunction
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autofunction.py
Labels: refactoring, test

#7307 Fix #4187: latex: EN DASH disappears from PDF bookmarks in Japanese documents
  CHANGES
  sphinx/application.py
  sphinx/builders/latex/__init__.py
  sphinx/registry.py
  sphinx/templates/latex/latex.tex_t
Labels: bug, latex

#7712 refactor: autodoc: Sort members alphabetically when unknown order
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#7730 Fix lint errors
  sphinx/pycode/ast.py
  sphinx/util/__init__.py
Labels: refactoring

#7732 refactor test_project: PathComparer is unnecessary for this case
  tests/test_project.py
Labels: refactoring, test

#7731 refactor pycode: sort methods
  sphinx/pycode/ast.py
Labels: refactoring

#7725 Fixed broken link to pygments lexers doc
  doc/usage/configuration.rst
Labels: docs

#7713 Fix #3673: autodoc: bysource order does not work for a module having __all__
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/sort_by_all.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#7711 BUG: Fix check for meth
  sphinx/util/inspect.py
Labels: autodoc, bug

#7744 Add py38 to the list of PyPI classifiers
  setup.py
Labels: docs, refactoring

#7743 Test with python 3.10 (in master)
  .travis.yml
Labels: refactoring, test

#7384 autodoc: Respect type annotations in `__new__`, `metacls.__call__`, and builtin types
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autosummary.py
  tests/test_util_inspect.py
Labels: autodoc, proposal

#7738 Fix #7734: napoleon: overescaped trailing underscore on attribute
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#7746 Fix bug in mathjax: newest 2.x version not being loaded by latest.js
  sphinx/ext/mathjax.py
  tests/test_ext_math.py
Labels: bug, extensions

#7710 Do test with Windows on GitHub Actions
  .appveyor.yml
  .github/workflows/main.yml
Labels: refactoring, test

#7754 [doc] Rework "templating" documents
  doc/templating.rst
Labels: docs, refactoring

#7752 [doc] Rework "latex" document
  doc/latex.rst
  doc/usage/theming.rst
Labels: docs, refactoring

#7751 [doc] Remove the intro guide in favour of the quickstart guide
  doc/contents.rst
  doc/development/index.rst
  doc/usage/index.rst
  doc/usage/installation.rst
  doc/usage/quickstart.rst
Labels: docs, refactoring

#7759 doc: Remove intro.rst (ref: #7751)
  doc/intro.rst
Labels: bug, docs

#7755 [doc] Compare docutils and Sphinx
  doc/faq.rst
Labels: docs, proposal

#7748 Close #2106: autodoc: Support multiple signatures on docstring
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/docstring_signature.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, enhancement

#7749 Close #4422: autodoc: Support GenericAlias
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/genericalias.py
  tests/test_ext_autodoc.py
  tests/test_util_inspect.py
Labels: autodoc, enhancement

#7757 Fix #7756: py domain: The default value for posonlyarg is not shown
  CHANGES
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: bug, domains:py
