Repository sphinx-doc/sphinx, pull requests merged in 2020-03, with the labels that each got.

#7232 refactor: js domain: Change make_old_*_id() to methods
  sphinx/domains/javascript.py
Labels: domains:js, refactoring

#7229 rst domain: Generate node_id for objects in the right way
  CHANGES
  sphinx/domains/rst.py
  tests/test_domain_rst.py
Labels: domains:rst, refactoring

#7103 ENH: linkcheck: also write all links to output.json
  sphinx/builders/linkcheck.py
  tests/test_build_linkcheck.py
Labels: builder, proposal

#7235 refactor: Sorting index entries
  sphinx/environment/adapters/indexentries.py
Labels: refactoring

#7237 std domain: Generate node_id for generic objects and targets in the right way
  sphinx/domains/std.py
  tests/test_build_epub.py
  tests/test_build_html.py
Labels: bug, domains:std, refactoring

#7240 Close #7165: autodoc: Support Annotated type (PEP-593)
  CHANGES
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/annotated.py
  tests/test_autodoc.py
  tests/test_util_typing.py
Labels: autodoc, enhancement

#7244 refactor: Update type annotation for python domain
  sphinx/domains/python.py
Labels: domains:py, refactoring

#7248 tox: passenv: add TERM
  tox.ini
Labels: refactoring

#7249 Use "docs" extra on CircleCI
  .circleci/config.yml
Labels: refactoring, test

#7251 Update CHANGES and docs for PR #7064
  CHANGES
  doc/usage/restructuredtext/field-lists.rst
Labels: docs, html search

#7252 Fix typo
  sphinx/domains/python.py
Labels: bug, domains:py

#7253 Unpin coverage package
  setup.cfg
  tox.ini
Labels: refactoring

#7255 Add LaTeX styling hook for :kbd: role
  CHANGES
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/test_markup.py
Labels: enhancement, latex

#7005 Add LaTeX styling hook for :kbd: role
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/test_markup.py
Labels: enhancement, latex

#6969 LaTeX Theming support
  CHANGES
  doc/extdev/deprecated.rst
  doc/usage/configuration.rst
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/theming.py
  sphinx/writers/latex.py
  tests/roots/test-latex-theme/conf.py
  tests/roots/test-latex-theme/index.rst
  tests/roots/test-latex-theme/theme/custom/theme.conf
  tests/test_build_latex.py
Labels: latex, proposal

#7259 doc: Remove a mention to todo ext. from env-merge-info
  doc/extdev/appapi.rst
Labels: bug, docs

#7230 std domain: Generate node_id for objects in the right way
  sphinx/domains/std.py
  tests/test_build_html.py
  tests/test_domain_std.py
Labels: bug, domains:std, refactoring

#7260 refactor: latex: Move initialization of multilingual module to builder
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/constants.py
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: latex, refactoring

#7261 refactor: Update type annotation for cpp domain
  sphinx/domains/cpp.py
Labels: domains:cpp, refactoring

#7236 py domain: Generate node_id for objects and modules in the right way
  CHANGES
  doc/extdev/appapi.rst
  doc/templating.rst
  doc/usage/extensions/autosummary.rst
  sphinx/domains/python.py
  tests/test_build_html.py
  tests/test_domain_py.py
  tests/test_environment.py
  tests/test_intl.py
Labels: bug, domains:py, refactoring

#7254 Fix #6895: py domain: Do not emit nitpicky warnings for built-in types
  CHANGES
  sphinx/domains/python.py
Labels: domains:py, enhancement

#7234 Close #2815: autodoc: Support singledispatch functions and methods
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/singledispatch.py
  tests/roots/test-ext-autodoc/target/singledispatchmethod.py
  tests/test_autodoc.py
Labels: autodoc

#7272 Update CHANGES for #6903
  CHANGES
Labels: docs

#7262 test: Add testcase for special case of PythonDomain.find_obj()
  tests/roots/test-domain-py/module.rst
  tests/test_domain_py.py
Labels: domains:py, test

#7273 Fix #7267: autodoc: errormsg for invalid directive options has wrong location
  CHANGES
  sphinx/ext/autodoc/directive.py
Labels: autodoc, bug

#7271 Close #7246: Drop special cross reference helper for exceptions, functions and methods
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, refactoring

#7275 py domain: refactor PyDecoratorFunction and PyDecoratorMethod
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, refactoring

#7268 Close #7079: Make autodoc_typehints=description formal
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, proposal

#7278 Fix use of html_file_suffix instead of html_link_suffix in search results
  sphinx/builders/html/__init__.py
  sphinx/themes/basic/static/documentation_options.js_t
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#7287 Unpin pytest
  .travis.yml
  setup.py
Labels: test

#7285 Enable intersphinx with Sphinx's documentation
  doc/conf.py
Labels: docs

#7288 test: Disable codecov
  .travis.yml
Labels: test

#7281 Improve strings
  sphinx/builders/latex/__init__.py
  sphinx/cmd/build.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/ext/imgconverter.py
  sphinx/ext/intersphinx.py
Labels: cmdline, refactoring

#7292 Configure plantuml to generate svg files (fixes #7134)
  doc/_static/Makefile
  doc/_static/translation.png
  doc/_static/translation.svg
  doc/usage/advanced/intl.rst
Labels: docs

#7300 Fix mypy violations (with mypy-0.770)
  setup.py
  sphinx/application.py
  sphinx/util/console.py
  sphinx/util/nodes.py
Labels: refactoring

#7269 c domain: Generate node_id for objects in the right way
  CHANGES
  sphinx/domains/c.py
  tests/test_build_html.py
  tests/test_domain_c.py
Labels: bug, domains:c, refactoring

#7305 Fix #7304: pycode: Support operators (BinOp, BoolOp and UnaryOp)
  sphinx/pycode/ast.py
  tests/test_pycode_ast.py
Labels: bug, domains:py

#7306 Fix #7304: py domain: Improve warning messages on parsing failure
  sphinx/domains/python.py
Labels: bug, domains:py

#7179 Fix broken handling of whitespace in GenericObject.
  sphinx/domains/std.py
Labels: bug, domain

#6990 py domain: Allow to make a style for arguments of functions and methods
  CHANGES
  sphinx/addnodes.py
  sphinx/domains/python.py
  sphinx/transforms/post_transforms/__init__.py
  tests/test_build_html.py
  tests/test_domain_py.py
Labels: domains:py, enhancement

#7308 Fix #7282: i18n: messages using ngettext() does not translated
  sphinx/application.py
  sphinx/locale/sphinx.pot
Labels: bug, i18n

#7289 console: use bright colors instead of bold
  sphinx/util/console.py
Labels: bug

#7291 Handle singledispatch functions with rewritten signatures.
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/singledispatch.py
Labels: autodoc, refactoring

#7277 Fix #7276: cpp: objects generate hypertarget names unexpectedly
  CHANGES
  sphinx/domains/cpp.py
Labels: bug, domains:cpp

#7314 Propagate maxdepth option through package documents
  sphinx/ext/apidoc.py
  sphinx/templates/apidoc/package.rst_t
  tests/test_ext_apidoc.py
Labels: apidoc, proposal

#7142 Add option for auxiliary pygments styles
  doc/theming.rst
  sphinx/builders/html/__init__.py
  tests/roots/test-theming/test_theme/test-theme/theme.conf
  tests/test_build_html.py
  tests/test_theming.py
Labels: enhancement, html search

#7311 Revert "Enable patch status check for Codecov"
  .codecov.yml
Labels: test

#7316 Deprecate sphinx.util.pycompat.execfile_()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/config.py
  sphinx/util/pycompat.py
Labels: refactoring

#7322 C++, prevent false warnings from expressions with <
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#7313 Fix #7299: doc: Fix TODO tutorial
  doc/development/tutorials/examples/todo.py
Labels: bug, docs

#7323 Fix sphinx-autogen commandline in examples
  doc/man/sphinx-autogen.rst
Labels: bug, docs

#7315 Close #7293: html search: Allow to override JavaScript splitter
  CHANGES
  sphinx/search/__init__.py
Labels: enhancement, html search

#7319 C domain rewrite
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/addnodes.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  tests/roots/test-domain-c/conf.py
  tests/roots/test-domain-c/index.rst
  tests/roots/test-root/objects.txt
  tests/test_build_changes.py
  tests/test_build_html.py
  tests/test_domain_c.py
Labels: bug, domains:c, enhancement

#7327 Add suppress_logging()
  sphinx/util/logging.py
  tests/test_util_logging.py
Labels: refactoring

#7326 C and C++ domains, change to new logging
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  sphinx/util/docutils.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: domains:c, domains:cpp, refactoring

#7330 C++, add type annotations
  sphinx/domains/c.py
  sphinx/domains/cpp.py
Labels: domains:cpp, refactoring

#7333 C++, fix minor space issues in declarators
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#7332 :wrench: :warning: (#7292)
  doc/_static/Makefile
Labels: docs

#7312 Fix #7297: html theme: ``bizstyle`` does not support ``sidebarwidth``
  CHANGES
  sphinx/themes/bizstyle/static/bizstyle.css_t
  sphinx/themes/bizstyle/theme.conf
Labels: bug, html theme

#7317 Deprecate sphinx.ext.autodoc.get_documenters()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autosummary/__init__.py
Labels: autodoc, refactoring

#7320 refactor: autosummary: Define AutosummaryEntry as a return type of find_autosummary_*()
  sphinx/ext/autosummary/generate.py
  tests/test_ext_autosummary.py
Labels: autosummary, refactoring

#7328 Fix #7325: html: source_suffix containing dot leads to wrong source link
  CHANGES
  sphinx/builders/html/__init__.py
  sphinx/environment/__init__.py
Labels: bug, html

#7338 Correct minor typo
  doc/usage/extensions/autodoc.rst
Labels: docs

#7339 Fix #3842: singlehtml: Path to images broken when master doc is not in source root
  CHANGES
  sphinx/util/osutil.py
Labels: bug, html

#7342 test: Add testcase for make_id()
  tests/test_util_nodes.py
Labels: refactoring, test

#6473 Keep all backslashes in domain directives.
  CHANGES
  doc/usage/configuration.rst
  sphinx/directives/__init__.py
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-domain-cpp/backslash.rst
  tests/test_autodoc.py
  tests/test_domain_cpp.py
Labels: domain

#7336 Fix #7329: autodoc: typehints doc is wrongly generated
  CHANGES
  sphinx/ext/autodoc/typehints.py
Labels: autodoc, bug

#7347 Fix #7345: sphinx-build: Sphinx crashes if output directory exists as a file
  CHANGES
  sphinx/application.py
Labels: bug, cmdline

#7335 Fix #7334: py domain: Disable smartquotes for defvalues of arguments
  sphinx/domains/python.py
Labels: bug, domains:py

#7290 Ignore bdb.BdbQuit when handling exceptions
  sphinx/cmd/build.py
Labels: bug, cmdline

#7349 refactor: Import libraries at the top of script (if no reason)
  sphinx/cmd/build.py
Labels: refactoring

#7344 Fix #7343: Sphinx builds has been slower since 2.4.0 on debug mode
  CHANGES
  sphinx/util/docutils.py
Labels: bug

#7348 doc: Update about toctree directive
  doc/usage/restructuredtext/directives.rst
Labels: docs, toctree

#7350 Fix #6240: napoleon: Attributes and Methods sections ignore :noindex: option
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#7351 Fix #7324: Emit a warning if multiple files for same document found
  CHANGES
  sphinx/project.py
  sphinx/util/logging.py
  tests/test_util_logging.py
Labels: bug, enhancement

#7346 Close #7341: py domain: type annotations are converted to cross refs
  CHANGES
  sphinx/domains/python.py
  sphinx/testing/util.py
  tests/test_domain_py.py
Labels: domains:py, enhancement

#7352 Deprecate sphinx.ext.autosummary:process_autosummary_toc()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, refactoring

#7358 refactor: autodoc: Remove needless spaces from blank line
  sphinx/ext/autodoc/__init__.py
  tests/test_autodoc.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autodoc_events.py
  tests/test_ext_autodoc_private_members.py
Labels: autodoc, refactoring

#7359 Fix document
  doc/usage/restructuredtext/directives.rst
Labels: bug, docs

#7355 Fix #7331: autodoc: a cython-function are not recognized as a function
  CHANGES
  setup.py
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/cython.pyx
  tests/test_autodoc.py
Labels: autodoc, bug

#7360 Fix #7357: html: Resizing SVG image fails with ValueError
  CHANGES
  sphinx/writers/html.py
  sphinx/writers/html5.py
Labels: bug, html

#7356 Fix #7301: Allow . and _ for node_id
  sphinx/domains/python.py
  sphinx/util/nodes.py
  tests/test_build_epub.py
  tests/test_build_html.py
  tests/test_domain_js.py
  tests/test_domain_py.py
  tests/test_environment.py
  tests/test_intl.py
  tests/test_util_nodes.py
Labels: domain, refactoring

#7371 Fix #7370: autosummary: raises UnboundLocalError when unknown module given
  CHANGES
  sphinx/ext/autosummary/generate.py
Labels: autosummary, bug

#7365 Fix #7364: autosummary: crashed when autosummary_generate is False
  CHANGES
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, bug

#7373 C++, alternative spellings of operators
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: domains:cpp

#7366 :new: pyvista in EXAMPLES
  EXAMPLES
Labels: docs

#7375 C, alternative spellings of operators
  CHANGES
  sphinx/domains/c.py
  tests/test_domain_c.py
Labels: domains:c

#7376 C, C++, improve error messages
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
Labels: domains:c, domains:cpp

#7378 Update Instalation.rst - Docker sphinx-quickstart
  doc/usage/installation.rst
Labels: docs

#7377 Add more EXAMPLES, update some changed links
  EXAMPLES
Labels: docs

#7380 C++, comma operator, pack expansion, error messages
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#7381 C and C++, do not recurse in anon symbols when adding new symbols
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  tests/roots/test-domain-c/anon-dup-decl.rst
  tests/roots/test-domain-cpp/anon-dup-decl.rst
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: bug, domains:c, domains:cpp

#7389 :gift_heart: Let's say thanks to all translator
  doc/_templates/index.html
Labels: docs

#7393 doc: Hide changelog entries on ToC page
  doc/changes.rst
Labels: docs

#7392 Fix #7225: release package contains .mypy_cache directory
  Makefile
Labels: bug

#7394 Update CONTRIBUTING
  CONTRIBUTING.rst
Labels: docs

#7222 Fix: autodoc: `__wrapped__` functions are not documented correctly
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/wrappedfunction.py
  tests/test_autodoc.py
Labels: autodoc, bug, enhancement

#7390 Fix #6477: Escape first "!" in a cross reference linking no longer possible
  CHANGES
  sphinx/roles.py
  sphinx/util/docutils.py
  tests/test_domain_std.py
Labels: bug, domain

#7395 Fix #7219: py:function directive generates incorrect index entry
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#7374 Fix #7301: capital characters are not allowed for node_id
  CHANGES
  sphinx/builders/_epub_base.py
  sphinx/util/nodes.py
  tests/test_build_epub.py
  tests/test_build_html.py
  tests/test_domain_js.py
  tests/test_domain_py.py
  tests/test_domain_std.py
  tests/test_environment_indexentries.py
  tests/test_intl.py
  tests/test_util_nodes.py
Labels: bug, domain

#7363 refactor: py domain: Use namedtuple for python objects and modules
  sphinx/domains/python.py
Labels: domains:py, refactoring

#7398 refactor: Update type annotation for autosummary
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#7399 refactor: Update type annotation for cpp domain
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/transforms/post_transforms/__init__.py
Labels: domains:c, domains:cpp, refactoring

#7400 refactor: autosummary: string source_parsers are no longer registred
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, refactoring

#7387 Add ObjectDescription.transform_content()
  CHANGES
  sphinx/directives/__init__.py
Labels: domain

#7397 Fix html: a width of table was ignored on HTML builder (ref: #6564)
  CHANGES
  sphinx/writers/html5.py
Labels: bug, html

#7403 Fix #7355: autodoc: a signature of cython-function is not recognized well
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/cython.pyx
  tests/test_autodoc.py
Labels: autodoc, bug
