Repository sphinx-doc/sphinx, pull requests merged in 2020-11, with the labels that each got.

#8351 Cleanup napoleon
  sphinx/ext/napoleon/docstring.py
Labels: extensions:napoleon, refactoring

#8354 Don't remove substitution_reference nodes (refined)
  sphinx/builders/latex/transforms.py
  sphinx/transforms/references.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
Labels: latex, proposal

#8357 Test and document support for Python 3.9 release
  .travis.yml
  setup.py
Labels: test

#8075 Fix #6914: Emit a detailed warning when failed to resolve :ref:
  CHANGES
  doc/extdev/appapi.rst
  sphinx/domains/std.py
  sphinx/events.py
  sphinx/transforms/post_transforms/__init__.py
  tests/roots/test-domain-py-xref-warning/conf.py
  tests/roots/test-domain-py-xref-warning/index.rst
  tests/test_domain_py.py
Labels: domains:std, enhancement

#8359 doc: Update sphinx-contrib repos' URL (refs: #8349)
  doc/develop.rst
Labels: bug, docs

#8345 Fix #8342: Emit a warning if a unknown domain is given for directive or role
  CHANGES
  sphinx/util/docutils.py
Labels: domain, enhancement, markup

#8366 Do testing at GitHub Actions
  .github/workflows/main.yml
  .travis.yml
Labels: test

#8367 Do testing with python3.5 at GitHub Actions
  .github/workflows/main.yml
  .travis.yml
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autofunction.py
Labels: test

#8355 Fix #7613: autodoc: autodoc does not respect __signature__ of the class
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/classes.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_ext_autodoc_autofunction.py
Labels: autodoc, bug

#8369 test: Send test-coverage data from GitHub Action
  .github/workflows/main.yml
  .travis.yml
  tox.ini
Labels: refactoring, test

#8371 test: Do "npm test" on GitHub Actions
  .github/workflows/nodejs.yml
  .travis.yml
Labels: refactoring, test

#8373 Update release checklist
  utils/release-checklist
Labels: docs

#8363 test: Do test with py39
  .github/workflows/main.yml
  setup.py
Labels: test

#8377 Fix #8375: URL of transifex project page
  doc/internals/contributing.rst
Labels: bug, docs

#8382 Drop Python 3.4 compatibility code
  sphinx/util/inspect.py
Labels: refactoring

#8361 Fix #4606: autodoc: the location of the warning is incorrect for inherited method
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8378 Drop code for supporting py35
  setup.py
  sphinx/domains/python.py
  sphinx/pycode/parser.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autofunction.py
  tests/test_pycode_parser.py
  tests/test_util_inspect.py
Labels: refactoring

#8362 Fix #8105: autodoc: the signature of decorated class is incorrect
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/decorator.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#8385 test: do not use "object" for the type annotation
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: refactoring, test

#8125 Close #8119: autodoc: Control visibility of module member not in __all__
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc_events.py
Labels: autodoc, enhancement

#8231 Fix #8219: autodoc: Parameters for generic base class are not shown
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/classes.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_util_typing.py
Labels: autodoc, bug

#8387 Fix #8372: autodoc: autoclass directive became slower than Sphinx-3.2
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/pycode/__init__.py
Labels: autodoc, bug

#8393 Drop code for py35
  sphinx/util/typing.py
Labels: refactoring

#8394 Rewrite test_inspect_main_url to avoid mocking
  tests/test_build_linkcheck.py
  tests/test_ext_intersphinx.py
  tests/utils.py
Labels: refactoring, test

#8390 Fix #7727: autosummary raises PycodeError for namespace python package
  CHANGES
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, bug

#8392 refactor: Add `Documenter.config` as a shortcut to access the config object
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/__init__.py
Labels: autodoc, refactoring

#8399 Put system locale path after the paths specified by configuration
  sphinx/application.py
Labels: bug, i18n

#8397 autodoc: Add Optional[t] to annotation of function and method
  CHANGES
  sphinx/util/inspect.py
  tests/test_ext_autodoc_configs.py
  tests/test_util_inspect.py
Labels: autodoc, enhancement

#8376 Test with py310
  .github/workflows/main.yml
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/test_util_inspect.py
Labels: test

#8402 Do test with Ubuntu 18.04
  .github/workflows/main.yml
Labels: refactoring, test

#8409 linkcheck: Remove unused arguments from tests
  tests/test_build_linkcheck.py
Labels: linkcheck, refactoring, test

#8411 Run tests with Python Development mode
  Makefile
  tox.ini
Labels: refactoring, test

#8412 Fix #8350: autosummary_mock_imports causes slow down builds
  CHANGES
  sphinx/util/inspect.py
Labels: autosummary, bug

#8414 linkcheck: Remove requests mocks from tests
  tests/test_build_linkcheck.py
Labels: linkcheck, refactoring, test

#8386 Fix #8380: html search: search results are wrapped with <p> instead of <div>
  CHANGES
  sphinx/themes/basic/static/basic.css_t
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#8404 linkchecker: Remove dead code is_ssl_error()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/linkcheck.py
  sphinx/util/requests.py
  tests/roots/test-linkcheck-localserver-https/conf.py
  tests/roots/test-linkcheck-localserver-https/index.rst
  tests/test_build_linkcheck.py
Labels: linkcheck, refactoring

#8420 linkcheck: Remove unused arguments from test_invalid_ssl
  tests/test_build_linkcheck.py
Labels: linkcheck, refactoring, test

#8421 linkcheck: Verify behavior with self-signed certs
  tests/certs/cert.pem
  tests/test_build_linkcheck.py
  tests/utils.py
Labels: linkcheck, test

#8416 Fix #8398: Fix type annotation for "confdir" of Sphinx.__init__()
  sphinx/application.py
Labels: bug

#8425 linkcheck: Prevent REQUESTS_CA_BUNDLE leak in tests
  tests/test_build_linkcheck.py
  tests/utils.py
Labels: bug, linkcheck, test

#8427 refactor: Fix flake8 violations under tests/ directory
  tests/test_build_latex.py
  tests/test_build_linkcheck.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
  tests/test_domain_std.py
  tests/test_ext_autodoc.py
  tests/test_ext_intersphinx.py
  tests/test_ext_napoleon_docstring.py
  tests/test_markup.py
  tests/test_project.py
  tests/test_pycode.py
  tests/test_util.py
  tests/test_util_inspect.py
  tests/test_util_typing.py
  tests/typing_test_data.py
Labels: refactoring, test

#8430 test: Fix flake8 violations
  tests/test_environment_indexentries.py
Labels: refactoring, test

#8431 tests: Always cleanup when exiting modify_env context manager
  tests/utils.py
Labels: bug, linkcheck, test

#8433 test: Fix duplicated testcases
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: bug, domains:c, domains:cpp, test

#8422 Remove config variable: source_parsers
  sphinx/config.py
Labels: config, refactoring

#8423 Add sphinx.util.inspect:getslots() to get __slots__ attribute
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: autodoc, refactoring

#8436 linkcheck: Specify subjectAltName in test self-signed certificate
  tests/certs/cert.pem
  tests/utils.py
Labels: linkcheck, refactoring, test

#8429 test: Merge testcases having the same name
  tests/test_intl.py
Labels: bug, test

#8428 test: Apply flake8 to tests/ directory
  setup.cfg
Labels: refactoring, test

#8435 Fix #8434: autodoc_type_aliases does not effect to variables
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/annotations.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, bug

#8440 test: Pass ACTIONS_ALLOW_UNSECURE_COMMANDS to deadsnake/action
  .github/workflows/main.yml
Labels: refactoring, test

#8441 refactor: Add sphinx.util.typing.get_type_hints()
  sphinx/ext/autodoc/__init__.py
  sphinx/util/typing.py
Labels: autodoc, refactoring

#8424 autodoc: Add :no-value: option to autoattribute and autodata to suppress the default value of the variable
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autodata.py
Labels: autodoc, enhancement

#8445 Fix #8419: html search: Do not load language_data.js in non-search pages
  CHANGES
  sphinx/builders/html/__init__.py
  sphinx/themes/basic/search.html
Labels: bug, html search

#8447 refactor autodoc: Add sphinx.util.inspect.getall()
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#8444 Fix #8443: autodata directive does not support PEP-526 ivars
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autodata.py
Labels: autodoc, bug

#8455 Fix #8454: graphviz: The layout option for graph and digraph don't work
  CHANGES
  sphinx/ext/graphviz.py
Labels: bug, extensions

#8457 CI: Update deadsnake/action to 2.0.1
  .github/workflows/main.yml
Labels: refactoring, test

#8458 Remove code for python3.5
  sphinx/util/typing.py
Labels: refactoring

#8450 Fix #8437: Do `make clean` in more safe way
  CHANGES
  sphinx/templates/quickstart/Makefile_t
Labels: bug, cmdline, enhancement, refactoring

#8466 refactor: autodoc: Update typehints for "more_content" argument
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8459 Fix #8452: autodoc_type_aliases doesn't work with autodoc_typehints
  CHANGES
  sphinx/ext/autodoc/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, bug

#8469 refactor: Rename example class
  tests/roots/test-ext-autodoc/target/slots.py
  tests/test_ext_autodoc.py
Labels: refactoring, test

#8468 Rename ModuleAnalyzer.parse() to analyze()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/pycode/__init__.py
Labels: autodoc, refactoring

#8462 Handle AttributeError from getall() and getslots()
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#8465 Fix #8460: autodoc: Support custom types defined by typing.NewType
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/typevar.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autodata.py
  tests/test_util_typing.py
Labels: autodoc, enhancement

#8463 refactor: Move _getannotations() to sphinx.util.inspect
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/importer.py
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#8464 Deprecate Documenter.get_object_members()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/deprecation.py
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8471 Fix #8460: autodata directive does not display the detail of TypeVars
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typevar.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autodata.py
Labels: autodoc, bug

#8479 refactor: autodoc: Add type annotation for DataDocumenterMixinBase.object
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8475 Extend linkchecker GET fallback logic to handle Too Many Redirects
  CHANGES
  sphinx/builders/linkcheck.py
  tests/test_build_linkcheck.py
Labels: bug, linkcheck

#8478 explicitly specify encoding=utf-8 in apidoc
  sphinx/util/osutil.py
Labels: apidoc, autosummary, bug

#8483 Don't require typed_ast in [test] with Python 3.8+
  setup.py
Labels: refactoring, test

#8474 Fix #8360: Update warning message for numref
  sphinx/domains/std.py
  tests/test_build_html.py
Labels: domains:std, refactoring

#8481 Fix #8480: autoattribute could not create document for __slots__ attributes
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/test_ext_autodoc_autoattribute.py
Labels: autodoc, bug

#8485 Fix flake8 warnings
  sphinx/ext/autodoc/importer.py
  sphinx/pycode/__init__.py
Labels: refactoring

#8486 refactor with pyupgrade
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/ext/imgmath.py
  sphinx/util/nodes.py
  tests/test_build_changes.py
  tests/test_ext_intersphinx.py
  tests/test_util_inventory.py
Labels: refactoring

#8467 Fix #6629: linkcheck: Handle rate-limiting
  CHANGES
  doc/conf.py
  doc/usage/builders/index.rst
  doc/usage/configuration.rst
  sphinx/builders/linkcheck.py
  tests/test_build_linkcheck.py
Labels: enhancement, linkcheck

#8490 Fix pycode becomes slow
  sphinx/pycode/__init__.py
Labels: bug, refactoring

#8488 refactor: Deprecate InstanceAttributeDocumenter
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
Labels: autodoc, refactoring

#8496 Unset env variables in tests by del os.environ
  tests/utils.py
Labels: linkcheck, refactoring, test

#8291 Fix #8285: napoleon can use PEP526 annotations
  doc/usage/extensions/example_google.py
  doc/usage/extensions/napoleon.rst
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/napoleon/docstring.py
  sphinx/util/typing.py
  tests/ext_napoleon_pep526_data_google.py
  tests/ext_napoleon_pep526_data_numpy.py
  tests/test_ext_napoleon_docstring.py
Labels: enhancement, extensions:napoleon

#8494 Use restify() to reference alias attributes in autodoc
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, enhancement

#8500 refactor: autodoc: Add UninitializedGlobalVariableMixin
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8502 refactor: autodoc: Move deprecated documenters to autodoc.deprecated package
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/deprecated.py
Labels: autodoc, refactoring

#8505 Fix #8501: autosummary: summary extraction splits text after "el at."
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: api, autosummary

#8504 Fix #8503: autoattribute could not create document for a GenericAlias
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/deprecated.py
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autodoc/target/genericalias.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autodata.py
Labels: autodoc, dependencies

#8507 refactor: Register events for HTML builders in the HTML builder module
  sphinx/builders/html/__init__.py
  sphinx/events.py
Labels: html, refactoring

#8506 Fix #8352: std domain: Failed to parse an option that starts with bracket
  CHANGES
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: bug, domains:std
