Repository sphinx-doc/sphinx, pull requests merged in 2020-01, with the labels that each got.

#6980 Be precise about which document is missing.
  sphinx/builders/latex/__init__.py
  sphinx/builders/manpage.py
  sphinx/builders/texinfo.py
  sphinx/domains/cpp.py
  sphinx/transforms/post_transforms/__init__.py
Labels: domain, refactoring

#6977 Fix #6559: Wrong node-ids are generated in glossary directive
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/domains/std.py
  sphinx/transforms/i18n.py
  sphinx/util/nodes.py
  tests/test_domain_std.py
  tests/test_util_nodes.py
Labels: bug, domains:std, markup

#6987 Fix #6986: apidoc: misdetects module name for .so file inside module
  CHANGES
  sphinx/ext/apidoc.py
Labels: apidoc, bug

#6985 Fix #6696: html: scale option of image/figure directive not working for SVG
  CHANGES
  sphinx/writers/html.py
  sphinx/writers/html5.py
Labels: bug, html

#6989 updating docstring for add_js_file for body element
  sphinx/application.py
Labels: api, docs

#6992 Add sphinx.util.typing:stringify() to represent annotations as string
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: autodoc, refactoring

#7001 Stop testing with nightly python
  .travis.yml
Labels: test

#6996 refactor: Rename var keyword argument to "**kwargs"
  sphinx/application.py
  sphinx/builders/gettext.py
  sphinx/builders/html.py
  sphinx/builders/singlehtml.py
  sphinx/environment/adapters/toctree.py
  sphinx/ext/autodoc/mock.py
  sphinx/io.py
  sphinx/testing/util.py
  sphinx/util/jsonimpl.py
Labels: refactoring

#6995 Update documentation of download role for addition of hash in subdir
  doc/usage/restructuredtext/roles.rst
Labels: docs

#6997 Update type annotations
  sphinx/domains/std.py
Labels: refactoring

#7003 Fix #6999: napoleon: fails to parse tilde in :exc: role
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#7002 refactor: Add sphinx.util.inspect.signature()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/test_autodoc.py
  tests/test_util_inspect.py
Labels: autodoc, refactoring

#7011 Fix node_id is not assigned on translation
  sphinx/domains/std.py
Labels: bug, domains:std, markup

#7013 refactor: Simplify stringify_signature()
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#7014 refactor: replace inspect.Parameter with Parameter
  sphinx/util/inspect.py
Labels: refactoring

#7012 autodoc: Support Positional-Only Argument separator (PEP-570 compliant)
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/pep570.py
  tests/test_util_inspect.py
Labels: autodoc, enhancement

#6979 Close #6830: autodoc: consider a member private if docstring contains :private:
  CHANGES
  doc/extdev/appapi.rst
  doc/usage/extensions/autodoc.rst
  doc/usage/restructuredtext/domains.rst
  sphinx/directives/__init__.py
  sphinx/domains/python.py
  sphinx/ext/autodoc/__init__.py
  sphinx/util/docstrings.py
  tests/roots/test-ext-autodoc/target/private.py
  tests/test_ext_autodoc_private_members.py
  tests/test_util_docstrings.py
Labels: domains:py, enhancement

#7009 SphinxTranslator calls visitor/departure method for super node class
  CHANGES
  sphinx/util/docutils.py
  tests/test_util_docutils.py
Labels: builder, enhancement

#6984 Close #2755: autodoc: Support type_comment style annotation
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/type_comment.py
  sphinx/pycode/ast.py
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/test_ext_autodoc_configs.py
  tests/test_pycode_ast.py
Labels: autodoc, enhancement

#7021 Warn about dangers of inheriting nodes in conf.py (2)
  doc/development/tutorials/todo.rst
Labels: docs

#6754 Warn about dangers of inheriting nodes in conf.py
  doc/development/tutorials/todo.rst
Labels: docs

#7030 Add testcase a partialmethod not having docstring (refs: #7023)
  tests/roots/test-ext-autodoc/target/partialmethod.py
  tests/test_autodoc.py
Labels: autodoc, test

#7031 #7023: autodoc: nested partial functions are not listed
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/partialfunction.py
  tests/test_autodoc.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#7037 Test with pytest-5.3.2
  setup.py
Labels: test

#7017 Support priority of event handlers
  CHANGES
  sphinx/application.py
  sphinx/events.py
  tests/test_events.py
Labels: api, enhancement

#7020 Fix #7019: gettext: Absolute path used in message catalogs
  CHANGES
  sphinx/builders/gettext.py
  sphinx/templates/gettext/message.pot_t
Labels: bug, i18n

#7016 refactor: Make a bullet character for :menuselection: a constant
  sphinx/roles.py
Labels: markup, refactoring

#7036 Fix #7023: autodoc: partial functions are listed as module members
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/imported_members.py
  tests/test_autodoc.py
Labels: autodoc, bug

#7038 C++, test role target checks and fix two cases
  CHANGES
  sphinx/domains/cpp.py
  tests/roots/test-domain-cpp/roles-targets-ok.rst
  tests/roots/test-domain-cpp/roles-targets-warn.rst
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#7039 C++, test role target checks and fix two cases
  CHANGES
  sphinx/domains/cpp.py
  tests/roots/test-domain-cpp/roles-targets-ok.rst
  tests/roots/test-domain-cpp/roles-targets-warn.rst
  tests/test_domain_cpp.py
Labels: domains:cpp

#7049 Test with docutils-0.16
  tox.ini
Labels: test

#7048 Add new extras_require: lint
  setup.py
  tox.ini
Labels: test

#7065 C++, expression list rendering
  CHANGES
  sphinx/domains/cpp.py
Labels: bug, domains:cpp

#7063 C++, fix some cross referencing issues
  CHANGES
  sphinx/domains/cpp.py
  tests/roots/test-domain-cpp/lookup-key-overload.rst
  tests/roots/test-domain-cpp/multi-decl-lookup.rst
  tests/test_domain_cpp.py
Labels: domains:cpp

#7053 Production list scoping and line continuation
  CHANGES
  doc/usage/restructuredtext/directives.rst
  sphinx/domains/std.py
  tests/roots/test-productionlist/Bare.rst
  tests/roots/test-productionlist/Dup1.rst
  tests/roots/test-productionlist/Dup2.rst
  tests/roots/test-productionlist/LineContinuation.rst
  tests/roots/test-productionlist/P1.rst
  tests/roots/test-productionlist/P2.rst
  tests/roots/test-productionlist/conf.py
  tests/roots/test-productionlist/firstLineRule.rst
  tests/roots/test-productionlist/index.rst
  tests/test_build_html.py
  tests/test_domain_std.py
Labels: domains:std, enhancement

#7057 Close #7051: autodoc: Support instance variables without defaults (PEP-526)
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autosummary/generate.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/typed_vars.py
  tests/test_autodoc.py
Labels: autodoc, enhancement

#7067 C++, suppress some warnings that can never be fixed
  CHANGES
  sphinx/domains/cpp.py
  tests/roots/test-domain-cpp/warn-template-param-qualified-name.rst
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#7071 Add djangocas.dev/docs to EXAMPLES
  EXAMPLES
Labels: docs

#7018 6418 autodoc typehints description
  CHANGES
  doc/extdev/appapi.rst
  doc/usage/extensions/autodoc.rst
  sphinx/directives/__init__.py
  sphinx/ext/autodoc/typehints.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/index.rst
  tests/test_ext_autodoc_configs.py
Labels: autodoc, enhancement, extensions

#7066 Fix #6899: apidoc: private members are not shown even if --private given
  CHANGES
  sphinx/ext/apidoc.py
  tests/test_ext_apidoc.py
Labels: apidoc, bug

#7074 typehints: Fix wrong order of info-field-list
  sphinx/ext/autodoc/typehints.py
Labels: autodoc, bug

#7076 Fix #6889: autodoc: Trailing comma in :members:: option causes cryptic warning
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#6964 Refactor latex
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/constants.py
  sphinx/writers/latex.py
Labels: latex, refactoring
