Repository sphinx-doc/sphinx, pull requests merged in 2020-12, with the labels that each got.

#8519 Prevent page brake in the middle of a `seealso` 
  sphinx/writers/latex.py
Labels: bug, latex

#8523 fix #8522: sphinx could lead to `__bool__` method call, what can lead to side effect or direct failure in case it generate an error bug
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8509 Fix #8508: LaTeX: uplatex becomes a default setting of latex_engine for Japanese
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/latex/__init__.py
  tests/test_build_latex.py
Labels: enhancement, latex

#8529 Remove duplicate test in test_ext_autodoc.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug, test

#8528 Drop outdated workaround for distutils' Command._ensure_stringlike()
  sphinx/setup_command.py
Labels: refactoring

#8530 C, fix AliasNode.copy
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
Labels: bug, domains:c, domains:cpp

#8535 Describe the intersphinx mapping a bit more
  doc/usage/extensions/intersphinx.rst
Labels: docs, extensions:intersphinx

#8533 refactor: Deprecate `no_docstring` argument for Documenter.add_content()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8527 refactor: pretty change for isproperty()
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#8524 sphinx/themes/basic/layout: Set url_root properly on index, don't use '#'
  sphinx/themes/basic/layout.html
Labels: bug, html theme

#8538 Deprecate sphinx.util.osutil.movefile() in favor of os.replace()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/html/__init__.py
  sphinx/transforms/post_transforms/images.py
  sphinx/util/osutil.py
Labels: refactoring

#8540 Fix #8534: autoattribute failed to document a commented attribute in alias class
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typed_vars.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
Labels: autodoc, bug

#8544 Minor typo in the contributing info
  CONTRIBUTING.rst
Labels: docs

#8542 Fix #8541: autodoc_type_aliases doesn't work for the instance attrs
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/annotations.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, bug

#8546 Fix #8545: autodoc: a __slots__ attribute is not documented even having docstring
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/slots.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoclass.py
Labels: autodoc, bug

#8543 Fix #8534: autoattribute failed to document a commented attribute in alias dervied class
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typed_vars.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8548 Fix #741: autodoc: inherited-members doesn't support instance attributes on super class
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/instance_variable.py
  tests/test_ext_autodoc_autoclass.py
Labels: autodoc, bug

#8512 Fix nonascii_srcdir to work when non-ascii directories aren't supported
  tests/test_build.py
Labels: bug, test

#8551 Fix #8365: py domain: :type: and :rtype: gives false ambiguous warnings
  CHANGES
  sphinx/domains/python.py
  sphinx/util/docfields.py
  tests/test_domain_py.py
Labels: bug, domains:py

#8555 test: Add comment for UnicodeEncodeError handler (refs: #8512)
  tests/test_build.py
Labels: refactoring, test

#8552 Close #8236: napoleon: Support numpydoc's "Receives" section
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: enhancement, extensions:napoleon

#8556 Fix #8549: i18n: ``-D gettext_compact=0`` is no longer working
  CHANGES
  sphinx/builders/gettext.py
  sphinx/config.py
Labels: bug, i18n

#8564 Fix #8559: AttributeError is raised when using ForwardRef
  CHANGES
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: autodoc, bug

#8570 Fixes #8568. Ignore TypeError from getslots in isslotsattribute
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
Labels: autodoc, bug

#8557 refactor: Rename UninitializedInstanceAttributeMixin
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8560 Refactor UninitializedGlobalVariableMixin
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug, refactoring

#8561 Refactor UninitializedInstanceAttributeMixin
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug, refactoring

#8571 Fix #8567: autodoc: Instance attributes are incorrectly added to Parent class
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8579 Ensure linkcheck items are comparable
  CHANGES
  sphinx/builders/linkcheck.py
  tests/roots/test-linkcheck-localserver-two-links/conf.py
  tests/roots/test-linkcheck-localserver-two-links/index.rst
  tests/test_build_linkcheck.py
Labels: bug, linkcheck

#8576 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug, docs

#8575 docs: Update the sphinx core events in appapi.rst
  doc/extdev/appapi.rst
Labels: docs, proposal

#8572 Fix name of the Hebrew language in test_create_single_index
  tests/test_environment_indexentries.py
Labels: refactoring, test

#8581 Fix #8566: autodoc-process-docstring is emitted to the alias classes
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8585 Fix #8583: autodoc: Unnecessary object comparision via ``__eq__`` method
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8563 refactor: autodoc: Move get_attribute_comment() to AttributeDocumenter
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8558 refactor: Add UninitializedInstanceAttributeMixin
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8587 Fix #741: autodoc: inherited-members doesn't support instance attributes on super class
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8590 Fix #7875: doc: Add PythonDomain.note_object()
  doc/extdev/domainapi.rst
Labels: docs

#8589 refactor: Deprecate `no_docstring` argument for Documenter.add_content()
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/classes.py
  tests/test_ext_autodoc_autoclass.py
Labels: autodoc, refactoring

#8596 Close #8022: autodoc: Allow to hide the value of the variables via metadata
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/hide_value.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autodata.py
Labels: autodoc, enhancement

#8593 Fix #8592: autodoc: `:meta public:` does not effect to variables
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/private.py
  tests/test_ext_autodoc_private_members.py
Labels: autodoc, bug

#8595 Fix #8594: autodoc: empty __all__ attribute is ignored
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/empty_all.py
  tests/test_ext_autodoc_automodule.py
Labels: autodoc, bug

#8605 Doc: Correct type: "TypeAlias" -> "AliasType"
  doc/usage/extensions/autodoc.rst
Labels: bug, docs

#8598 Fix #8094: texinfo: images on the different directory with document are not copied
  CHANGES
  sphinx/builders/texinfo.py
Labels: bug, texinfo

#8600 Close #8132: Add project_copyright confval as an alias of copyright
  CHANGES
  doc/usage/configuration.rst
  sphinx/config.py
Labels: config, enhancement

#8601 Fix #8306: autosummary: mocked modules are documented as empty page
  CHANGES
  sphinx/ext/autosummary/generate.py
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#8609 Minor docstring typo fix -> existence
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8610 🆕 FreeFEM in EXAMPLES
  EXAMPLES
Labels: docs

#8607 Fix #8164: autodoc: Classes that inherit mocked class are not documented
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/mock.py
  sphinx/testing/fixtures.py
  tests/roots/test-ext-autodoc/target/need_mocks.py
  tests/test_ext_autodoc_automodule.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autodoc_mock.py
Labels: autodoc, bug

#8613 refactor: autosummary: Do not import deprecated documenter; SingledispatchFunctionDocumenter
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#8612 refactor: Reduce warnings on testing
  setup.cfg
  tox.ini
Labels: refactoring, test

#8292 docs: Update coding style
  doc/internals/contributing.rst
Labels: docs

#8614 refactor: Deprecate AttributeDocumenter.isinstanceattribute()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8611 Fix #8602: autodoc: The ``autodoc-process-docstring`` event is emitted to the non-datadescriptors unexpectedly
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc_events.py
Labels: autodoc, bug

#8615 refactor: autodoc: Replace ClassAttribute by ObjectMember
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
Labels: autodoc, refactoring

#8621 Fix #8618: html: incorrect HTML for single compound-kdb separators
  CHANGES
  sphinx/builders/html/transforms.py
  tests/test_markup.py
Labels: bug, html, markup

#8620 Close #8619: html: kbd role generates customizable HTML tags for compound keys
  CHANGES
  sphinx/builders/html/transforms.py
  tests/test_markup.py
Labels: enhancement, html, markup

#8622 Fix #8616: autodoc: AttributeError when non-class is passed to autoclass
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8632 Fix test: missing compound class for kbd tag
  tests/test_markup.py
Labels: bug, html, markup, test
