Repository sphinx-doc/sphinx, pull requests merged in 2020-08, with the labels that each got.

#8024 Fix #8023: evaluate_signature() does not work properly in python3.10
  sphinx/util/inspect.py
Labels: autodoc, bug

#7995 Fix #7993: texinfo: TypeError is raised for nested object descriptions
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/writers/texinfo.py
Labels: bug, texinfo

#8027 Fix #8023: evaluate_signature() does not work properly in python3.9
  sphinx/util/inspect.py
Labels: autodoc, bug

#7986 basic CSS: fix "highlight-" selector
  CHANGES
  sphinx/themes/basic/static/basic.css_t
Labels: html theme, proposal

#8026 Close #7768: i18n: figure_language_filename supports {docpath} token
  CHANGES
  doc/usage/configuration.rst
  sphinx/util/i18n.py
  tests/test_util_i18n.py
Labels: enhancement, i18n

#8037 C++, fix non-type template parameter parsing
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#8028 Close #8011: autosummary: Support instance attributes
  CHANGES
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/roots/test-ext-autosummary/index.rst
  tests/test_ext_autosummary.py
Labels: autosummary, enhancement

#8031 Fix #8030: autodoc: An annotated instance variable is not documented
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8033 Fix #8032: autodoc: A typehint for inherited ivars is not shown
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typed_vars.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8035 Close #8034: autodoc: :private-member: can take an list of member names
  CHANGES
  doc/extdev/deprecated.rst
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc_private_members.py
Labels: autodoc, enhancement

#8044 refactor: test: Rename target.enum to target.enums
  tests/roots/test-ext-autodoc/target/enums.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_configs.py
Labels: refactoring, test

#8043 refactor autodoc: Documenter.filter_members()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8021 Fix type preprocessor
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#8025 Close #6698: doctest: Add :trim-flags: and :no-trim-flags: options
  CHANGES
  doc/usage/extensions/doctest.rst
  sphinx/ext/doctest.py
  sphinx/transforms/post_transforms/code.py
  tests/roots/test-trim_doctest_flags/index.rst
  tests/test_transforms_post_transforms_code.py
Labels: enhancement, extensions

#8047 Assorted typos including sphinx-buid in internationalization figure
  doc/_static/translation.png
  doc/_static/translation.puml
  doc/_static/translation.svg
  doc/man/sphinx-quickstart.rst
  doc/templating.rst
  doc/usage/advanced/intl.rst
  doc/usage/configuration.rst
  doc/usage/restructuredtext/directives.rst
Labels: bug, docs

#8048 Don't copy graphviz.css when building man pages
  sphinx/ext/graphviz.py
Labels: bug, extensions

#7799 Escape combined args kwargs
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: extensions:napoleon, proposal

#8064 Add link to third party themes on GitLab
  doc/usage/theming.rst
Labels: docs

#8049 enable type preprocessing without use_param
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: extensions:napoleon, proposal

#8065 napoleon: Fix a broken test (refs: #8049)
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#8056 Fix #7780: napoleon: multiple params declaration was wrongly recognized
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#8042 Fix #8041: autodoc: An ivar on super class is not shown unexpectedly
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/typed_vars.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8038 register custom autosummary get_documenter functions
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, enhancement, wontfix

#8071 Make the toc.circular suppress_warnings flag apply to self referenced toctrees
  sphinx/environment/__init__.py
Labels: proposal, toctree

#8077 Fix #8074: napoleon: Crashes during processing C-ext module
  CHANGES
  sphinx/ext/napoleon/docstring.py
Labels: bug, extensions:napoleon

#8082 Customize jinja comment-tag
  sphinx/util/template.py
Labels: bug, latex

#8080 [Feature] Check if LaTeX package already added
  sphinx/registry.py
Labels: api, latex, proposal

#8085 Fix #8084: autodoc: KeyError is raised on documenting a broken attribute
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8101 sphinx.ext.autodoc: fix typo in docs
  doc/usage/extensions/autodoc.rst
Labels: bug, docs

#8092 Fix #8091: autodoc: AttributeError is raised on documenting an attribute
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8102 Use current node location in case of error (related to #8093)
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
Labels: proposal, refactoring

#8095 add a setting to enable / disable the numpy type preprocessor
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#8113 C++, fix template template parameter parsing
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#8116 Color pytest output log
  tox.ini
Labels: refactoring, test

#8090 Remove pylint task
  Makefile
  tox.ini
  utils/pylintrc
Labels: refactoring, test

#8117 C and C++, parsing function attributes
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: bug, domains:c, domains:cpp, enhancement

#8058 i18n: Add support for having single text domain
  doc/usage/configuration.rst
  sphinx/builders/gettext.py
  sphinx/util/i18n.py
  tests/test_build_gettext.py
Labels: config, i18n, proposal

#8108 Fix #8099: autodoc: NameError is raised when script uses TYPE_CHECKING
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/TYPE_CHECKING.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8130 Stackoverflow
  .github/ISSUE_TEMPLATE/config.yml
  doc/internals/contributing.rst
Labels: docs

#8153 Fix typos
  sphinx/application.py
  sphinx/registry.py
Labels: bug

#8149 Fix comment end string in LaTeXRenderer
  sphinx/util/template.py
Labels: bug, latex

#8144 Fix #8143: AttributeError if autodoc_default_options contains False
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug
