Repository sphinx-doc/sphinx, pull requests merged in 2020-02, with the labels that each got.

#7080 autodoc: Fix crashed for objects having no module
  sphinx/ext/autodoc/typehints.py
Labels: autodoc, bug

#7081 testing: Add Path.read_text() and Path.read_bytes()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/testing/path.py
  tests/test_build.py
  tests/test_build_changes.py
  tests/test_build_epub.py
  tests/test_build_gettext.py
  tests/test_build_html.py
  tests/test_build_latex.py
  tests/test_build_linkcheck.py
  tests/test_build_manpage.py
  tests/test_build_texinfo.py
  tests/test_build_text.py
  tests/test_correct_year.py
  tests/test_directive_code.py
  tests/test_domain_cpp.py
  tests/test_domain_std.py
  tests/test_ext_apidoc.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autosectionlabel.py
  tests/test_ext_autosummary.py
  tests/test_ext_coverage.py
  tests/test_ext_githubpages.py
  tests/test_ext_graphviz.py
  tests/test_ext_ifconfig.py
  tests/test_ext_imgconverter.py
  tests/test_ext_inheritance_diagram.py
  tests/test_ext_intersphinx.py
  tests/test_ext_math.py
  tests/test_ext_todo.py
  tests/test_ext_viewcode.py
  tests/test_intl.py
  tests/test_quickstart.py
  tests/test_search.py
  tests/test_setup_command.py
  tests/test_smartquotes.py
  tests/test_templating.py
  tests/test_theming.py
  tests/test_toctree.py
  tests/test_transforms_post_transforms_code.py
  tests/test_util_fileutil.py
Labels: refactoring, test

#7072 py domain: Support type annotations for variables
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, enhancement

#7083 doc: Make desc of gettext_additional_targets easy to read
  doc/usage/configuration.rst
Labels: docs

#7082 test: encoding="utf-8" is no longer needed on reading text
  tests/test_build_html.py
  tests/test_build_latex.py
  tests/test_build_texinfo.py
  tests/test_build_text.py
  tests/test_ext_autosummary.py
  tests/test_theming.py
  tests/test_transforms_post_transforms_code.py
Labels: refactoring, test

#7078 apidoc: Add ``-q`` option for quiet mode (refs: #6772)
  CHANGES
  doc/man/sphinx-apidoc.rst
  sphinx/ext/apidoc.py
Labels: apidoc, enhancement

#7084 autodoc: Support type annotations for variables
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/pycode/__init__.py
  sphinx/pycode/ast.py
  sphinx/pycode/parser.py
  tests/roots/test-ext-autodoc/target/typed_vars.py
  tests/test_autodoc.py
  tests/test_pycode_parser.py
Labels: autodoc, enhancement

#7092 Fix #7059: latex: LaTeX compilation fails into infinite loop
  CHANGES
  sphinx/writers/latex.py
Labels: bug, latex

#7091 Fix #7090: std domain: Can't assign numfig-numbers for custom container nodes
  CHANGES
  sphinx/domains/std.py
Labels: bug, domains:std

#7061 Fix #6785: py domain: :py:attr: is able to refer properties again
  CHANGES
  sphinx/domains/python.py
  tests/roots/test-domain-py/module.rst
  tests/test_domain_py.py
Labels: domains:py, enhancement

#7089 Disable arrow keys when a modifier key is pressed
  CHANGES
  doc/usage/theming.rst
  sphinx/themes/basic/static/doctools.js
Labels: bug, html search

#7098 Fix #6568: autosummary_imported_members is not working for submodules
  CHANGES
  sphinx/ext/autosummary/generate.py
Labels: autosummary, bug

#7099 Fix #6581: :reversed: for toctree does not effect to LaTeX build
  CHANGES
  sphinx/directives/other.py
  tests/test_directive_other.py
  tests/test_environment_toctree.py
Labels: bug, latex, toctree

#7105 Fix #6193: Remove searchresults.html
  sphinx/themes/basic/searchresults.html
Labels: html theme, refactoring

#7109 docs: Add a restriction note about tocdepth (refs: #6033)
  doc/usage/restructuredtext/field-lists.rst
Labels: docs, html, markup

#7102 Fix #7095: dirhtml: Cross references are broken via intersphinx and :doc:
  CHANGES
  sphinx/util/inventory.py
  tests/roots/test-builder-dirhtml/bar.rst
  tests/roots/test-builder-dirhtml/conf.py
  tests/roots/test-builder-dirhtml/foo/foo_1.rst
  tests/roots/test-builder-dirhtml/foo/foo_2.rst
  tests/roots/test-builder-dirhtml/foo/index.rst
  tests/roots/test-builder-dirhtml/index.rst
  tests/test_build_dirhtml.py
Labels: bug, html

#7113 Fix #6327: apidoc: Support a python package consisted of __init__.so file
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/apidoc.py
Labels: apidoc, bug

#7107 Fix #7106: std domain: enumerated nodes are marked as duplicated
  CHANGES
  sphinx/transforms/__init__.py
Labels: bug, domains:std

#7110 Close #6623: babel-2.0 or above is available (Unpinned)
  CHANGES
  setup.py
Labels: refactoring

#7116 Close #7115: LaTeX: Allow to override LATEXOPTS and LATEXMKOPTS via envvars
  CHANGES
  sphinx/texinputs/Makefile_t
Labels: enhancement, latex

#7114 Fix #7112: html: SVG image is not layouted as float even if aligned
  CHANGES
  sphinx/writers/html.py
  sphinx/writers/html5.py
Labels: bug, html

#7125 Clarify documentation on use of doctest extension
  doc/usage/extensions/doctest.rst
Labels: docs

#7122 Fix #7120: html: crashed when on scaling SVG images which have float dimentions
  CHANGES
  sphinx/util/images.py
Labels: bug, html

#7132 Stop to test with nightly python
  .travis.yml
Labels: test

#7130 Fix #7126: autodoc: TypeError: getset_descriptor object is not iterable
  CHANGES
  sphinx/ext/autodoc/importer.py
Labels: autodoc, bug

#7129 BLD: tox.ini: flake8: add whitelist_externals for latest tox instead of adding dep, pass posargs through
  tox.ini
Labels: proposal, test

#7136 Fix incorrect handling of nested class names
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/inheritance_diagram.py
  tests/roots/test-ext-autodoc/target/__init__.py
  tests/roots/test-inheritance/diagram_w_nested_classes.rst
  tests/roots/test-inheritance/dummy/test_nested.py
  tests/test_autodoc.py
  tests/test_ext_inheritance_diagram.py
Labels: autodoc, bug, extensions

#7140 Fix #7139: ``code-block:: guess`` does not work
  CHANGES
  sphinx/highlighting.py
Labels: bug, markup

#7127 refactor: convert builders.html to a python package
  sphinx/builders/html/__init__.py
Labels: html, refactoring

#7141 Fix #7138: autodoc: crashed when variable has unbound object
  CHANGES
  sphinx/ext/autodoc/typehints.py
Labels: autodoc, bug

#7149 Revert "Stop to test with nightly python"
  .travis.yml
Labels: test

#7150 Deprecate sphinx.util.inspect.getargspec()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#7153 test: Add testcase for js domain
  tests/test_domain_js.py
Labels: domains:js, test

#7123 Close #7108: Allow to show an error message from conf.py via ConfigError
  CHANGES
  sphinx/config.py
Labels: config, enhancement

#7157 Fix #7156: autodoc: separator for keyword only arguments is not shown
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/pep570.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#7128 refactor: Update type annotations in sphinx.util.*
  sphinx/util/__init__.py
  sphinx/util/inspect.py
  sphinx/util/pycompat.py
Labels: refactoring

#7152 Fix #7146: support (...) in type hint comments (V2)
  sphinx/ext/autodoc/type_comment.py
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, bug

#7158 Fix #7151: crashed when extension assigns a value to env.indexentries
  CHANGES
  sphinx/environment/__init__.py
Labels: bug, environment

#7160 refactor: Update type annotations in sphinx.ext.*
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/coverage.py
  sphinx/ext/duration.py
  sphinx/ext/napoleon/docstring.py
  sphinx/ext/viewcode.py
Labels: refactoring

#7163 Fix DeprecationWarnings on testing
  tests/test_build_dirhtml.py
  tests/test_domain_py.py
  tests/test_highlighting.py
  tests/test_util.py
  tests/test_util_inspect.py
Labels: refactoring, test

#7162 Fix #7161: autodoc: typehints extension does not support parallel build
  CHANGES
  sphinx/ext/autodoc/typehints.py
Labels: autodoc, bug

#7154 Deprecate sphinx.parsers.Parser.app
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/parsers.py
Labels: refactoring

#7164 Clean up PYTHONWARNINGS
  tox.ini
Labels: refactoring, test

#7166 doc: Fix file inclusion in recipe tutorial has been broken
  doc/development/tutorials/recipe.rst
Labels: bug, docs

#7121 Renaming stable branch to A.x
  CONTRIBUTING.rst
Labels: proposal

#7173 Fix #7170: text: Remove debug print
  CHANGES
  sphinx/writers/text.py
Labels: bug, text

#7168 doc: Update usage/quickstart.rst to adjust latest quickstart
  doc/usage/quickstart.rst
Labels: docs

#7174 Fix #7137: viewcode: Avoid to crash when non-python code given
  CHANGES
  sphinx/ext/viewcode.py
Labels: bug, extensions

#7169 Fix message is not translated in autodoc/type_comment.py
  sphinx/ext/autodoc/type_comment.py
Labels: autodoc, bug, i18n

#7180 Fix #7178: autodoc: TypeError is raised on fetching type annotations
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7185 Fix #7184: fix property access of vararg and kwarg.
  sphinx/ext/autodoc/type_comment.py
Labels: autodoc, bug

#7176 Deprecate DescDirective
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/directives/__init__.py
Labels: refactoring

#7190 Fix #7189: autodoc: classmethod coroutines are not detected
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/coroutine.py
  tests/test_autodoc.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#7187 Fix #7183: intersphinx: ``:attr:`` reference to property is broken
  CHANGES
  sphinx/ext/intersphinx.py
  tests/test_ext_intersphinx.py
  tests/test_util_inventory.py
Labels: bug, domains:py, extensions

#7192 Fix search in dirhtml output
  AUTHORS
  CHANGES
  doc/templating.rst
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#7194 html search: show warning if [role=main] element not found
  sphinx/themes/basic/static/searchtools.js
Labels: html search, refactoring

#7159 py domain: Support lambda functions in function signature
  CHANGES
  sphinx/pycode/ast.py
  tests/test_pycode_ast.py
Labels: domains:py, enhancement

#7155 py domain: Use AST parser to convert signature to doctree
  sphinx/domains/python.py
  sphinx/util/inspect.py
  tests/test_domain_py.py
  tests/test_util_inspect.py
Labels: domains:py, enhancement

#7117 Deprecate desc_signature['first']
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/directives/__init__.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
Labels: domain, refactoring

#7062 Close #7032: html_scaled_image_link is disabled for individual image
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  tests/roots/test-html_scaled_image_link/conf.py
  tests/roots/test-html_scaled_image_link/img.png
  tests/roots/test-html_scaled_image_link/index.rst
  tests/test_build_html.py
Labels: enhancement, html

#7196 Fix #7195: todo: emit doctree-resolved event with non-document node incorrectly
  CHANGES
  sphinx/ext/todo.py
Labels: bug, extensions

#7064 Close #7025: html search: full text search can be disabled via metadata
  CHANGES
  doc/usage/restructuredtext/field-lists.rst
  sphinx/builders/html/__init__.py
  tests/roots/test-search/nosearch.rst
  tests/test_search.py
Labels: enhancement, html search

#7167 Close #3106: Register a hyperlink target for index page automatically
  CHANGES
  doc/development/tutorials/recipe.rst
  sphinx/domains/__init__.py
  sphinx/domains/std.py
  sphinx/environment/__init__.py
  tests/test_build_html.py
Labels: domain, proposal

#7145 Close #7144: Add CSS class indicating its domain for each desc node
  CHANGES
  sphinx/directives/__init__.py
  tests/test_build_html.py
Labels: domain, enhancement

#7199 autosummary: make a message translatable
  sphinx/ext/autosummary/generate.py
Labels: autosummary

#7087 Add name option for the index directive
  doc/usage/restructuredtext/directives.rst
  sphinx/domains/index.py
  tests/test_environment_indexentries.py
Labels: enhancement, proposal

#7201 Stop to use Path.text()
  tests/test_build_html.py
Labels: refactoring, test

#7200 refactor: Update type annotations in sphinx.testing.*
  sphinx/testing/comparer.py
  sphinx/testing/fixtures.py
  sphinx/testing/util.py
Labels: refactoring

#7203 release-checklist: An update of doc-translations is no longer needed
  utils/release-checklist
Labels: task

#7204 Makefile: clean dists directory on "make clean"
  Makefile
  utils/release-checklist
Labels: task

#7206 refactor: Update type annotations in sphinx.builders.*
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/transforms.py
Labels: refactoring

#7207 refactor: Update type annotations in sphinx.writers.*
  sphinx/writers/latex.py
  sphinx/writers/text.py
Labels: refactoring

#7208 refactor: Update type annotations in sphinx.util.*
  sphinx/util/docutils.py
Labels: refactoring

#7209 refactor: Update type annotations in sphinx.*
  sphinx/directives/__init__.py
  sphinx/directives/other.py
  sphinx/locale/__init__.py
  sphinx/registry.py
  sphinx/transforms/post_transforms/__init__.py
Labels: refactoring

#7211 Fix comparer
  sphinx/testing/comparer.py
Labels: refactoring

#7212 Fix missing commas after PEP-570 separators
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#7214 Update docs
  doc/usage/extensions/autodoc.rst
  doc/usage/installation.rst
Labels: docs

#7213 Add a procedure to update docker image
  .gitignore
  utils/bump_docker.sh
  utils/release-checklist
Labels: task

#7205 LaTeX, fix \sphinxhref + \includegraphics problem with platex
  CHANGES
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#7227 Add a installation procedure for docker
  doc/usage/installation.rst
Labels: docs

#7228 refactor: Set source_info to nodes
  sphinx/directives/__init__.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: refactoring

#7231 Add testcase for modindex_common_prefix
  tests/test_domain_py.py
Labels: domains:py, refactoring, test

#7221 Latex: replace polyglossia with babel for zh
  sphinx/builders/latex/constants.py
Labels: bug, help wanted, latex

#7210 js domain: Generate node_id in the right way
  CHANGES
  sphinx/domains/javascript.py
  sphinx/util/nodes.py
  tests/test_domain_js.py
Labels: bug, domains:js

#7224 Fix #7223: Sphinx builds has been slower since 2.4.0
  CHANGES
  sphinx/registry.py
  sphinx/util/docutils.py
Labels: bug, prio:high

#7226 Fix #7220: genindex: "main" index entries are not shown at first
  CHANGES
  sphinx/environment/adapters/indexentries.py
  tests/test_environment_indexentries.py
Labels: enhancement
