Repository sphinx-doc/sphinx, pull requests merged in 2020-09, with the labels that each got.

#8162 Fixes minor typo in quickstart.rst
  doc/usage/quickstart.rst
Labels: bug, docs

#8171 Fix some broken links
  doc/develop.rst
Labels: docs

#8188 domains: c: add missing intersphinx object types
  sphinx/domains/c.py
Labels: bug, domains:c

#8174 Fix #8163: Update warning message for :dedent: option
  sphinx/directives/code.py
Labels: bug, markup

#8193 Fix #8192: napoleon: description is disappeared by inline literals
  CHANGES
  sphinx/ext/napoleon/docstring.py
Labels: bug, extensions:napoleon

#8205 Fix our test failed with pygments-2.7.0
  tests/test_build_html.py
Labels: bug, test

#8112 Close #8100: html: Show a better error message for html_static_files
  CHANGES
  sphinx/builders/html/__init__.py
  sphinx/util/fileutil.py
Labels: enhancement, html

#8111 Fix #8103: autodoc: cached_property is not considered as a property
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/cached_property.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8207 C, recursive alias declarations
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
Labels: domains:c, enhancement

#8223 ✏️ Add "Getting Started as a Translator"
  doc/usage/advanced/intl.rst
Labels: docs

#8147 Fixes #8146: When identifying bases, only use classes from builtins
  sphinx/ext/inheritance_diagram.py
Labels: extensions, refactoring

#8206 Fix #8169: LaTeX: pxjahyper loaded even when latex_engine is not platex
  CHANGES
  sphinx/builders/latex/__init__.py
Labels: bug, latex

#8203 Close #8201: Emit a warning if toctree contains duplicated entries
  CHANGES
  sphinx/directives/other.py
Labels: enhancement, toctree

#8202 Fix #8190: autodoc: parse error for docstring w/o ending blank lines
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc_events.py
Labels: autodoc, bug

#8086 Close #8081: latex: Allow to add LaTeX package until writing tex file
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/latex/__init__.py
  sphinx/testing/util.py
Labels: api, enhancement, latex

#8227 Fix typo in autodoc docs.
  doc/usage/extensions/autodoc.rst
Labels: bug, docs

#8242 C, fix names in get_objects()
  CHANGES
  sphinx/domains/c.py
  tests/test_domain_c.py
Labels: bug, domains:c

#8244 Update link to sphinxcontrib on GitHub
  doc/usage/restructuredtext/domains.rst
Labels: docs

#8240 Add mitiq to list of libraries using Sphinx
  EXAMPLES
Labels: docs

#8224 Fix #8172: napoleon: Potential of regex denial of service in google style docs
  CHANGES
  sphinx/ext/napoleon/docstring.py
Labels: bug, extensions:napoleon

#8239 Fix references to production names.
  sphinx/domains/std.py
Labels: bug, markup

#8225 Fix #8175: intersphinx: Potential of regex denial of service by inventory
  CHANGES
  sphinx/util/inventory.py
Labels: bug, extensions:intersphinx
