Repository sphinx-doc/sphinx, pull requests merged in 2020-10, with the labels that each got.

#8257 add parallel to SphinxTestApp
  sphinx/testing/util.py
  tests/test_build_html.py
Labels: proposal, test

#8142 autodoc: fix constructor signatures for classes derived from typing.Generic
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/generic_class.py
  tests/test_ext_autodoc.py
Labels: autodoc, proposal

#8226 latex: Fix a typo (refs: #8206)
  sphinx/builders/latex/__init__.py
Labels: bug, latex

#8007 Close #6518: autodoc: Add autodoc_type_aliases
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/annotations.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, enhancement

#8275 C++, properly reject functions as duplicates
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp

#8277 Fix: missing and redundant spacing (and etc) for console output on building
  sphinx/builders/html/__init__.py
Labels: bug, cmdline, regression

#8264 Fix #8157: autodoc: TypeError is raised when annotation has invalid __args__
  CHANGES
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: autodoc, bug

#8265 Fix #7964: autodoc: Tuple in default value is wrongly rendered
  CHANGES
  sphinx/pycode/ast.py
  tests/test_pycode_ast.py
Labels: autodoc, bug

#8120 Fix #6640: i18n: Failed to override system message translation
  CHANGES
  sphinx/application.py
  sphinx/locale/__init__.py
  tests/test_intl.py
Labels: bug, i18n

#8266 autodoc: deprecate SingledispatchFunctionDocumenter
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8070 Stemmer len3
  sphinx/search/__init__.py
  tests/test_search.py
Labels: bug, html search

#8076 Fix #6914: figure numbers are unexpectedly assigned to uncaptioned items
  CHANGES
  sphinx/environment/collectors/toctree.py
Labels: bug, domains:std

#7978 Fix #7973: imgconverter: Check availability of imagemagick many times
  CHANGES
  sphinx/transforms/post_transforms/images.py
Labels: bug, extensions

#8273 Close #7996: manpage: Add man_make_section_directory
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/manpage.py
  tests/test_build_manpage.py
Labels: enhancement, man

#8274 Fix #8200: autodoc: type aliases break type formatting
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8260 Makefiles: Include clean in help message
  sphinx/cmd/make_mode.py
  sphinx/templates/quickstart/Makefile_t
  sphinx/templates/quickstart/make.bat_t
Labels: cmdline, proposal

#8288 Outdated comment in docs config for intersphinx
  doc/conf.py
Labels: bug, docs

#8278 Fix #8255: py domain: number in defarg is changed to decimal
  CHANGES
  sphinx/pycode/ast.py
  sphinx/util/inspect.py
  tests/test_domain_py.py
  tests/test_pycode_ast.py
Labels: bug, domains:py

#8279 docs: Add documentation for "override" flag of app API
  sphinx/application.py
Labels: api, docs

#8280 refactor: Change signature of app.add_source_parser()
  sphinx/application.py
  sphinx/registry.py
Labels: api, refactoring

#8281 docs: Fix an example for add_directive()
  sphinx/application.py
Labels: api, docs

#8283 Fix #7786: autodoc: can't detect overloaded methods defined in other file
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/overload2.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8310 C, fix links to function parameters
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  tests/roots/test-domain-c/function_param_target.rst
  tests/test_domain_c.py
Labels: bug, domains:c

#8329 Fix mypy violations (with mypy-0.790)
  .travis.yml
  setup.py
  sphinx/ext/autodoc/__init__.py
  sphinx/search/__init__.py
  sphinx/util/typing.py
Labels: refactoring

#8330 Merge 3.2.x to 3.x
  .travis.yml
  CHANGES
  setup.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/ext/autodoc/__init__.py
  sphinx/search/__init__.py
  sphinx/util/typing.py
  tests/roots/test-domain-c/function_param_target.rst
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: refactoring

#8319 Correct a typo in texinfo.py
  sphinx/writers/texinfo.py
Labels: bug, texinfo

#8303 TST: Add test
  tests/test_domain_py.py
Labels: autodoc, test

#8324 Documentation: Reword section on Third Party Themes
  doc/usage/theming.rst
Labels: docs

#8312 C and C++, better warnings on duplicate declarations
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: domains:c, domains:cpp

#8307 Linkcheck: Use Thread daemon argument
  sphinx/builders/linkcheck.py
Labels: builder, refactoring

#8295 refactor: Remove rst_epilog from test-root/conf.py
  tests/roots/test-root/conf.py
  tests/roots/test-root/markup.txt
  tests/test_build_html.py
Labels: refactoring, test

#8289 Allow to suppress "duplicated toc entry" warnings from epub builder
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/_epub_base.py
Labels: epub, proposal

#8335 Fix docs typo: "the builder builders" → "builders"
  doc/glossary.rst
Labels: bug, docs

#8320 basic CSS: disable "user-select" on span.linenos
  CHANGES
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html

#8334 DOC: Add favicon
  doc/_static/favicon.svg
  doc/conf.py
Labels: docs, proposal

#8323 Linkcheck: Fix broken url not reporting error
  sphinx/builders/linkcheck.py
Labels: bug, builder

#8332 Fix #8321: linkcheck: ``tel:`` schema hyperlinks are detected as errors
  CHANGES
  sphinx/builders/linkcheck.py
Labels: bug, builder

#8338 autodoc: check whether __slots__ is a str
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/slots.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8216 Fix 'oneside' latex build warnings
  CHANGES
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#8343 Fix unnecessary load of images when parsing the document text for search function.
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#8340 Fix #8298: sphinx-quickstart: Add `sphinx-quickstart --no-sep` option
  CHANGES
  doc/man/sphinx-quickstart.rst
  sphinx/cmd/quickstart.py
Labels: cmdline, enhancement

#8333 Override Pygments CSS with theme CSS
  sphinx/themes/basic/layout.html
Labels: bug, html, html theme

#8316 Prevent arrow keys changing page when button elements are focused
  sphinx/themes/basic/static/doctools.js
Labels: bug, html

#8304 Register public markers in sphinx.testing.fixtures
  setup.cfg
  sphinx/testing/fixtures.py
Labels: proposal, test

#8282 Fix #7785: autodoc_typehints=none does not effect to overloads
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, bug

#8284 Close #7996: manpage: Make a section directory on build manpage by default
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/manpage.py
  tests/test_build_manpage.py
  tests/test_smartquotes.py
Labels: builder, proposal

#8050 Preprocess other sections
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: extensions:napoleon, proposal
