Repository sphinx-doc/sphinx, pull requests merged in 2020-07, with the labels that each got.

#7895 C, C++: remove noindex option
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
  sphinx/domains/cpp.py
Labels: bug, domains:c, domains:cpp, refactoring

#7904 DOC: Events overview
  doc/extdev/appapi.rst
Labels: docs

#7907 doc: Clarify language specific figures format in docs
  doc/usage/configuration.rst
Labels: docs

#7881 Fix #7812: autosummary: generates broken stub files (again)
  CHANGES
  sphinx/ext/autosummary/generate.py
  sphinx/util/__init__.py
Labels: autosummary, bug

#7915 CI: Do testing more verbose
  .circleci/config.yml
  .github/workflows/main.yml
  .travis.yml
Labels: refactoring, test

#7914 Fix #7812: autodoc: crashed when given name is conflicted
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/name_conflict/__init__.py
  tests/roots/test-ext-autodoc/target/name_conflict/foo.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autofunction.py
Labels: autodoc, bug

#7897 FIX: Typo in tutorial/todo.
  doc/development/tutorials/todo.rst
Labels: bug, docs

#7889 Fix #7886: autodoc: TypeError is raised on mocking generic-typed classes
  CHANGES
  sphinx/ext/autodoc/mock.py
  tests/test_ext_autodoc_mock.py
Labels: autodoc, bug

#7852 basic CSS: Take "simple" lists into account, resuscitating the "html_compact_lists" config option
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html theme

#7900 Closes #7887: Updated the sphinx.js locale files to improve readability
  setup.py
Labels: refactoring

#7918 Regenerate sphinx.js
  sphinx/locale/ar/LC_MESSAGES/sphinx.js
  sphinx/locale/bg/LC_MESSAGES/sphinx.js
  sphinx/locale/bn/LC_MESSAGES/sphinx.js
  sphinx/locale/ca/LC_MESSAGES/sphinx.js
  sphinx/locale/cak/LC_MESSAGES/sphinx.js
  sphinx/locale/cs/LC_MESSAGES/sphinx.js
  sphinx/locale/cy/LC_MESSAGES/sphinx.js
  sphinx/locale/da/LC_MESSAGES/sphinx.js
  sphinx/locale/de/LC_MESSAGES/sphinx.js
  sphinx/locale/el/LC_MESSAGES/sphinx.js
  sphinx/locale/eo/LC_MESSAGES/sphinx.js
  sphinx/locale/es/LC_MESSAGES/sphinx.js
  sphinx/locale/et/LC_MESSAGES/sphinx.js
  sphinx/locale/eu/LC_MESSAGES/sphinx.js
  sphinx/locale/fa/LC_MESSAGES/sphinx.js
  sphinx/locale/fi/LC_MESSAGES/sphinx.js
  sphinx/locale/fr/LC_MESSAGES/sphinx.js
  sphinx/locale/he/LC_MESSAGES/sphinx.js
  sphinx/locale/hi/LC_MESSAGES/sphinx.js
  sphinx/locale/hi_IN/LC_MESSAGES/sphinx.js
  sphinx/locale/hr/LC_MESSAGES/sphinx.js
  sphinx/locale/hu/LC_MESSAGES/sphinx.js
  sphinx/locale/id/LC_MESSAGES/sphinx.js
  sphinx/locale/it/LC_MESSAGES/sphinx.js
  sphinx/locale/ja/LC_MESSAGES/sphinx.js
  sphinx/locale/ko/LC_MESSAGES/sphinx.js
  sphinx/locale/lt/LC_MESSAGES/sphinx.js
  sphinx/locale/lv/LC_MESSAGES/sphinx.js
  sphinx/locale/mk/LC_MESSAGES/sphinx.js
  sphinx/locale/nb_NO/LC_MESSAGES/sphinx.js
  sphinx/locale/ne/LC_MESSAGES/sphinx.js
  sphinx/locale/nl/LC_MESSAGES/sphinx.js
  sphinx/locale/pl/LC_MESSAGES/sphinx.js
  sphinx/locale/pt/LC_MESSAGES/sphinx.js
  sphinx/locale/pt_BR/LC_MESSAGES/sphinx.js
  sphinx/locale/pt_PT/LC_MESSAGES/sphinx.js
  sphinx/locale/ro/LC_MESSAGES/sphinx.js
  sphinx/locale/ru/LC_MESSAGES/sphinx.js
  sphinx/locale/si/LC_MESSAGES/sphinx.js
  sphinx/locale/sk/LC_MESSAGES/sphinx.js
  sphinx/locale/sl/LC_MESSAGES/sphinx.js
  sphinx/locale/sq/LC_MESSAGES/sphinx.js
  sphinx/locale/sr/LC_MESSAGES/sphinx.js
  sphinx/locale/sr@latin/LC_MESSAGES/sphinx.js
  sphinx/locale/sr_RS/LC_MESSAGES/sphinx.js
  sphinx/locale/sv/LC_MESSAGES/sphinx.js
  sphinx/locale/ta/LC_MESSAGES/sphinx.js
  sphinx/locale/te/LC_MESSAGES/sphinx.js
  sphinx/locale/tr/LC_MESSAGES/sphinx.js
  sphinx/locale/uk_UA/LC_MESSAGES/sphinx.js
  sphinx/locale/ur/LC_MESSAGES/sphinx.js
  sphinx/locale/vi/LC_MESSAGES/sphinx.js
  sphinx/locale/zh_CN/LC_MESSAGES/sphinx.js
  sphinx/locale/zh_TW/LC_MESSAGES/sphinx.js
Labels: refactoring

#7916 autodoc: the signature of base function will be shown for decorated functions
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autofunction.py
Labels: autodoc, bug

#7911 doc: Update docs (refs: #7907)
  doc/usage/configuration.rst
Labels: docs, i18n

#7906 Add :noindexentry: option
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
  tests/test_domain_js.py
  tests/test_domain_py.py
Labels: docs, domains:c, domains:cpp, domains:js, domains:py, enhancement

#7878 basic CSS: allow more "floating"
  CHANGES
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html theme

#7919 test: Use released html5lib package
  tox.ini
Labels: refactoring, test

#7920 napoleon: Adjust test expectation for namedtuple in py37+
  tests/test_ext_napoleon.py
Labels: extensions:napoleon, refactoring, test

#7910 show docs for decorated special functions
  sphinx/ext/napoleon/__init__.py
  sphinx/testing/util.py
  tests/test_ext_napoleon.py
Labels: bug, extensions:napoleon

#7922 Doc: Add missing 'env-merge-info' to the todo tutorial.
  doc/development/tutorials/examples/todo.py
  doc/development/tutorials/todo.rst
Labels: docs

#7923 Fix #7894: gettext: Wrong source info is shown when using rst_epilog
  CHANGES
  sphinx/util/rst.py
  tests/test_parser.py
  tests/test_util_rst.py
Labels: bug, i18n

#7926 Add docs.mesa3d.org to EXAMPLES
  EXAMPLES
Labels: docs

#7620 Fix #7619: Duplicated node IDs are generated if node has multiple IDs
  CHANGES
  sphinx/addnodes.py
  sphinx/io.py
  sphinx/util/docutils.py
Labels: bug

#7924 doc: Add translation.png to build latexpdf successfully
  doc/_static/Makefile
  doc/_static/translation.pdf
  doc/_static/translation.png
  doc/usage/advanced/intl.rst
Labels: bug, docs

#7938 doc: Remove broken PDF image
  doc/_static/translation.pdf
Labels: bug, docs

#7879 Close #7849: html: Add html_codeblock_linenos
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  tests/roots/test-reST-code-block/conf.py
  tests/roots/test-reST-code-block/index.rst
  tests/test_build_html.py
Labels: enhancement, html

#7930 Fix #7928: py domain: failed to resolve a type annotation for the attribute
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#7936 Fix #7691: linkcheck: HEAD requests are not used for checking
  CHANGES
  sphinx/util/requests.py
Labels: bug, builder

#7870 Propagate original extension errors
  sphinx/events.py
Labels: proposal

#7937 Fix #7935: autodoc: A default value inspect._empty conseals signatures
  CHANGES
  sphinx/util/inspect.py
  tests/test_util_inspect.py
  tests/typing_test_data.py
Labels: autodoc, bug

#7925 Close #7902: html theme: Add a new option globaltoc_maxdepth
  CHANGES
  doc/usage/theming.rst
  sphinx/builders/html/__init__.py
  sphinx/themes/basic/globaltoc.html
  sphinx/themes/basic/theme.conf
Labels: enhancement, html theme

#7941 Fix #7901: autodoc: annotations for overloaded functions are not resolved
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/overload.py
Labels: api, autodoc

#7945 :name_badge: CodeTriage
  README.rst
Labels: docs

#7940 Fix double trailing newline apidoc
  sphinx/templates/apidoc/package.rst_t
  tests/test_ext_apidoc.py
Labels: apidoc, bug

#7950 Update description of autosummary_generate_overwrite
  doc/usage/extensions/autosummary.rst
Labels: docs

#7905 [WIP?] C, add compatibility flag for parsing some pre-v3 input
  CHANGES
  doc/usage/configuration.rst
  sphinx/domains/c.py
Labels: domains:c, enhancement

#7960 C, don't deepcopy as deep on handling enumerators
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
Labels: bug, domains:c

#7959 Fix typo in prepare_docstring() warning
  sphinx/util/docstrings.py
Labels: bug, docs

#7951 Fix #7745: html: inventory is broken if the docname contains a space
  CHANGES
  sphinx/builders/html/__init__.py
Labels: bug, html

#7954 Autodoc: Allow overriding of exclude-members in skip-member function
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, proposal

#7955 Improve warning message from deprecated_alias
  sphinx/builders/applehelp.py
  sphinx/builders/devhelp.py
  sphinx/builders/dirhtml.py
  sphinx/builders/htmlhelp.py
  sphinx/builders/qthelp.py
  sphinx/builders/singlehtml.py
  sphinx/deprecation.py
  sphinx/directives/__init__.py
  sphinx/directives/other.py
  sphinx/ext/autodoc/importer.py
  sphinx/io.py
  sphinx/transforms/__init__.py
  sphinx/util/pycompat.py
  sphinx/writers/latex.py
Labels: api, enhancement

#7946 Fix #904: autodoc: An instance attribute cause a crash of autofunction
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#7962 refactor: namedtuples with PEP 526
  sphinx/domains/__init__.py
  sphinx/domains/python.py
  sphinx/events.py
  sphinx/ext/autosummary/generate.py
  sphinx/transforms/post_transforms/code.py
  sphinx/util/images.py
Labels: refactoring

#7943 Fix autosummary: "Module attributes" header is not translatable
  CHANGES
  sphinx/ext/autosummary/templates/autosummary/module.rst
Labels: autosummary, bug, i18n

#7967 Speed up the C domain a bit
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
Labels: domains:c, refactoring

#7971 Add Tech writer at work blog
  EXAMPLES
Labels: docs

#7947 Fix #1362: autodoc: Support private class attributes
  CHANGES
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/name_mangling.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#7969 Fix #7968: i18n: process math_block as a literal node
  sphinx/util/nodes.py
Labels: bug, i18n

#7976 test: Decode stdout and stderr of epubcheck
  tests/test_build_epub.py
Labels: refactoring, test

#7977 Move "self" toctree testcase to test-toctree
  tests/roots/test-root/index.txt
  tests/roots/test-toctree/index.rst
  tests/test_environment_toctree.py
Labels: refactoring, test, toctree

#5405 Run epubcheck on CI
  .circleci/config.yml
  tests/roots/test-root/index.txt
  tests/test_build_html.py
Labels: epub, test

#7979 Close #7784: i18n: The alt text for image is translated by default
  CHANGES
  doc/usage/configuration.rst
  sphinx/transforms/i18n.py
  sphinx/util/nodes.py
  tests/roots/test-intl/xx/LC_MESSAGES/figure.po
  tests/test_intl.py
Labels: enhancement, i18n

#7980 fix typo
  CHANGES
  EXAMPLES
  sphinx/builders/_epub_base.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/ext/ifconfig.py
  sphinx/themes/bizstyle/static/css3-mediaqueries_src.js
  sphinx/util/__init__.py
  sphinx/util/compat.py
  sphinx/util/docutils.py
  sphinx/versioning.py
  sphinx/writers/text.py
  tests/roots/test-latex-labels/index.rst
  tests/test_build_latex.py
  tests/test_ext_inheritance_diagram.py
  utils/pylintrc
Labels: refactoring

#7957 Fix #4888: i18n: Failed to add an explicit title to ``:ref:`` role
  CHANGES
  sphinx/transforms/i18n.py
  tests/roots/test-intl/role_xref.txt
  tests/roots/test-intl/xx/LC_MESSAGES/role_xref.po
  tests/test_intl.py
Labels: bug, i18n

#7975 Fix #2050: Symbols sections are appeared twice in the index page
  CHANGES
  sphinx/environment/adapters/indexentries.py
  tests/test_environment_indexentries.py
Labels: bug, markup

#7982 Close #7840: i18n: Optimize the dependencies check on bootstrap
  CHANGES
  sphinx/environment/__init__.py
Labels: enhancement

#7966 autosummary: Add testcase for module constants (refs: #7469)
  sphinx/pycode/__init__.py
  sphinx/pycode/parser.py
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/test_ext_autosummary.py
Labels: autosummary, test

#7984 Fix #7983: autodoc: Generator type annotation is wrongly rendered in py36
  CHANGES
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: autodoc, bug

#7985 Close #5208: linkcheck: Support checks for local links
  CHANGES
  sphinx/builders/linkcheck.py
  tests/roots/test-linkcheck/links.txt
  tests/test_build_linkcheck.py
Labels: builder, enhancement

#7927 Add autosummary_filename_map config to avoid clashes
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autosummary-filename-map/autosummary_dummy_module.py
  tests/roots/test-ext-autosummary-filename-map/conf.py
  tests/roots/test-ext-autosummary-filename-map/index.rst
  tests/test_ext_autosummary.py
Labels: autosummary, proposal

#8001 BuildDoc: link verbosity to distutils'
  CHANGES
  sphinx/setup_command.py
Labels: proposal

#8002 doclinter: Allow a very long literal string
  utils/doclinter.py
Labels: refactoring, test

#7961 Move to MathJax 3.
  CHANGES
  doc/usage/extensions/math.rst
  sphinx/ext/mathjax.py
  tests/test_ext_math.py
Labels: html, markup

#7690 preprocessing numpy types
  doc/usage/extensions/napoleon.rst
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: extensions:napoleon, proposal

#8000 linkcheck: Fix a protocol relative URL is considered as a local file
  sphinx/builders/linkcheck.py
Labels: bug, builder

#7997 fix 6863: add description literalinclude option (start/end have same string)
  doc/usage/restructuredtext/directives.rst
Labels: docs, markup

#8005 Fix typo
  sphinx/testing/fixtures.py
Labels: bug

#7992 Allow searching for things like serials, phone numbers, etc
  sphinx/search/__init__.py
  sphinx/themes/basic/static/searchtools.js
Labels: html search, proposal

#8012 Fix typo
  sphinx/util/docutils.py
Labels: bug, docs

#8014 C, named variadic arg
  CHANGES
  sphinx/domains/c.py
  tests/test_domain_c.py
Labels: domains:c

#7999 domains: c: add support for named variadic argument
  sphinx/domains/c.py
Labels: domains:c, proposal

#8019 Update basics.rst
  doc/usage/restructuredtext/basics.rst
Labels: docs

#7994 Add option to use old node-ids in option directive
  sphinx/domains/std.py
Labels: bug, domains:std

#8020 Fix #8008: py domain: failed to parse a type annotation containing ellipsis
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#8006 Fix #7768: i18n: Wrong root element is passed to figure_language_filename
  CHANGES
  sphinx/environment/collectors/asset.py
  sphinx/util/i18n.py
Labels: bug, i18n
