Repository sphinx-doc/sphinx, pull requests merged in 2020-06, with the labels that each got.

#7750 [doc] Add project internals guide
  CODE_OF_CONDUCT
  CONTRIBUTING.rst
  README.rst
  doc/_templates/index.html
  doc/changes.rst
  doc/code_of_conduct.rst
  doc/contents.rst
  doc/develop.rst
  doc/devguide.rst
  doc/internals/authors.rst
  doc/internals/code-of-conduct.rst
  doc/internals/contributing.rst
  doc/internals/index.rst
  doc/internals/organization.rst
  doc/internals/release-process.rst
Labels: docs, refactoring

#7769 C and C++, don't crash during stringification
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: bug, domains:c, domains:cpp

#7670 C++, parse (trailing) requires clauses
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: domains:cpp, enhancement

#7753 Extend bindep integration to dpkg-based distros (Ubuntu, Debian, ...)
  bindep.txt
Labels: refactoring

#7775 Fix mypy violations (with mypy-0.780)
  setup.py
  sphinx/config.py
  sphinx/jinja2glue.py
  sphinx/search/__init__.py
  sphinx/util/console.py
  sphinx/util/images.py
  sphinx/util/nodes.py
  sphinx/util/pycompat.py
  sphinx/util/template.py
  sphinx/util/typing.py
Labels: refactoring

#7776 Fix mypy violations (with mypy-0.780)
  setup.py
  sphinx/config.py
  sphinx/ext/autosummary/generate.py
  sphinx/jinja2glue.py
  sphinx/search/__init__.py
  sphinx/util/console.py
  sphinx/util/images.py
  sphinx/util/nodes.py
  sphinx/util/pycompat.py
  sphinx/util/template.py
  sphinx/util/typing.py
Labels: refactoring

#7770 Let option directive support args in the form of foo[=bar]
  sphinx/domains/std.py
  tests/roots/test-root/objects.txt
  tests/test_build_html.py
Labels: markup, proposal

#7781 Fix reported dir when throwing ApplicationError
  sphinx/application.py
Labels: bug

#7716 Close #3610: autodoc: Support overloaded functions
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/pycode/__init__.py
  sphinx/pycode/parser.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/overload.py
  tests/test_ext_autodoc.py
  tests/test_pycode_parser.py
  tests/test_util_inspect.py
Labels: autodoc, enhancement

#7718 CSS: Respect Pygments background color
  sphinx/themes/agogo/static/agogo.css_t
  sphinx/themes/haiku/static/haiku.css_t
  sphinx/themes/nature/static/nature.css_t
  sphinx/themes/pyramid/static/pyramid.css_t
  sphinx/themes/scrolls/static/scrolls.css_t
  sphinx/themes/sphinxdoc/static/sphinxdoc.css_t
  sphinx/themes/traditional/static/traditional.css_t
Labels: bug, html theme

#7717 basic CSS: avoid unnecessary padding to the left of line numbers
  sphinx/themes/basic/static/basic.css_t
Labels: html theme, proposal

#7721 classic theme: default codetextcolor/codebgcolor doesn't override Pygments
  sphinx/themes/classic/theme.conf
Labels: enhancement, html theme

#7760 coverage ext - config to log missing coverage
  doc/usage/extensions/coverage.rst
  sphinx/ext/coverage.py
  tests/test_ext_coverage.py
Labels: extensions, proposal

#7793 Fix typo
  doc/usage/extensions/coverage.rst
Labels: bug, docs

#7778 Fix #7723: LaTeX: pdflatex crashed when URL contains a single quote
  CHANGES
  sphinx/writers/latex.py
Labels: bug, latex

#7794 Close #7792: setuptools: Support ``--verbosity`` option
  CHANGES
  sphinx/setup_command.py
Labels: enhancement

#7788 autodoc: Support TypeVar (refs: #7722)
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typevar.py
  tests/test_ext_autodoc.py
Labels: autodoc, enhancement

#7657 basic theme: CSS margin overhaul
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html theme

#7797 Fix #7791: autodoc: TypeError is raised on documenting singledispatch function
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7804 Fix #7803: Fix typo in import-block for type annotation
  sphinx/util/nodes.py
Labels: bug

#7814 Fix #7808: autodoc: Warnings raised on variable and attribute type annotations
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: autodoc, bug

#7815 Fix #7812: autosummary: generates broken stub files
  CHANGES
  sphinx/util/__init__.py
  sphinx/util/inspect.py
Labels: autosummary, bug

#7822 Fix #7715: Issue \@addtoreset after loading hyperref
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#7818 Fix #7802: autodoc: EOFError is raised on parallel build
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7820 Fix exception causes in code.py
  sphinx/directives/code.py
Labels: refactoring

#7823 Fix #7821: autodoc: TypeError is raised for overloaded C-ext function
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7827 Revert "ext.napoleon: Emit type annotations at the start of `.. attribute::`"
  CHANGES
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, extensions:napoleon

#7829 Fix #7805: autodoc: an object which descriptors returns is documented
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7831 Fix #7807: autodoc: wrong signature is shown for the function using contextmanager
  CHANGES
  sphinx/ext/autodoc/type_comment.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/wrappedfunction.py
  tests/test_ext_autodoc_autofunction.py
Labels: autodoc, bug

#7833 Run lint tools on GH Actions
  .github/workflows/docslint.yml
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .travis.yml
Labels: refactoring, test

#7835 Integrate GitHub Actions' workflows for linting to single YAML file
  .github/workflows/docslint.yml
  .github/workflows/flake8.yml
  .github/workflows/lint.yml
Labels: refactoring, test

#7842 Update licence year
  LICENSE
Labels: docs

#7843 Fix #7839: autosummary: cannot handle umlauts in function names
  CHANGES
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
Labels: autosummary, bug

#7845 Use chain.from_iterable in text.py
  sphinx/writers/text.py
Labels: refactoring, text

#7830 Add debug logs for change detection of sources and templates
  sphinx/builders/html/__init__.py
  sphinx/environment/__init__.py
Labels: enhancement

#7854 C and C++: support parameterized GNU style attributes
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: domains:c, domains:cpp, enhancement

#7846 Use well-formed XML syntax.
  sphinx/themes/basic/layout.html
  sphinx/themes/bizstyle/layout.html
Labels: bug, html theme

#7834 Do "twine check" on CI process
  .github/workflows/lint.yml
  tox.ini
  utils/release-checklist
Labels: refactoring, test

#7860 doc: Add modname separator tip for autodoc (refs: #7841)
  doc/usage/extensions/autodoc.rst
Labels: autodoc, docs

#7862 Fix #7844: autodoc: Failed to detect module when relative module name given
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/__init__.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#7858 Fix #7856: autodoc: AttributeError is raised for non-class object
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#7859 Fix #7850: autodoc: KeyError is raised for invalid mark up
  CHANGES
  sphinx/ext/autodoc/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, bug

#7876 Fix #7866: autosummary: Failed to extract correct summary line
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: autosummary, bug

#7885 CI: Build document on GitHub Actions
  .github/workflows/builddoc.yml
  .travis.yml
Labels: refactoring, test

#7877 Fix #7865: autosummary: Failed to extract summary line when abbr. found
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: autosummary, enhancement

#7872 Fix #7806: viewcode: Failed to resolve viewcode references on 3rd party builders
  CHANGES
  sphinx/ext/viewcode.py
Labels: bug, extensions

#7873 Fix #7869: abbr role wrongly copies an explanation from the previous one
  CHANGES
  sphinx/roles.py
Labels: bug, markup

#7874 doc: Fix URL
  CONTRIBUTING.rst
Labels: docs

#7832 Fix exception causes all over the codebase
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/theming.py
  sphinx/config.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/std.py
  sphinx/environment/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/graphviz.py
  sphinx/ext/imgconverter.py
  sphinx/ext/imgmath.py
  sphinx/ext/intersphinx.py
  sphinx/pycode/__init__.py
  sphinx/registry.py
  sphinx/search/ja.py
  sphinx/setup_command.py
  sphinx/theming.py
  sphinx/transforms/post_transforms/__init__.py
  sphinx/util/__init__.py
  sphinx/util/i18n.py
  sphinx/util/inspect.py
  sphinx/util/osutil.py
  sphinx/util/pycompat.py
  sphinx/writers/texinfo.py
  tests/test_build_latex.py
  tests/test_build_texinfo.py
Labels: refactoring

#7888 ext.napoleon: Add aliases Warn and Raise
  CHANGES
  doc/usage/extensions/napoleon.rst
  sphinx/ext/napoleon/docstring.py
Labels: extensions:napoleon, proposal

#7882 C, add c:alias directive
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
Labels: domains:c, enhancement
