Repository sphinx-doc/sphinx, pull requests merged in 2021-01, with the labels that each got.

#8625 refactor: autodoc: Allow None value from get_doc()
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#8626 refactor: test: Use rollback_sysmodules fixture in test_ext_autosummary
  tests/test_ext_autosummary.py
Labels: autosummary, refactoring, test

#8627 Fix #8315: autodoc: Failed to resolve struct.Struct type annotation
  CHANGES
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: autodoc, bug

#8630 Fix #8629: html: A type warning for html_use_opensearch is shown twice
  CHANGES
  sphinx/builders/html/__init__.py
Labels: bug, html

#8640 DOC: `modules` are only available when `recursive` is on
  doc/usage/extensions/autosummary.rst
Labels: autosummary, docs

#8639 Close #8634: html: Allow to change the order of JS/CSS
  CHANGES
  sphinx/application.py
  sphinx/builders/html/__init__.py
  sphinx/registry.py
  tests/test_build_html.py
Labels: enhancement, html

#8650 doc: Quote URLs in release checklist
  utils/release-checklist
Labels: docs

#8641 doc: Add explanation for the priority attribute of html_*_files
  doc/usage/configuration.rst
  sphinx/application.py
  tests/roots/test-html_assets/conf.py
  tests/test_build_html.py
Labels: docs, html

#8644 refactor: Do not import sphinx.util.smartypants because of deprecated
  sphinx/util/__init__.py
Labels: refactoring

#8643 refactor: Move CSS tags in basic/layout.html to ``css_files`` variable
  CHANGES
  sphinx/application.py
  sphinx/builders/html/__init__.py
  sphinx/themes/basic/layout.html
  tests/test_build_html.py
  tests/test_theming.py
Labels: html theme, refactoring

#8646 refactor: Update typehints for ObjectDescription using Generic
  sphinx/directives/__init__.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/domains/std.py
Labels: domain, refactoring

#8649 Skip imgconverter availability check if builder supports the image type
  sphinx/transforms/post_transforms/images.py
Labels: enhancement

#8638 Close #5977: :var: field do not create a cross-reference …
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py, enhancement

#8656 Fix #8655: autodoc: Crashes when object raises an exception on hasattr()
  CHANGES
  sphinx/ext/autodoc/mock.py
Labels: autodoc, bug

#8631 Close #6241: html: Allow to add JS/CSS files to the specific page
  CHANGES
  doc/extdev/appapi.rst
  sphinx/application.py
  sphinx/builders/html/__init__.py
  sphinx/domains/math.py
  sphinx/ext/mathjax.py
  tests/roots/test-ext-math/index.rst
  tests/roots/test-ext-math/nomath.rst
  tests/test_ext_math.py
Labels: enhancement, extensions, html

#8661 doc: Update branch name in release-checklist
  utils/release-checklist
Labels: docs

#8665 Cast maxdepth to int in toctree
  sphinx/environment/adapters/toctree.py
Labels: bug, html theme

#8668 C, fix namespace lookup for expr role
  CHANGES
  sphinx/domains/c.py
  tests/roots/test-domain-c/ns_lookup.rst
  tests/test_domain_c.py
Labels: bug, domains:c

#8670 doc: Fix highlight language
  doc/usage/extensions/autodoc.rst
Labels: bug, docs

#8673 refactor: Access config object from self directly in writers
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/manpage.py
  sphinx/writers/texinfo.py
Labels: refactoring

#8672 Fix #8671: highlight_options is not working
  CHANGES
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
Labels: bug

#8675 test: Add testcase for relative/short xref for py domain
  tests/roots/test-domain-py/abbr.rst
  tests/test_domain_py.py
Labels: domains:py, test

#8674 Close #207: Now highlight_language supports multiple languages
  CHANGES
  doc/usage/configuration.rst
  sphinx/config.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  tests/roots/test-highlight_options/conf.py
  tests/roots/test-highlight_options/index.rst
  tests/test_build_html.py
Labels: config, enhancement

#8682 C, C++, fix intersphinx and role lookup types
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  tests/roots/test-domain-c-intersphinx/conf.py
  tests/roots/test-domain-c-intersphinx/index.rst
  tests/roots/test-domain-cpp-intersphinx/conf.py
  tests/roots/test-domain-cpp-intersphinx/index.rst
  tests/roots/test-domain-cpp/roles-targets-ok.rst
  tests/roots/test-domain-cpp/roles-targets-warn.rst
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: bug, domains:c, domains:cpp, refactoring

#8679 Fix #8651: cross-reference for a rubric having inline item is broken
  CHANGES
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: bug, domains:std

#8680 refactor: Deprecate DocumenterBrdige.reporter
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/directive.py
Labels: autodoc, refactoring

#8678 Fix #8677: doc: Update description of html_baseurl
  doc/usage/configuration.rst
Labels: bug, docs

#8684 Fix #2030: automatic dedent support in code-block directive
  CHANGES
  doc/usage/restructuredtext/directives.rst
  sphinx/directives/code.py
  tests/test_directive_code.py
Labels: enhancement, markup

#8685 Fix #8683: html_last_updated_fmt does not support UTC offset (%z)
  CHANGES
  sphinx/util/i18n.py
  tests/test_util_i18n.py
Labels: bug, i18n

#8667 Fix #8652: autodoc: variable comments are ignored if invalid type comments found
  CHANGES
  sphinx/pycode/ast.py
Labels: autodoc, bug

#8691 Fix #8662: Add .readthedocs.yml
  .readthedocs.yml
Labels: bug, docs

#8692 refactor: Remove meaningless variable: attrs
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
Labels: refactoring

#8694 Fix #8693: autodoc: Default values for overloads are rendered as string
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/overload.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8695 Close #8514: autodoc: Default values of overloads are taken from actual implementation
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/overload.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, enhancement

#8690 Fix #4550: The align attribute of figure nodes becomes None by default
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/transforms/__init__.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
Labels: html, latex, refactoring

#8699 refactor: viewcode: Use a constant for dirname
  sphinx/ext/viewcode.py
Labels: extensions, refactoring

#8696 refactor: test: Do not use deprecated function: execfile_()
  tests/test_quickstart.py
Labels: refactoring, test

#8697 Fix #1112: download role creates duplicated copies
  CHANGES
  sphinx/environment/__init__.py
  tests/test_environment.py
Labels: bug, html, markup

#8698 Close #8681: viewcode: Support incremental build
  CHANGES
  sphinx/ext/viewcode.py
Labels: enhancement, extensions

#8658 Close #8573: napoleon: Add more custom section styles
  doc/usage/extensions/napoleon.rst
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: enhancement, extensions:napoleon

#8703 refactor: viewcode: Fix type annotations
  sphinx/ext/viewcode.py
Labels: extensions, refactoring

#8706 C++, also hyperlink operators in expr and alias
  CHANGES
  sphinx/domains/cpp.py
Labels: domains:cpp

#8708 refactor: autosummary: Deprecate _simple_info() and _simple_warn()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/generate.py
Labels: autosummary, refactoring

#8710 minor typing fix
  sphinx/transforms/post_transforms/__init__.py
Labels: refactoring

#8702 linkcheck: Do not check the availability of the same URL repeatedly
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/linkcheck.py
  tests/roots/test-linkcheck-localserver-two-links/conf.py
  tests/roots/test-linkcheck-localserver-two-links/index.rst
  tests/test_build_linkcheck.py
Labels: bug, linkcheck

#8712 refactor: linkcheck: Make linkcheck builder to a subclass of DummyBuilder
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8713 Close #5560: napoleon_use_param also affect "other parameters" section
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: enhancement, extensions:napoleon

#8715 Fix some mark-up issues in latex.rst with "Default:" lines
  doc/latex.rst
Labels: docs, markup

#8722 Match linkcheck deprecation warning version with deprecated.rst
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8723 Deprecate linkcheck builder {broken,good,redirected}
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8721 Fix #8720: viewcode: module pages are generated for epub on incremental build
  CHANGES
  sphinx/ext/viewcode.py
  tests/test_ext_viewcode.py
Labels: bug, extensions

#8728 Fix mypy violations (with mypy-0.800)
  setup.py
  sphinx/builders/html/__init__.py
  sphinx/util/i18n.py
Labels: refactoring

#8707 Fix #8704: viewcode: anchors are generated in incremental build
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/viewcode.py
  tests/test_ext_viewcode.py
Labels: bug, extensions

#8726 doc: Link to detailed extension documentation
  doc/development/index.rst
Labels: docs

#8719 Fix #8714: html: kbd role with "Caps Lock" rendered incorrectly
  CHANGES
  sphinx/builders/html/transforms.py
  tests/test_markup.py
Labels: bug, html

#8724 Closes: #8339
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
Labels: docs, latex

#8247 Allow production lists to refer to tokens from other production groups.
  doc/usage/restructuredtext/directives.rst
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: enhancement, markup

#8648 refactor: some domain base classes become subclasses of abc.ABC
  CHANGES
  sphinx/domains/__init__.py
Labels: domain, refactoring

#8716 LaTeX: update default font configuration
  CHANGES
  bindep.txt
  doc/conf.py
  doc/latex.rst
  doc/usage/builders/index.rst
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/constants.py
  sphinx/templates/latex/latex.tex_t
  tests/test_build_latex.py
Labels: bug, latex

#8734 Update the link to the new sphinx-contrib organization
  doc/usage/extensions/index.rst
Labels: docs

#8736 Fix #8735
  CHANGES
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#7798 documentation for proper code-block cross-referencing
  doc/usage/restructuredtext/directives.rst
Labels: docs, markup

#8729 Fix #8727: apidoc: namespace module file is not generated if no submodules
  CHANGES
  sphinx/ext/apidoc.py
  tests/test_ext_apidoc.py
Labels: apidoc, bug

#8731 Fix #8004: napoleon_preprocess_types for Google style docstrings
  CHANGES
  sphinx/ext/napoleon/docstring.py
  tests/test_ext_napoleon_docstring.py
Labels: enhancement, extensions:napoleon

#8732 refactor: html theme: Insert documentation_options.js via script_files
  CHANGES
  sphinx/builders/html/__init__.py
  sphinx/themes/basic/layout.html
Labels: html theme, refactoring

#8733 Update Underscore.js to 1.12.0
  CHANGES
  sphinx/themes/basic/static/underscore-1.12.0.js
  sphinx/themes/basic/static/underscore-1.3.1.js
  sphinx/themes/basic/static/underscore.js
  tests/test_theming.py
Labels: html theme, refactoring

#8739 doc: minor fix
  doc/usage/restructuredtext/directives.rst
Labels: docs, refactoring

#8743 Fix #8054: Add explanation for types argument of add_config_value()
  sphinx/application.py
Labels: bug, docs

#8741 doc: Show type annotations for methods of Sphinx application class
  doc/extdev/appapi.rst
Labels: docs, refactoring

#8599 Close #6550: html: Allow to use HTML permalink texts
  CHANGES
  doc/extdev/deprecated.rst
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  tests/test_build_html.py
Labels: enhancement, html

#8744 doc: Apply :params: to some APIs in app class
  sphinx/application.py
Labels: docs, refactoring

#8737 Allow user to use url to reference html logo & favicon
  CHANGES
  doc/extdev/deprecated.rst
  doc/templating.rst
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  sphinx/themes/agogo/layout.html
  sphinx/themes/basic/layout.html
  sphinx/themes/basic/opensearch.xml
  sphinx/themes/haiku/layout.html
  sphinx/themes/pyramid/layout.html
  sphinx/util/__init__.py
Labels: enhancement, html, html theme

#8738 Fix #8118: doc: the default setting of today_fmt
  doc/usage/configuration.rst
Labels: bug, docs

#8751 Linkcheck: Don’t repeatedly open/close log files
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8753 Linkcheck: Derive number of links from the post-transform result
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8746 Improve Sphinx own pdf docs
  doc/changes.rst
  doc/conf.py
Labels: docs, latex

#8740 Close #7642: std domain: Optimize case-insensitive match of term
  CHANGES
  sphinx/domains/std.py
Labels: domains:std, enhancement

#8747 Fix #8134: autodoc: crashes when mocked decorator takes arguments
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autodoc/mock.py
  tests/roots/test-ext-autodoc/target/need_mocks.py
  tests/test_ext_autodoc_mock.py
Labels: autodoc, bug

#8748 Fix #6550: Emit a deprecation warning for html_add_permalinks
  sphinx/builders/html/__init__.py
Labels: html, refactoring

#8749 Fix #8737: html: broken img tag is appeared when html_logo not set
  sphinx/builders/html/__init__.py
Labels: bug, html

#8752 Close #1638: html: Add permalink icons to glossary terms
  CHANGES
  sphinx/writers/html.py
  sphinx/writers/html5.py
  tests/test_build_html.py
  tests/test_markup.py
Labels: enhancement, html

#8760 LaTeX: sync pdftex engine default imageresolution with pxunit
  CHANGES
  sphinx/templates/latex/latex.tex_t
Labels: bug, latex

#8754 Fix #7118: quickstart: got Mojibake if libreadline unavailable
  CHANGES
  sphinx/cmd/quickstart.py
Labels: bug, cmdline

#8757 Fix #8756: viewcode: highlighted code is generated even if not referenced
  CHANGES
  sphinx/ext/viewcode.py
Labels: bug, extensions

#7942 html: html_codeblock_linenos_style defaults to 'inline' (refs: #7849)
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  tests/test_directive_code.py
Labels: html, proposal

#8762 doc: Add hyperlinks to classifiers for sphinx extensions and themes
  doc/usage/extensions/index.rst
Labels: docs

#8763 doc: Apply :params: to some APIs in app class
  sphinx/application.py
Labels: docs, refactoring

#8764 Fix #8442: missing index entries in pdf output with memoir + xindy
  CHANGES
  sphinx/templates/latex/latex.tex_t
Labels: bug, latex

#8767 Fix #8214: duplicate entries in latex index if term also in glossary
  CHANGES
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#8755 Fix #8745: i18n: KeyError if a new auto footnote_ref in translations
  CHANGES
  sphinx/transforms/i18n.py
Labels: bug, i18n

#8765 LaTeX: sync with upstream footnotehyper
  CHANGES
  sphinx/texinputs/footnotehyper-sphinx.sty
Labels: bug, latex

#8766 graphviz: Image node is not rendered if graph file is in subdir (refs: #8232)
  CHANGES
  sphinx/ext/graphviz.py
Labels: bug, extensions

#8769 Refactor latex into multiple files
  CHANGES
  doc/latex.rst
  sphinx/builders/latex/__init__.py
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexenvadmonitions.sty
  sphinx/texinputs/sphinxlatexenvdocs.sty
  sphinx/texinputs/sphinxlatexenvindbibtoc.sty
  sphinx/texinputs/sphinxlatexenvliteral.sty
  sphinx/texinputs/sphinxlatexenvshadowbox.sty
  sphinx/texinputs/sphinxlatexgraphics.sty
  sphinx/texinputs/sphinxlatexmiscfixme.sty
  sphinx/texinputs/sphinxlatexmisclists.sty
  sphinx/texinputs/sphinxlatexmiscnumbering.sty
  sphinx/texinputs/sphinxlatexoptionhandling.sty
  sphinx/texinputs/sphinxlatexrequirepackages.sty
  sphinx/texinputs/sphinxlatexstyleheadings.sty
  sphinx/texinputs/sphinxlatexstylepage.sty
  sphinx/texinputs/sphinxlatexstyletext.sty
  sphinx/texinputs/sphinxpackagecyrillic.sty
  sphinx/texinputs/sphinxpackagefootnote.sty
  sphinx/texinputs/sphinxpackagemulticell.sty
Labels: latex, refactoring

#8772 Revert alteration at c9480f994 merge of 3.x of doc/conf.py
  doc/conf.py
Labels: bug

#8770 linkcheck: Raise on unknown status in process_result()
  sphinx/builders/linkcheck.py
Labels: linkcheck

#8773 Linkcheck: Use app.build() to trigger the test build
  tests/test_build_linkcheck.py
Labels: linkcheck, refactoring, test

#8781 Fix #8780: long words in narrow columns may not be hyphenated
  CHANGES
  doc/extdev/deprecated.rst
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/roots/test-latex-equations/expects/latex-equations.tex
  tests/roots/test-latex-table/expects/complex_spanning_cell.tex
  tests/roots/test-latex-table/expects/gridtable.tex
  tests/roots/test-latex-table/expects/longtable.tex
  tests/roots/test-latex-table/expects/longtable_having_align.tex
  tests/roots/test-latex-table/expects/longtable_having_caption.tex
  tests/roots/test-latex-table/expects/longtable_having_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_stub_columns_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_verbatim.tex
  tests/roots/test-latex-table/expects/longtable_having_widths.tex
  tests/roots/test-latex-table/expects/longtable_having_widths_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_with_tabularcolumn.tex
  tests/roots/test-latex-table/expects/simple_table.tex
  tests/roots/test-latex-table/expects/table_having_caption.tex
  tests/roots/test-latex-table/expects/table_having_problematic_cell.tex
  tests/roots/test-latex-table/expects/table_having_stub_columns_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/table_having_threeparagraphs_cell_in_first_col.tex
  tests/roots/test-latex-table/expects/table_having_verbatim.tex
  tests/roots/test-latex-table/expects/table_having_widths.tex
  tests/roots/test-latex-table/expects/table_having_widths_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/tabular_having_widths.tex
  tests/roots/test-latex-table/expects/tabularcolumn.tex
  tests/roots/test-latex-table/expects/tabulary_having_widths.tex
  tests/test_build_latex.py
  tests/test_markup.py
Labels: bug, latex

#8779 Fix #8072: Directive hlist not implemented in LaTeX
  CHANGES
  sphinx/directives/other.py
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
Labels: bug, latex

#8789 LaTeX: remove last argument of \titleformat in sphinx.sty
  CHANGES
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#8787 Let latex writer line trimming from depart_entry() work as before #8781
  sphinx/writers/latex.py
  tests/roots/test-latex-table/complex.rst
  tests/roots/test-latex-table/expects/complex_spanning_cell.tex
  tests/roots/test-latex-table/expects/gridtable.tex
Labels: latex

#8785 doc: Update doc for project_copyright (refs: #8783)
  doc/usage/configuration.rst
Labels: bug, docs

#8797 Latex sphinxsafeincludegraphics corebug
  CHANGES
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#8790 Refactor LaTeX style files
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexadmonitions.sty
  sphinx/texinputs/sphinxlatexgraphics.sty
  sphinx/texinputs/sphinxlatexindbibtoc.sty
  sphinx/texinputs/sphinxlatexlists.sty
  sphinx/texinputs/sphinxlatexliterals.sty
  sphinx/texinputs/sphinxlatexmiscfixme.sty
  sphinx/texinputs/sphinxlatexnumfig.sty
  sphinx/texinputs/sphinxlatexobjects.sty
  sphinx/texinputs/sphinxlatexoptionhandling.sty
  sphinx/texinputs/sphinxlatexrequirepackages.sty
  sphinx/texinputs/sphinxlatexshadowbox.sty
  sphinx/texinputs/sphinxlatexstyleheadings.sty
  sphinx/texinputs/sphinxlatexstylepage.sty
  sphinx/texinputs/sphinxlatexstyletext.sty
  sphinx/texinputs/sphinxlatextables.sty
  sphinx/texinputs/sphinxoptionsgeometry.sty
  sphinx/texinputs/sphinxoptionshyperref.sty
  sphinx/texinputs/sphinxpackagefootnote.sty
Labels: latex, refactoring

#8793 refactor: linkcheck: Access config object via self.config
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8794 refactor: linkcheck: Update type annotations
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8472 Fix #8446: html: consecutive spaces are displayed as single space
  CHANGES
  sphinx/writers/html.py
  sphinx/writers/html5.py
  tests/test_build_html.py
  tests/test_ext_intersphinx.py
Labels: bug, domains:py
