Repository sphinx-doc/sphinx, pull requests merged in 2021-10, with the labels that each got.

#9691 C, add support for return value list
  sphinx/domains/c.py
Labels: enhancement, domains:c

#9693 C, info-fields
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
Labels: domains:c

#9694 C++, add retval info field
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/cpp.py
Labels: enhancement, domains:cpp

#9672 Py, use more desc_sig_* nodes
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: enhancement, domains:py

#9703 doc: fix grammar of possessive of plural noun
  doc/_templates/index.html
Labels: bug, docs

#9695 JS, use more desc_sig_* nodes
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  tests/test_domain_js.py
  tests/test_domain_py.py
Labels: enhancement, domains:js

#9797 Fix #9757: autodoc_inherit_docstrings does not effect to overriden classmethods
  CHANGES
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: bug, autodoc

#9772 Closes #9733: Fix for logging handler flushing warnings in the middle of the docs build
  sphinx/util/logging.py
Labels: bug

#9801 Support docutils-0.18: Consume generator of Element.traverse()
  sphinx/transforms/i18n.py
Labels: enhancement, docutils

#9798 Fix #9775: py domain: Literal typehint was converted to a cross reference
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#9656 Fix issue with warnings without subtype being incorrectly suppressed
  sphinx/util/logging.py
  tests/test_util_logging.py
Labels: bug, config

#9459 Intersphinx, refactoring and intersphinx_disable_domains
  CHANGES
  doc/usage/extensions/intersphinx.rst
  sphinx/ext/intersphinx.py
  sphinx/templates/quickstart/conf.py_t
  sphinx/util/typing.py
  tests/test_ext_intersphinx.py
Labels: enhancement, refactoring, extensions:intersphinx

#9799 Fix #9781: autodoc_preserve_defaults does not support hexadecimal
  CHANGES
  sphinx/ext/autodoc/preserve_defaults.py
  tests/roots/test-ext-autodoc/target/preserve_defaults.py
  tests/test_ext_autodoc_preserve_defaults.py
Labels: bug, autodoc
