Repository sphinx-doc/sphinx, pull requests merged in 2021-05, with the labels that each got.

#9120 Feature:
  sphinx/themes/basic/static/basic.css_t
Labels: html theme, proposal

#9154 Close #8107: autodoc: Add class-doc-from option to autoclass directive
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  tests/test_ext_autodoc_autoclass.py
Labels: autodoc, enhancement

#9163 Fix test: deprecation warning for extlinks
  tests/roots/test-root/conf.py
Labels: extensions, refactoring, test

#9157 Fix #8872: autodoc: stacked singledispatches are wrongly rendered
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/singledispatch.py
  tests/roots/test-ext-autodoc/target/singledispatchmethod.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autofunction.py
Labels: autodoc, bug

#9158 Fix #8597: autodoc: metadata only docstring is treated as undocumented
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/docstrings.py
  tests/roots/test-ext-autodoc/target/metadata.py
  tests/test_ext_autodoc.py
  tests/test_util_docstrings.py
Labels: autodoc, bug

#9159 Fix #8588: autodoc_type_aliases does not support dotted name
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/autodoc_type_aliases.py
  tests/test_ext_autodoc_configs.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#9085 extlinks: Emit a warning if extlnks config does not contain '%s'
  doc/conf.py
  sphinx/ext/extlinks.py
Labels: extensions, refactoring

#9167 html: fix missing reverting when adding css files to specific page
  sphinx/builders/html/__init__.py
Labels: bug, html

#9164 refactor: Add Optional to type annotations
  sphinx/config.py
  sphinx/environment/adapters/toctree.py
  sphinx/project.py
  sphinx/transforms/__init__.py
  sphinx/util/docfields.py
  sphinx/util/docutils.py
  sphinx/util/logging.py
  sphinx/util/nodes.py
  sphinx/util/parallel.py
  sphinx/util/typing.py
Labels: refactoring

#9153 Revert "test: Disable testing with python3.10"
  .github/workflows/main.yml
  tests/test_util_inspect.py
Labels: test

#9146 Autosummary to include instance attributes
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/roots/test-autosummary/dummy_module.py
  tests/test_ext_autosummary.py
Labels: autosummary, proposal

#9131 Ignore nitpick warnings with regular expressions using `nitpick_ignore_regex`
  doc/usage/configuration.rst
  sphinx/config.py
  sphinx/transforms/post_transforms/__init__.py
  tests/roots/test-nitpicky-warnings/conf.py
  tests/roots/test-nitpicky-warnings/index.rst
  tests/test_config.py
Labels: config, proposal

#9176 [IMP] util: detect incorrect locale_dirs path
  sphinx/util/i18n.py
Labels: config, enhancement, i18n

#9180 Fix #9175: autodoc: Special member is not documented in the module
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/module.py
  tests/test_ext_autodoc_automodule.py
Labels: autodoc, bug

#9182 refactor: autodoc: Remove backslashes from the tail of line
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, refactoring

#9184 doc: Update CHANGES and docs for PR #9176
  CHANGES
  doc/usage/configuration.rst
Labels: docs, i18n

#9183 refactor: Add Optional to type annotations
  sphinx/application.py
  sphinx/builders/__init__.py
  sphinx/domains/__init__.py
  sphinx/domains/c.py
  sphinx/domains/citation.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/math.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/domains/std.py
  sphinx/environment/__init__.py
  sphinx/environment/adapters/toctree.py
  sphinx/environment/collectors/__init__.py
  sphinx/pycode/__init__.py
  sphinx/pycode/parser.py
  sphinx/search/__init__.py
  sphinx/transforms/i18n.py
  sphinx/util/__init__.py
Labels: refactoring

#9190 Fix #9189: autodoc: crashed by ValueError on generating signature of property
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#9191 Fix #9188: autosummary: warning if list is set to autosummary_generate
  CHANGES
  sphinx/ext/autosummary/__init__.py
Labels: autosummary, bug

#9192 Fix #8380: html search: tags for search result are broken
  CHANGES
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#9207 Fix #9205: py domain: canonical option causes xref resolution error
  CHANGES
  sphinx/domains/python.py
  tests/roots/test-domain-py/canonical.rst
  tests/roots/test-domain-py/index.rst
  tests/test_domain_py.py
Labels: bug, domains:py

#9208 Fix #9201: websupport: UndefinedError is raised: 'css_tag' is undefined
  CHANGES
  sphinx/builders/html/__init__.py
Labels: bug, html, websupport

#9187 i18n: Sync translations on repo and transifex.com via GitHub Actions automatically
  .github/workflows/transifex.yml
  utils/release-checklist
Labels: i18n, refactoring, task

#9185 autodoc.typehints can accurately represent overloads
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/typehints.py
  tests/roots/test-ext-autodoc/index.rst
  tests/test_ext_autodoc_configs.py
Labels: autodoc, proposal

#9212 Fix #9210: viewcode: crashed if non importable modules found on parallel build
  CHANGES
  sphinx/ext/viewcode.py
Labels: bug, extensions

#9215 Deprecate app.html_themes
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/application.py
  sphinx/registry.py
  sphinx/theming.py
Labels: html, html theme, refactoring

#9220 Fix type annotations (for jinja2)
  sphinx/jinja2glue.py
  sphinx/util/__init__.py
  sphinx/util/rst.py
  sphinx/util/tags.py
Labels: refactoring

#9221 Fix test: the result of stringify_signature() has been changed randomly in py36
  tests/test_util_inspect.py
Labels: bug, test

#9223 Fix #9222: Update Underscore.js to 1.13.1
  CHANGES
  sphinx/themes/basic/static/underscore-1.13.1.js
  sphinx/themes/basic/static/underscore.js
  tests/test_theming.py
Labels: bug, html theme

#9171 Close #4257: autodoc: Add autodoc_class_signature
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, enhancement

#9229 Close #9218: autodoc: Support variable comment for alias classes
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/classes.py
  tests/test_ext_autodoc_autoclass.py
Labels: autodoc, enhancement

#9232 manpage: Stop creating a section directory on build manpage by default
  CHANGES
  doc/usage/configuration.rst
  sphinx/builders/manpage.py
  tests/test_build_manpage.py
  tests/test_smartquotes.py
Labels: bug, enhancement, man

#9238 refactor: Remove expired deprecated_alias
  sphinx/builders/dirhtml.py
  sphinx/builders/singlehtml.py
Labels: refactoring

#9241 refactor: Do config file existence check in Config.read()
  sphinx/application.py
  sphinx/config.py
  tests/test_config.py
Labels: refactoring

#9233 Close #3014: autodoc: Add autodoc-process-bases
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  tests/test_ext_autodoc_autoclass.py
Labels: autodoc, enhancement

#9246 Fix #9240: Unknown node error for pending_xref_condition is raised
  CHANGES
  sphinx/transforms/post_transforms/__init__.py
  tests/roots/test-transforms-post_transforms-missing-reference/conf.py
  tests/roots/test-transforms-post_transforms-missing-reference/index.rst
  tests/test_transforms_post_transforms.py
Labels: api, bug, domains:py

#9239 Upgrade URLs to use HTTPS
  EXAMPLES
  babel.cfg
  doc/_templates/index.html
  doc/conf.py
  doc/development/tutorials/helloworld.rst
  doc/development/tutorials/recipe.rst
  doc/development/tutorials/todo.rst
  doc/extdev/i18n.rst
  doc/extdev/index.rst
  doc/extdev/markupapi.rst
  doc/extdev/parserapi.rst
  doc/faq.rst
  doc/internals/contributing.rst
  doc/make.bat
  doc/templating.rst
  doc/usage/advanced/intl.rst
  doc/usage/advanced/websupport/quickstart.rst
  doc/usage/configuration.rst
  doc/usage/extensions/autosummary.rst
  doc/usage/extensions/graphviz.rst
  doc/usage/extensions/math.rst
  doc/usage/extensions/napoleon.rst
  doc/usage/quickstart.rst
  doc/usage/restructuredtext/basics.rst
  doc/usage/restructuredtext/directives.rst
  doc/usage/restructuredtext/index.rst
  doc/usage/theming.rst
  setup.py
  sphinx/application.py
  sphinx/environment/collectors/metadata.py
  sphinx/transforms/i18n.py
  tests/roots/test-intl/refs.txt
  tests/test_intl.py
  tests/test_metadata.py
  tests/test_writer_latex.py
Labels: bug, docs

#9231 Fix #9217: manpage: Dirname of man_make_section_directory is wrong
  CHANGES
  sphinx/builders/manpage.py
  tests/test_build_manpage.py
Labels: bug, man

#9230 Fix #9224: info-field-list does not support a type containing space
  CHANGES
  sphinx/util/docfields.py
  tests/test_domain_py.py
Labels: bug, domain, domains:py

#9251 Close #9216: Support jinja2-3.0
  CHANGES
  setup.py
  sphinx/jinja2glue.py
  sphinx/util/__init__.py
  sphinx/util/rst.py
  sphinx/util/tags.py
Labels: enhancement

#9253 Fix #9252: doc: Update explanation of highlight_language
  doc/usage/configuration.rst
Labels: bug, docs

#9242 refactor: Make the app argument for BuildEnvironment required
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/application.py
  sphinx/environment/__init__.py
  sphinx/ext/autosummary/__init__.py
Labels: refactoring

#9254 refactor: reduce calls of find_pending_xref_conditions (refs: #9240)
  sphinx/domains/python.py
  sphinx/ext/intersphinx.py
  tests/test_ext_intersphinx.py
Labels: domains:py, refactoring

#9258 Close #1874: py domain: Support union types using `|` in info-field-list
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, enhancement

#9264 CircleCI: Test with python 3.8
  .circleci/config.yml
Labels: refactoring, test

#9263 refactor: Remove RemovedInSphinx40Warning
  sphinx/deprecation.py
Labels: refactoring

#9261 Fix #9250: autodoc: The inherited method not having docstring is wrongly parsed
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: autodoc, bug

#9277 Fix typo in doc/intl.rst
  doc/usage/advanced/intl.rst
Labels: bug, docs

#9271 Closes #9270: pyramid theme generates incorrect logo links
  CHANGES
  sphinx/themes/pyramid/layout.html
Labels: bug, html theme

#9281 Close #9272: autodoc: Render enum values for the default argument value better
  CHANGES
  sphinx/util/inspect.py
  tests/test_util_inspect.py
Labels: autodoc, enhancement

#9282 Fix #9280: py domain: "exceptions" module is not displayed
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#9259 deprecate sphinx.ext.autosummary._app
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autosummary/__init__.py
  sphinx/util/compat.py
Labels: autosummary, refactoring
