Repository sphinx-doc/sphinx, pull requests merged in 2021-09, with the labels that each got.

#9582 ci(tox.ini): add COLORTERM to passenv
  tox.ini
Labels: test, refactoring

#9602 Fix #9576: py domain: Literal typehint was converted to a cross reference
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#9606 Fix #9600: autosummary: Typehints including commas confuses autosummary
  CHANGES
  sphinx/ext/autosummary/__init__.py
  tests/test_ext_autosummary.py
Labels: bug, autosummary

#9609 Fix #9608: apidoc: module is not described if implicit namespace package
  CHANGES
  sphinx/templates/apidoc/package.rst_t
  tests/test_ext_apidoc.py
Labels: bug, autosummary

#9621 Fix typos discovered by codespell (again)
  CHANGES
  doc/latex.rst
  doc/man/sphinx-quickstart.rst
  doc/usage/extensions/graphviz.rst
  sphinx/builders/_epub_base.py
  sphinx/builders/latex/constants.py
  sphinx/config.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/python.py
  sphinx/environment/adapters/indexentries.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/__init__.py
  sphinx/templates/latex/latex.tex_t
  sphinx/texinputs/LICRlatin2utf8.xdy
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinx.xdy
  sphinx/texinputs/sphinxlatexlists.sty
  sphinx/transforms/__init__.py
  sphinx/transforms/i18n.py
  sphinx/util/docutils.py
  sphinx/util/i18n.py
  sphinx/util/smartypants.py
  sphinx/util/typing.py
  sphinx/writers/latex.py
  tests/roots/test-ext-autodoc/target/preserve_defaults.py
  tests/roots/test-ext-viewcode/objects.rst
  tests/roots/test-root/footnote.txt
  tests/roots/test-root/objects.txt
  tests/test_build_epub.py
  tests/test_events.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autodoc_preserve_defaults.py
  tests/test_pycode_parser.py
  tests/test_util_docstrings.py
  tests/test_util_docutils.py
  tests/test_util_logging.py
Labels: bug, docs, refactoring

#9619 setup.py: Fix broken url on the Sphinx PyPI page
  setup.py
Labels: bug

#9613 refactor: linkcheck: Remove objects marked as RemovedInSphinx50Warning
  sphinx/builders/linkcheck.py
Labels: refactoring, linkcheck

#9611 Close #9560: autodoc: Allow to refer NewType with modname in py310+
  CHANGES
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: bug, autodoc

#9594 let user skip printing command description
  CHANGES
  doc/usage/configuration.rst
  sphinx/writers/manpage.py
  tests/test_build_manpage.py
Labels: enhancement, man

#9633 Fix #9630: autosummary: Failed to build summary table if primary_domain is not 'py'
  CHANGES
  sphinx/ext/autosummary/__init__.py
  sphinx/util/typing.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_ext_autodoc_autodata.py
  tests/test_util_typing.py
Labels: bug, autodoc, autosummary

#9640 Close #9639: autodoc: Support asynchronous generator functions
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/coroutine.py
  tests/roots/test-ext-autodoc/target/functions.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_ext_autodoc_autofunction.py
Labels: enhancement, autodoc

#9644 Protect `sphinx.ext.autodoc.get_sourcename` against misbehaving `__getattr__`
  sphinx/ext/autodoc/__init__.py
Labels: bug, autodoc

#9647 Fix #9637: Add Builder.allow_parallel to the list of builder APIs
  doc/extdev/builderapi.rst
  sphinx/builders/__init__.py
Labels: bug, docs, api, builder

#9670 Fix download file with special characters
  sphinx/writers/html.py
  sphinx/writers/html5.py
  tests/roots/test-root/file_with_special_#_chars.xyz
  tests/roots/test-root/includes.txt
  tests/test_build_html.py
Labels: bug, html

#9665 Close #9664: autodoc: autodoc-process-bases supports reST snippet
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/util/typing.py
  tests/test_util_typing.py
Labels: enhancement, autodoc

#9668 Fix #9655: autodoc: mocked object having doc comment is warned unexpectedly
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: bug, autodoc

#9649 Searchindex fix when objects have the same name
  CHANGES
  sphinx/search/__init__.py
  sphinx/themes/basic/static/searchtools.js
  tests/test_search.py
Labels: bug, html search

#9666 Add doc for ObjectDescription (refs: #9662)
  doc/extdev/domainapi.rst
Labels: docs

#9673 Fix #9651: autodoc_typehints_description_target was confused by :returns:
  CHANGES
  sphinx/ext/autodoc/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: bug, autodoc

#9658 Fix #9657: autodoc: basecls for a subclass of mocked object is incorrect
  CHANGES
  sphinx/ext/autodoc/mock.py
  tests/test_util_typing.py
Labels: bug, autodoc

#9654 Fix #9607: autodoc: Incorrect base class detection
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/classes.py
  tests/test_ext_autodoc_autoclass.py
Labels: bug, autodoc

#9687 Fix #9500: LaTeX: Failed to build Japanese document on Windows
  CHANGES
  sphinx/texinputs/make.bat_t
  sphinx/texinputs_win/Makefile_t
Labels: bug, latex

#9684 doc: update description
  doc/_static/conf.py.txt
  doc/usage/configuration.rst
Labels: docs

#9678 Don't print file extension twice in linkcheck warnings
  sphinx/builders/linkcheck.py
  tests/test_build_linkcheck.py
Labels: bug, linkcheck
