Repository sphinx-doc/sphinx, pull requests merged in 2021-06, with the labels that each got.

#9288 Add asvin in EXAMPLES
  EXAMPLES
Labels: docs

#9289 Close #9268: python_use_unqualified_type_names supports type field
  CHANGES
  sphinx/domains/python.py
  tests/roots/test-domain-py-python_use_unqualified_type_names/index.rst
  tests/test_domain_py.py
Labels: domains:py, enhancement

#9285 Fix #9283: autodoc: failed to build doc for attribute not commented
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/instance_variable.py
  tests/test_ext_autodoc_autoattribute.py
Labels: autodoc, bug

#9260 Close #9016: linkcheck builder failed to check the anchors of github.com
  CHANGES
  doc/extdev/appapi.rst
  sphinx/builders/linkcheck.py
  tests/roots/test-linkcheck/links.txt
  tests/test_build_linkcheck.py
Labels: enhancement, linkcheck

#9155 Call roles in typed fields
  CHANGES
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/util/docfields.py
  tests/roots/test-domain-c/field-role.rst
  tests/roots/test-domain-cpp/field-role.rst
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: bug, domain, domains:c, domains:cpp, domains:js, domains:py

#9293 Refactor C and C++ tests
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: domains:c, domains:cpp, refactoring

#9301 fix: Fix typo in add_directive docstring
  sphinx/application.py
Labels: bug, docs

#9303 doc: Fix docslint misunderstanding scope of code-blocks
  doc/development/theming.rst
  doc/extdev/appapi.rst
  doc/faq.rst
  doc/usage/advanced/websupport/quickstart.rst
  doc/usage/extensions/napoleon.rst
  doc/usage/installation.rst
  doc/usage/theming.rst
  utils/doclinter.py
Labels: bug, docs

#9327 Fix mypy violations (delete type: ignore ) (with mypy-0.900)
  sphinx/util/logging.py
  sphinx/util/typing.py
Labels: test

#9314 Fix #9313
  CHANGES
  sphinx/writers/latex.py
Labels: bug, latex, regression

#9309 Handle ConnectionError on HTTP HEAD Requests
  CHANGES
  sphinx/builders/linkcheck.py
  tests/test_build_linkcheck.py
Labels: bug, linkcheck

#9307 Prevent corrections and completions in search field
  sphinx/themes/basic/search.html
  sphinx/themes/basic/searchbox.html
Labels: html search, html theme, proposal

#9317 Fix missing break statement for arrow shortcuts.
  sphinx/themes/basic/static/doctools.js
Labels: bug, html

#9276 Beginning of new Sphinx tutorial
  doc/_static/tutorial/lumache-first-light.png
  doc/_templates/index.html
  doc/contents.rst
  doc/tutorial/index.rst
  doc/usage/installation.rst
Labels: docs, proposal

#9333 Fix #9330: versionchanged causes error during pdf build
  CHANGES
  sphinx/domains/changeset.py
Labels: bug, domain

#9335 Fix #9305 LaTeX: backslash in sphinxupquote error with Japanese
  CHANGES
  sphinx/texinputs/sphinxlatexliterals.sty
Labels: bug, latex

#9332 Closes: #9321 (LaTeX utf8x usage doc)
  doc/latex.rst
Labels: docs, latex

#9356 C, keyword changes
  CHANGES
  doc/usage/configuration.rst
  sphinx/domains/c.py
  tests/test_domain_c.py
Labels: bug, domains:c, enhancement

#9350 Fix :samp:`{var}` in manual pages.
  sphinx/writers/manpage.py
  tests/roots/test-root/lists.txt
  tests/test_build_manpage.py
Labels: bug, man

#9336 Fix #9032: docs: sphinx.environment.NoUri was removed at v3.0.0
  doc/extdev/deprecated.rst
Labels: bug, docs

#9379 C++ (and C), various additions
  CHANGES
  sphinx/domains/cpp.py
  sphinx/util/cfamily.py
  tests/test_domain_c.py
  tests/test_domain_cpp.py
Labels: domains:c, domains:cpp, enhancement

#9385 C++, fixes for recent additions
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: domains:cpp

#9334 Fix sphinx-doc#9322: KeyError is raised on PropagateDescDomain transform
  CHANGES
  sphinx/transforms/post_transforms/__init__.py
Labels: bug

#9326 Revert the removal of sphinx.util:force_decode()
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/util/__init__.py
Labels: refactoring

#9381 Fix support for html logo and favicon as url
  sphinx/builders/html/__init__.py
  tests/roots/test-remote-logo/conf.py
  tests/roots/test-remote-logo/index.rst
  tests/test_build_html.py
Labels: bug, html

#9367 Fix #9364: autodoc: 1-element tuple on the defarg is wrongly rendered
  CHANGES
  sphinx/pycode/ast.py
  tests/test_pycode_ast.py
Labels: autodoc, bug
