Repository sphinx-doc/sphinx, pull requests merged in 2021-02, with the labels that each got.

#8799 refactor: AttributeError handling for sphinx.util.inspect.get* is not needed
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/util/inspect.py
Labels: autodoc, refactoring

#8801 Fix #8800: autodoc: Uninitialized attributes in superclass are recognized as undocumented
  CHANGES
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/uninitialized_attributes.py
  tests/test_ext_autodoc_autoclass.py
Labels: autodoc, bug

#8803 autodoc: Support type union operator (PEP-604) (refs: #8775)
  CHANGES
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/pep604.py
  tests/test_ext_autodoc.py
  tests/test_util_typing.py
Labels: autodoc, enhancement

#8802 py domain: Support type union operator (PEP-604) (refs: #8775)
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: domains:py, enhancement

#8805 Fix #8775: Avoid the crash of autodoc caused by type union operator
  sphinx/util/typing.py
  tests/test_ext_autodoc.py
Labels: autodoc, bug

#8811 Fix #8782: todo: Cross references in todolist get broken
  CHANGES
  sphinx/ext/todo.py
Labels: bug, extensions

#8812 Latex url as footnotes in signatures
  CHANGES
  sphinx/texinputs/footnotehyper-sphinx.sty
  sphinx/writers/latex.py
  tests/roots/test-footnotes/index.rst
  tests/test_build_latex.py
Labels: bug, latex

#8804 linkcheck: The docname of hyperlink is not displayed (refs: #8791)
  CHANGES
  sphinx/builders/linkcheck.py
Labels: bug, linkcheck

#8816 refactor: py domain: Put if-block for ast.Constant to the root level
  sphinx/domains/python.py
Labels: domains:py, refactoring

#8792 refactor: linkcheck: Skip queuing ignored URIs
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8297 Local autodoc options override or extend autodoc_default_options.
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/directive.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_ext_autodoc_automodule.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, enhancement

#8821 Sync with footnotehyper 1.1d
  sphinx/texinputs/footnotehyper-sphinx.sty
Labels: latex

#8827 Fix broken "Extend" link in site header
  doc/_themes/sphinx13/layout.html
Labels: bug, docs

#8826 Formalize linkcheck CheckResult into a NamedTuple
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8823 Support testing from read-only filesystems
  sphinx/testing/path.py
Labels: enhancement, test

#8511 Support testing from read-only filesystems
  sphinx/testing/path.py
Labels: enhancement, test

#8822 Close #8813: Show what extension caused it on errors on event handler
  CHANGES
  sphinx/errors.py
  sphinx/events.py
Labels: enhancement, extensions

#8806 refactor: linkcheck: Separate worker feature from builder class
  sphinx/builders/linkcheck.py
  tests/test_build_linkcheck.py
Labels: linkcheck, refactoring

#8840 Revert "Add \nobreak inside \sphinxAtStartPar"
  sphinx/texinputs/sphinx.sty
Labels: bug, latex, regression

#8833 refactor: linkcheck: Remove unused attribute HyperlinkAvailabilityCheckWorker.app
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8834 refactor: linkcheck: Deprecate attributes of linkcheck builders
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8853 i18n: Locale transform: Change heading syntax to work for both RST and Markdown
  sphinx/transforms/i18n.py
Labels: bug, i18n

#8850 Make code block types more visible in documentation
  doc/usage/restructuredtext/directives.rst
Labels: docs

#8836 refactor: LaTeX: separate self.body.append() call to single line output
  sphinx/writers/latex.py
Labels: latex, refactoring

#8843 Fix #8837: doc: Remove version info from html_title
  doc/conf.py
Labels: bug, docs

#8842 Refactor type annotations
  sphinx/application.py
  sphinx/deprecation.py
  sphinx/locale/__init__.py
  sphinx/pycode/ast.py
  sphinx/util/i18n.py
  sphinx/util/images.py
  sphinx/util/logging.py
  sphinx/util/matching.py
  sphinx/util/tags.py
Labels: refactoring

#8854 LaTeX: optionally apply a second forceful wrapping of long code lines
  CHANGES
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#8851 LaTeX: improve docs of 'printindex' and 'makeindex'
  CHANGES
  doc/latex.rst
Labels: docs, latex

#8832 Latex hyperlinked caption footnotes on 3.x
  CHANGES
  sphinx/texinputs/footnotehyper-sphinx.sty
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: bug

#8862 Minor refactoring in doc/latex.rst
  doc/latex.rst
Labels: docs, latex

#8865 [bugfix] SubstitutionDefinitionsRemove: only run for LaTeX builder
  sphinx/builders/latex/transforms.py
Labels: bug, latex

#8861 refactor: LaTeX: Assign node_ids to footnotemark and footnotetext
  sphinx/builders/latex/transforms.py
Labels: latex, refactoring

#8868 searchtools: Don't use slideDown to show search results.
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#8869 Fix #8860: doc: recipe directive crashes with AttributeError
  doc/development/tutorials/examples/recipe.py
Labels: bug, docs

#8835 refactor: linkcheck: Separate thread manager feature from builder class
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/linkcheck.py
  tests/test_build_linkcheck.py
Labels: linkcheck, refactoring

#8866 LaTeX: Restructure the index nodes inside title nodes only on LaTeX builds
  CHANGES
  sphinx/builders/latex/transforms.py
Labels: bug, latex, refactoring

#8858 Refactor latex writer
  sphinx/writers/latex.py
Labels: latex, refactoring

#8839 refactor: linkcheck: Remove next_check from Hyperlink object
  sphinx/builders/linkcheck.py
Labels: linkcheck, refactoring

#8873 Fix #8860: doc: Usage of recipe directive is wrong
  doc/development/tutorials/recipe.rst
Labels: bug, docs

#8876 C and C++, alias fixes and improvements
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/c.py
  sphinx/domains/cpp.py
Labels: bug, domains:c, domains:cpp, enhancement

#8877 Fix #8838 by forcing horizontal mode before inserting the penalty
  sphinx/texinputs/sphinx.sty
Labels: bug, latex

#8867 Update JavaScript stemmer code to the latest version of Snowball (v2.1.0)
  sphinx/builders/html/__init__.py
  sphinx/search/__init__.py
  sphinx/search/da.py
  sphinx/search/de.py
  sphinx/search/es.py
  sphinx/search/fi.py
  sphinx/search/fr.py
  sphinx/search/hu.py
  sphinx/search/it.py
  sphinx/search/minified-js/base-stemmer.js
  sphinx/search/minified-js/danish-stemmer.js
  sphinx/search/minified-js/dutch-stemmer.js
  sphinx/search/minified-js/finnish-stemmer.js
  sphinx/search/minified-js/french-stemmer.js
  sphinx/search/minified-js/german-stemmer.js
  sphinx/search/minified-js/hungarian-stemmer.js
  sphinx/search/minified-js/italian-stemmer.js
  sphinx/search/minified-js/norwegian-stemmer.js
  sphinx/search/minified-js/porter-stemmer.js
  sphinx/search/minified-js/portuguese-stemmer.js
  sphinx/search/minified-js/romanian-stemmer.js
  sphinx/search/minified-js/russian-stemmer.js
  sphinx/search/minified-js/spanish-stemmer.js
  sphinx/search/minified-js/swedish-stemmer.js
  sphinx/search/minified-js/turkish-stemmer.js
  sphinx/search/nl.py
  sphinx/search/no.py
  sphinx/search/non-minified-js/base-stemmer.js
  sphinx/search/non-minified-js/danish-stemmer.js
  sphinx/search/non-minified-js/dutch-stemmer.js
  sphinx/search/non-minified-js/finnish-stemmer.js
  sphinx/search/non-minified-js/french-stemmer.js
  sphinx/search/non-minified-js/german-stemmer.js
  sphinx/search/non-minified-js/hungarian-stemmer.js
  sphinx/search/non-minified-js/italian-stemmer.js
  sphinx/search/non-minified-js/norwegian-stemmer.js
  sphinx/search/non-minified-js/porter-stemmer.js
  sphinx/search/non-minified-js/portuguese-stemmer.js
  sphinx/search/non-minified-js/romanian-stemmer.js
  sphinx/search/non-minified-js/russian-stemmer.js
  sphinx/search/non-minified-js/spanish-stemmer.js
  sphinx/search/non-minified-js/swedish-stemmer.js
  sphinx/search/non-minified-js/turkish-stemmer.js
  sphinx/search/pt.py
  sphinx/search/ro.py
  sphinx/search/ru.py
  sphinx/search/sv.py
  sphinx/search/tr.py
  sphinx/themes/basic/static/language_data.js_t
Labels: html search, refactoring

#8887 Adapt our tests to Pygments 2.8.0
  tests/test_build_html.py
  tests/test_directive_code.py
Labels: refactoring, test

#8890 Fix #8884: Include sphinx/search/minified-js in the tarball
  MANIFEST.in
Labels: bug, html

#8892 Sometimes _viewcode_modules can be False; don't crash when it is
  sphinx/ext/viewcode.py
Labels: bug, extensions

#8893 Fix #8885: html: AttributeError for CSS/JS files on html_context
  CHANGES
  sphinx/builders/html/__init__.py
Labels: bug, html

#8896 Fix #8883: autodoc: AttributeError on assigning __annotations__
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: autodoc, bug

#8899 fix potential getitem error in resolve_anyref
  sphinx/transforms/post_transforms/__init__.py
Labels: domain, refactoring

#8900 doc: Build PDF document on readthedocs
  .readthedocs.yml
Labels: bug, docs

#8912 C++, cpp_index_common_prefix remove longest prefix instead of first
  CHANGES
  sphinx/domains/cpp.py
Labels: bug, domains:cpp

#8906 refactor: Remove meaningless type annotations
  sphinx/util/__init__.py
Labels: refactoring

#8928 C fixes
  CHANGES
  sphinx/domains/c.py
  tests/roots/test-domain-c/anon-dup-decl.rst
  tests/roots/test-domain-c/function_param_target.rst
  tests/roots/test-domain-c/index.rst
  tests/roots/test-domain-c/semicolon.rst
  tests/test_domain_c.py
Labels: bug, domains:c, refactoring

#8926 LaTeX: let underfull calculation in wrapped code lines ignore last line
  CHANGES
  sphinx/texinputs/sphinxlatexliterals.sty
Labels: bug, latex

#8920 Fix #8915: html theme: The translation of sphinx_rtd_theme does not work
  CHANGES
  sphinx/theming.py
Labels: bug, html theme

#8927 Close #8924: autodoc: Support `bound` argument for TypeVar
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typevar.py
  tests/test_ext_autodoc.py
Labels: autodoc, enhancement

#8923 Fix #8917: autodoc: Raises a warning if function has wrong __globals__ value
  CHANGES
  sphinx/util/inspect.py
Labels: autodoc, bug

#8875 refactor: LaTeX: Use raw strings for LaTeX macros
  sphinx/writers/latex.py
Labels: latex, refactoring

#8935 Fix #8933: viewcode: Failed to create back-links on parallel build
  CHANGES
  sphinx/ext/viewcode.py
Labels: bug, extensions

#8939 Fix #8938: imgconverter: Show the error of the command availability check
  CHANGES
  sphinx/ext/imgconverter.py
Labels: bug, enhancement, extensions

#8426 autodoc: an imported TypeVar is not resolved (refs: #8415)
  CHANGES
  sphinx/util/typing.py
  tests/test_util_inspect.py
  tests/test_util_typing.py
Labels: autodoc, bug

#8484 Close #8326: Rename master_doc to root_doc
  CHANGES
  doc/_static/conf.py.txt
  doc/conf.py
  doc/man/sphinx-apidoc.rst
  doc/man/sphinx-quickstart.rst
  doc/templating.rst
  doc/usage/configuration.rst
  doc/usage/restructuredtext/directives.rst
  sphinx/builders/__init__.py
  sphinx/builders/_epub_base.py
  sphinx/builders/epub3.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/manpage.py
  sphinx/builders/singlehtml.py
  sphinx/builders/texinfo.py
  sphinx/cmd/quickstart.py
  sphinx/config.py
  sphinx/environment/__init__.py
  sphinx/environment/adapters/toctree.py
  sphinx/environment/collectors/toctree.py
  sphinx/setup_command.py
  sphinx/templates/htmlhelp/project.hhc
  sphinx/templates/htmlhelp/project.hhp
  sphinx/templates/quickstart/conf.py_t
  sphinx/templates/quickstart/root_doc.rst_t
  sphinx/themes/agogo/layout.html
  sphinx/themes/basic/globaltoc.html
  sphinx/themes/basic/layout.html
  sphinx/themes/basic/localtoc.html
  sphinx/themes/haiku/layout.html
  sphinx/themes/pyramid/layout.html
  tests/roots/test-ext-doctest-skipif/conf.py
  tests/roots/test-ext-doctest/conf.py
  tests/roots/test-latex-equations/conf.py
  tests/roots/test-latex-includegraphics/conf.py
  tests/roots/test-linkcheck/conf.py
  tests/test_build.py
  tests/test_build_latex.py
  tests/test_config.py
  tests/test_environment.py
  tests/test_quickstart.py
  tests/test_setup_command.py
Labels: config, proposal

#8905 migrate html_add_permalinks=None and html_add_permalinks=""
  sphinx/builders/html/__init__.py
Labels: bug, html
