Repository sphinx-doc/sphinx, pull requests merged in 2021-11, with the labels that each got.

#9804 Change default value of intersphinx_disabled_reftypes
  CHANGES
  doc/usage/extensions/intersphinx.rst
  sphinx/ext/intersphinx.py
Labels: extensions:intersphinx

#9821 CI: Remove py workaround
  tox.ini
Labels: test, refactoring

#9812 Document responsiveness of themes
  doc/usage/theming.rst
Labels: docs

#9806 Fixed docker links in the installation.rst
  doc/usage/installation.rst
Labels: bug, docs

#9826 Replace distutils.versions.LooseVersion by packaging.version.Version
  sphinx/highlighting.py
  sphinx/util/docutils.py
  tests/test_build_html.py
Labels: refactoring

#9829 Close #9450: mathjax: Load MathJax via "defer" strategy
  CHANGES
  sphinx/ext/mathjax.py
  tests/test_ext_math.py
Labels: bug, enhancement, extensions

#9628 Close #9623: Allow to suppress warnings on excluded document found in toctree
  CHANGES
  doc/usage/configuration.rst
  sphinx/directives/other.py
Labels: enhancement, proposal, toctree

#9833 Make fallback for changed get_signature_prefix()
  sphinx/domains/python.py
Labels: bug, extensions, domains:py

#9837 Fix the type of deprecation warning for get_signature_prefix (refs: #9833)
  sphinx/domains/python.py
Labels: api

#9815 base theme: Wrap sidebar components in <div>s
  sphinx/themes/basic/localtoc.html
  sphinx/themes/basic/relations.html
Labels: html theme

#9840 Fix #9838: autodoc: AttributeError is raised for lru_cache
  CHANGES
  sphinx/util/inspect.py
Labels: bug, autodoc

#9858 Update RFC base url
  doc/usage/configuration.rst
  sphinx/environment/__init__.py
  tests/test_build_html.py
  tests/test_markup.py
Labels: bug, markup

#9850 Add brief section on documenting other languages to tutorial
  doc/tutorial/describing-code.rst
Labels: docs, proposal

#9876 Fix #9866: autodoc: doccoment for the imported class was ignored
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/classes.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoclass.py
Labels: bug, autodoc

#9880 Fix #9879: autodoc: AttributeError for object having invalid __doc__
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
Labels: bug, autodoc

#9873 BUG: prevent automatic inline conversion by class
  sphinx/writers/html5.py
Labels: bug, html

#9881 Fix #9878: mathjax: MathJax config is placed after loading MathJax
  CHANGES
  sphinx/ext/mathjax.py
Labels: bug, extensions

#9867 Fix #9864: mathjax: Failed to render equations via MathJax v2
  CHANGES
  doc/usage/extensions/math.rst
  sphinx/ext/mathjax.py
  tests/test_ext_math.py
Labels: bug, enhancement, markup, extensions

#9886 Fix #9868: 4.3.0: pytest is failing
  CHANGES
  sphinx/ext/imgmath.py
  tests/test_util_inspect.py
Labels: bug, extensions, test

#9831 Allow autosummary to respect __all__
  CHANGES
  doc/man/sphinx-autogen.rst
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/test_ext_autosummary.py
Labels: enhancement, autosummary

#9890 Fix #9844: autodoc: Failed to preserve defvalues for partial function
  CHANGES
  sphinx/ext/autodoc/preserve_defaults.py
Labels: bug, autodoc

#9900 test: Try to import nodes.meta first (for the latest docutils)
  tests/test_versioning.py
Labels: test, refactoring, docutils

#9901 Add i18n label to weekly transifex PR
  .github/workflows/transifex.yml
Labels: i18n, task, refactoring

#9800 Proposal: check if hardcoded URLs can be replaced with extlinks
  CHANGES
  doc/tutorial/narrative-documentation.rst
  sphinx/ext/extlinks.py
  tests/roots/test-ext-extlinks-hardcoded-urls-multiple-replacements/conf.py
  tests/roots/test-ext-extlinks-hardcoded-urls-multiple-replacements/index.rst
  tests/roots/test-ext-extlinks-hardcoded-urls/conf.py
  tests/roots/test-ext-extlinks-hardcoded-urls/index.rst
  tests/test_ext_extlinks.py
Labels: extensions

#9907 Fix flake8 and isort errors (refs: #9800)
  sphinx/ext/extlinks.py
Labels: refactoring

#9905 Fix #9883: autodoc: doccomment for the alias to mocked object was ignored
  CHANGES
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/mock.py
  tests/roots/test-ext-autodoc/target/need_mocks.py
  tests/test_ext_autodoc_configs.py
  tests/test_ext_autodoc_mock.py
Labels: bug, autodoc

#9906 extlinks: Adjust priority (refs: #9800)
  sphinx/ext/extlinks.py
Labels: extensions, refactoring

#9902 Fix #9899: py domain: Allows cross-reference specifier to :type: option
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, enhancement, domains:py

#9908 Fix autodoc: Remove debug print
  CHANGES
Labels: bug, autodoc

#9914 Fix typo in C++ domain
  sphinx/domains/cpp.py
Labels: domains:cpp
