Repository sphinx-doc/sphinx, pull requests merged in 2022-02, with the labels that each got.

#10094 test: Follow the new HTML structure of docutils-0.18
  tests/test_build_html.py
Labels: test, refactoring, docutils

#10163 CI: Test with Windows Server 2019
  .github/workflows/main.yml
Labels: test

#10156 Remove commas when describing characters for section headings
  doc/usage/restructuredtext/basics.rst
Labels: bug, docs

#10162 Use `settings_default_overrides` in `sphinx.writers.html`
  sphinx/writers/html.py
Labels: refactoring, docutils

#10149 Fix #9876: autodoc: Failed to document a class on binary module
  CHANGES
  sphinx/ext/autodoc/__init__.py
Labels: bug, autodoc

#10150 Close #10146: autodoc: autodoc_default_options does not support `no-value` option
  CHANGES
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autodata.py
Labels: bug, autodoc

#10176 improve grammar in theming.rst
  doc/development/theming.rst
Labels: docs, proposal

#10168 test: Add testcase for named footnotes
  tests/roots/test-footnotes/index.rst
  tests/test_build_latex.py
Labels: test, refactoring

#10169 Fix #9529: LaTeX: named footnotes are converted to "?"
  CHANGES
  sphinx/builders/latex/transforms.py
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/roots/test-footnotes/index.rst
  tests/test_build_latex.py
Labels: bug, latex

#10170 The latest docutils converts :pep: role to the "https" URL
  tests/test_markup.py
Labels: test, refactoring, docutils

#10189 The latest docutils converts :pep: role to the "https" URL (again)
  tests/test_markup.py
Labels: test, refactoring, docutils

#10190 Fix #10175: LaTeX: named footnote ref is linked to an incorrect footnote
  CHANGES
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: bug, latex
