Repository sphinx-doc/sphinx, pull requests merged in 2022-09, with the labels that each got.

#10781 Allow `:ref:` role to be used with definitions and fields
  CHANGES
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: domain, domains:std

#10805 Refactor `util.docutils.new_document()` cache
  sphinx/util/docutils.py
Labels: refactoring, docutils

#10717 search: support searching for (sub)titles
  CHANGES
  sphinx/environment/__init__.py
  sphinx/search/__init__.py
  sphinx/themes/basic/static/searchtools.js
  tests/test_search.py
Labels: enhancement, html search

#10802 Correct `is_allowed_version()`'s example tests
  sphinx/ext/doctest.py
Labels: bug, extensions

#10812 Remove Pygments compatability code
  setup.py
  sphinx/highlighting.py
  sphinx/writers/latex.py
  tests/test_build_html.py
  tests/test_intl.py
Labels: refactoring

#10813 More precise typing for `BuildEnvironment.domains`
  sphinx/environment/__init__.py
  sphinx/environment/collectors/toctree.py
Labels: domain

#10673 Make toctree accept special docnames
  CHANGES
  sphinx/directives/other.py
  sphinx/environment/adapters/toctree.py
  sphinx/environment/collectors/toctree.py
  tests/roots/test-toctree-index/conf.py
  tests/roots/test-toctree-index/foo.rst
  tests/roots/test-toctree-index/index.rst
  tests/test_environment_toctree.py
Labels: enhancement, toctree

#10814 Use subtitle name in search results
  sphinx/search/__init__.py
  sphinx/themes/basic/static/searchtools.js
Labels: html search

#10807 Add contents entries for domain objects
  CHANGES
  doc/extdev/domainapi.rst
  doc/usage/configuration.rst
  doc/usage/restructuredtext/domains.rst
  sphinx/config.py
  sphinx/directives/__init__.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/environment/collectors/toctree.py
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-toctree-domain-objects/conf.py
  tests/roots/test-toctree-domain-objects/domains.rst
  tests/roots/test-toctree-domain-objects/index.rst
  tests/test_environment_toctree.py
  tests/test_ext_autodoc_automodule.py
Labels: autodoc, domain, toctree

#10828 Fix nesting in domain object contents entries
  sphinx/environment/collectors/toctree.py
Labels: domain

#10830 Fix section numbering in domain object contents entries
  sphinx/environment/collectors/toctree.py
Labels: domain

#10819 Support searching for index entries
  CHANGES
  sphinx/search/__init__.py
  sphinx/themes/basic/static/searchtools.js
  tests/test_search.py
Labels: html search

#10816 imgmath: Allow embedding images in HTML as base64
  CHANGES
  doc/usage/extensions/math.rst
  sphinx/ext/imgmath.py
  tests/test_ext_math.py
Labels: enhancement, builder

#10843 Deprecate HTML 4 support
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/html/__init__.py
  sphinx/writers/html.py
  tests/test_build_html.py
Labels: html

#10852 Warn on using the `:property:` flag with `.. py:method::`
  sphinx/domains/python.py
Labels: domains:py

#10855 Clear `record_dependencies` for each document
  sphinx/builders/__init__.py
  tests/roots/test-environment-record-dependencies/api.rst
  tests/roots/test-environment-record-dependencies/conf.py
  tests/roots/test-environment-record-dependencies/example_module.py
  tests/roots/test-environment-record-dependencies/index.rst
  tests/test_environment_record_dependencies.py
Labels: bug, environment

#9877 Docstring clarifications
  sphinx/addnodes.py
  sphinx/application.py
  sphinx/builders/latex/transforms.py
  sphinx/domains/std.py
  sphinx/extension.py
Labels: bug, docs, proposal

#10859 LaTeX: improve doc of \sphinxtableofcontents (closes #10858)
  doc/latex.rst
Labels: latex

#10835 fix typo in extrapackges example
  doc/latex.rst
Labels: latex, docs

#10840 extend option directive syntax
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/domains/std.py
  tests/roots/test-root/objects.txt
  tests/test_build_html.py
Labels: domains:std

#10878 imgmath: Fix embed mode
  sphinx/ext/imgmath.py
  tests/test_ext_math.py
Labels: extensions

#10846 shrink 'Any generics' mypy whitelist for builders module
  pyproject.toml
  sphinx/builders/linkcheck.py
Labels: internals:typing

#10876 Use a module level constant as best practice
  sphinx/locale/__init__.py
Labels: refactoring

#10849 shrink 'any-generics' whitelist for the 'deprecation' module
  pyproject.toml
  sphinx/deprecation.py
Labels: internals:typing

#10886 Finer grained control over domain ToC entries
  doc/usage/configuration.rst
  doc/usage/restructuredtext/domains.rst
  sphinx/config.py
  sphinx/directives/__init__.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/environment/collectors/toctree.py
Labels: domain
