Repository sphinx-doc/sphinx, pull requests merged in 2022-07, with the labels that each got.

#10607 Set permissions for GitHub Actions
  .github/workflows/builddoc.yml
  .github/workflows/coverage.yml
  .github/workflows/create-release.yml
  .github/workflows/docutils-latest.yml
  .github/workflows/lint.yml
  .github/workflows/transifex.yml
Labels: test

#10624 Use `get_settings()` from Docutils 0.19
  sphinx/builders/html/__init__.py
  sphinx/io.py
Labels: docutils

#10612 Remove redundant static typing casts
  setup.cfg
  sphinx/domains/c.py
  sphinx/domains/changeset.py
  sphinx/domains/cpp.py
  sphinx/util/nodes.py
Labels: refactoring

#10619 LaTeX: refactor sphinxShadowBox to allow colors for frame and shadow
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexshadowbox.sty
Labels: enhancement, latex

#10599 Use Docutils 0.19 footnote styles
  CHANGES
  sphinx/themes/basic/static/basic.css_t
  sphinx/util/docutils.py
Labels: html theme, docutils

#10639 LaTeX: optional rounded corners for framing of code-blocks
  doc/conf.py
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxpackageboxes.sty
Labels: enhancement, latex

#10654 Remove empty lines inside selectors in basic.css produced from template
  sphinx/themes/basic/static/basic.css_t
Labels: html theme, refactoring

#10647 LaTeX writer: add \label's for all index keys, not just first
  sphinx/writers/latex.py
Labels: bug, latex

#10634 Make `-P` (pdb) work better with exceptions triggered from events
  CHANGES
  sphinx/application.py
  sphinx/cmd/build.py
  sphinx/events.py
  tests/test_events.py
Labels: enhancement

#10652 Refresh the Sphinx13 theme
  doc/_static/pocoo.png
  doc/_templates/contents.html
  doc/_templates/index.html
  doc/_templates/indexsidebar.html
  doc/_themes/sphinx13/layout.html
  doc/_themes/sphinx13/static/bodybg.png
  doc/_themes/sphinx13/static/footerbg.png
  doc/_themes/sphinx13/static/headerbg.png
  doc/_themes/sphinx13/static/listitem.png
  doc/_themes/sphinx13/static/relbg.png
  doc/_themes/sphinx13/static/sphinx13.css
  doc/_themes/sphinx13/theme.conf
  doc/conf.py
  doc/contents.rst
  doc/index.rst
  doc/tutorial/end.rst
  tox.ini
Labels: html theme

#10656 Support Docutils 0.19
  CHANGES
  setup.py
Labels: docutils

#10548 Fix minor search summary issues
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#10602 Lint with `flake8-bugbear`
  setup.cfg
  setup.py
  sphinx/builders/linkcheck.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/testing/util.py
  tests/test_build_epub.py
  tests/test_build_gettext.py
  tests/test_build_html.py
  tests/test_build_latex.py
  tests/test_build_texinfo.py
  tests/test_config.py
  tests/test_domain_cpp.py
  tests/test_ext_doctest.py
  tests/test_search.py
  tests/test_util_inspect.py
Labels: refactoring

#10648 LaTeX: box padding (t,r,b,l), borders (t,r,b,l), shadows (x,y) or radii
  doc/conf.py
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexadmonitions.sty
  sphinx/texinputs/sphinxlatexliterals.sty
  sphinx/texinputs/sphinxlatexshadowbox.sty
  sphinx/texinputs/sphinxpackageboxes.sty
Labels: enhancement, latex

#10671 Alphabetically sort the list of contributors
  AUTHORS
Labels: docs

#10465 Allow specifying multiple CSS files in themes
  CHANGES
  doc/development/theming.rst
  doc/templating.rst
  sphinx/builders/html/__init__.py
  tests/roots/test-build-html-theme-having-multiple-stylesheets/_themes/mytheme/_static/extra.css
  tests/roots/test-build-html-theme-having-multiple-stylesheets/_themes/mytheme/_static/mytheme.css
  tests/roots/test-build-html-theme-having-multiple-stylesheets/_themes/mytheme/theme.conf
  tests/roots/test-build-html-theme-having-multiple-stylesheets/conf.py
  tests/roots/test-build-html-theme-having-multiple-stylesheets/index.rst
  tests/test_build_html.py
Labels: enhancement, html theme

#10518 Add `include_patterns` as the opposite of `exclude_patterns`
  doc/extdev/deprecated.rst
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  sphinx/config.py
  sphinx/directives/other.py
  sphinx/environment/__init__.py
  sphinx/environment/adapters/toctree.py
  sphinx/ext/autosummary/__init__.py
  sphinx/project.py
  sphinx/util/__init__.py
  sphinx/util/matching.py
  sphinx/util/osutil.py
  tests/test_util_matching.py
Labels: enhancement, config

#10604 Fix HTML Search
  CHANGES
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#10655 Fix encoding of LatinRules.xdy (now UTF-8)
  sphinx/texinputs/LatinRules.xdy
Labels: latex, proposal

#10569 Improve static typing strictness
  sphinx/application.py
  sphinx/builders/__init__.py
  sphinx/builders/_epub_base.py
  sphinx/builders/changes.py
  sphinx/builders/dirhtml.py
  sphinx/builders/dummy.py
  sphinx/builders/epub3.py
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/linkcheck.py
  sphinx/builders/manpage.py
  sphinx/builders/singlehtml.py
  sphinx/builders/texinfo.py
  sphinx/builders/text.py
  sphinx/builders/xml.py
  sphinx/cmd/quickstart.py
  sphinx/config.py
  sphinx/directives/code.py
  sphinx/directives/other.py
  sphinx/domains/python.py
  sphinx/environment/adapters/indexentries.py
  sphinx/environment/adapters/toctree.py
  sphinx/errors.py
  sphinx/ext/apidoc.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/coverage.py
  sphinx/ext/doctest.py
  sphinx/ext/graphviz.py
  sphinx/ext/imgmath.py
  sphinx/ext/inheritance_diagram.py
  sphinx/ext/intersphinx.py
  sphinx/ext/mathjax.py
  sphinx/highlighting.py
  sphinx/locale/__init__.py
  sphinx/roles.py
  sphinx/setup_command.py
  sphinx/util/math.py
  sphinx/util/nodes.py
  sphinx/util/osutil.py
  sphinx/util/parallel.py
  sphinx/util/stemmer/__init__.py
  sphinx/util/tags.py
  sphinx/util/template.py
  sphinx/util/texescape.py
  sphinx/util/typing.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
Labels: refactoring

#10679 Update bindep.txt for LaTeX pict2e.sty optional dependency
  bindep.txt
Labels: latex

#10693 Fix mypy violations (with mypy-0.971)
  setup.py
  sphinx/util/logging.py
Labels: refactoring

#10696 Fix #10695: old LaTeX does not allow \@ifpackageloaded usage in body
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexadmonitions.sty
  sphinx/texinputs/sphinxlatexliterals.sty
  sphinx/texinputs/sphinxlatexshadowbox.sty
  sphinx/texinputs/sphinxpackageboxes.sty
Labels: bug, latex

#10690 Note that the tutorial is a tutorial, to help with search
  doc/tutorial/index.rst
Labels: docs

#10676 Clarify sorting in AUTHORS; sort and update maintainers list
  AUTHORS
Labels: docs

#10680 Update include_patterns implementation
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  sphinx/directives/other.py
  sphinx/environment/adapters/toctree.py
  sphinx/ext/autosummary/__init__.py
  sphinx/project.py
  sphinx/util/matching.py
  tests/test_util_matching.py
Labels: bug

#10703 C++, improve requires clause support (#10286 update)
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: enhancement, domains:cpp

#10702 Improve support for deprecated builders without env arg
  sphinx/builders/__init__.py
  sphinx/registry.py
Labels: bug, builder

#10708 incremental adoption of 'strict optional'
  setup.cfg
  sphinx/addnodes.py
  sphinx/builders/html/__init__.py
  sphinx/config.py
  sphinx/io.py
  sphinx/jinja2glue.py
  sphinx/testing/fixtures.py
  sphinx/testing/path.py
Labels: proposal, refactoring

#10712 Update deploying.rst
  doc/tutorial/deploying.rst
Labels: docs, proposal

#10726 Fix #10723: LaTeX verbatimwithframe=false without effect since 5.1.0
  CHANGES
  sphinx/texinputs/sphinxlatexliterals.sty
Labels: bug, latex, regression

#10729 [C++] Ensure consistent non-specialization template argument representation, rebased and updated
  CHANGES
  sphinx/domains/cpp.py
  tests/test_domain_cpp.py
Labels: bug, domains:cpp
