Repository sphinx-doc/sphinx, pull requests merged in 2022-03, with the labels that each got.

#10232 test: Follow the new behavior of typing.get_type_hints() since py311
  tests/test_ext_autodoc_configs.py
  tests/test_util_inspect.py
Labels: autodoc, test

#10217 Fixed typo.
  doc/tutorial/describing-code.rst
Labels: bug, docs

#10224 CI: Only run cron in upstream
  .github/workflows/docutils-latest.yml
  .github/workflows/lock.yml
  .github/workflows/transifex.yml
Labels: proposal, test

#10233 Searchtools: fix null query on setIndex
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#10236 Fixing duplicate search results bug (5.0)
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#10239 Close #10234: autosummary: Add "autosummary" CSS class to summary tables
  CHANGES
  sphinx/ext/autosummary/__init__.py
Labels: enhancement, html, autosummary

#10244 doctools: fix hideSearchWords
  sphinx/themes/basic/static/doctools.js
Labels: bug, html search

#10245 doctools: fix shortcuts
  sphinx/themes/basic/static/doctools.js
Labels: bug, html search

#10240 Fix #10223: doc: Add descriptions of :module: option for python directives
  doc/usage/restructuredtext/domains.rst
Labels: bug, docs

#10267 environment: Update default value for pep_base_url
  sphinx/environment/__init__.py
  tests/test_build_html.py
  tests/test_markup.py
Labels: bug, markup, linkcheck

#10272 test: empty tuple type is now repesented w/o args since py3.11
  tests/test_util_typing.py
Labels: test

#10271 test: Fix test_markup does not use default settings for docutils
  tests/test_markup.py
Labels: test, refactoring

#10247 Fix query splitting in `searchtools.js`; update `jssplitter`
  sphinx/search/jssplitter.py
  sphinx/themes/basic/static/searchtools.js
  utils/jssplitter_generator.py
Labels: html search, refactoring

#10273 `searchtools.js`: Fix object search, simplify `splitQuery`
  sphinx/search/__init__.py
  sphinx/search/jssplitter.py
  sphinx/themes/basic/static/searchtools.js
  tests/js/searchtools.js
  utils/jssplitter_generator.py
Labels: html search, refactoring

#10186 Patch rst get language in docutils
  sphinx/util/docutils.py
Labels: bug, i18n

#10288 PEP role: Include trailing slash in URL to avoid 301 redirect
  doc/tutorial/automatic-doc-generation.rst
  doc/usage/extensions/autodoc.rst
  doc/usage/extensions/doctest.rst
  doc/usage/extensions/example_google.py
  doc/usage/extensions/example_numpy.py
  doc/usage/extensions/napoleon.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/doctest.py
  sphinx/roles.py
  sphinx/util/__init__.py
  tests/test_build_html.py
  tests/test_markup.py
Labels: markup, refactoring

#10292 Use license_files to fix setuptools deprecation warning
  setup.cfg
Labels: bug

#10283 Fix #10277: html search: Could not search short words (ex. "use")
  CHANGES
  sphinx/themes/basic/static/searchtools.js
Labels: bug, html search

#10284 Fix #10269: manpage: Failed to resolve the title of :ref: cross references
  CHANGES
  sphinx/builders/manpage.py
Labels: bug, man

#10297 doc: Use :pep: role to refer PEP documents
  doc/tutorial/automatic-doc-generation.rst
  doc/usage/extensions/autodoc.rst
  doc/usage/extensions/doctest.rst
  doc/usage/extensions/example_google.py
  doc/usage/extensions/example_numpy.py
  doc/usage/extensions/napoleon.rst
Labels: docs, refactoring

#10126 Close #10112: extlinks: Disable hardcoded links detector by default
  CHANGES
  doc/usage/extensions/extlinks.rst
  sphinx/ext/extlinks.py
  tests/roots/test-ext-extlinks-hardcoded-urls-multiple-replacements/conf.py
  tests/roots/test-ext-extlinks-hardcoded-urls/conf.py
  tests/test_ext_extlinks.py
Labels: bug, enhancement, extensions

#10300 doc: URL of requests has changed now
  doc/conf.py
Labels: docs, refactoring

#10301 doc: Update docs for sphinx.parsers.Parser
  doc/extdev/parserapi.rst
  sphinx/parsers.py
Labels: docs, refactoring

#10107 Implement #noqa for i18n
  doc/usage/advanced/intl.rst
  doc/usage/configuration.rst
  sphinx/transforms/i18n.py
  tests/roots/test-intl/literalblock.txt
  tests/roots/test-intl/noqa.txt
  tests/roots/test-intl/xx/LC_MESSAGES/literalblock.po
  tests/roots/test-intl/xx/LC_MESSAGES/noqa.po
  tests/test_intl.py
Labels: enhancement, proposal, i18n

#10178 Revert "Close #9993: std domain: Allow to refer an inline target via ref role"
  sphinx/domains/std.py
  tests/test_domain_std.py
Labels: bug, markup, domains:std

#10263 escape base_uri in extlinks
  sphinx/ext/extlinks.py
Labels: bug, extensions
