Repository sphinx-doc/sphinx, pull requests merged in 2022-05, with the labels that each got.

#10391 Deprecate `sphinx.util.jsdump`
  doc/extdev/deprecated.rst
  sphinx/search/__init__.py
  sphinx/util/jsdump.py
  tests/test_search.py
Labels: proposal, refactoring

#10406 Ensure submodules are unique in `sphinx.ext.apidoc`
  CHANGES
  sphinx/ext/apidoc.py
  tests/roots/test-apidoc-duplicates/fish_licence/halibut.cpython-38-x86_64-linux-gnu.so
  tests/roots/test-apidoc-duplicates/fish_licence/halibut.pyx
  tests/test_ext_apidoc.py
Labels: bug, apidoc

#10409 Remove redundant code for Python < 3.6
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_ext_autodoc_autodata.py
  tests/test_ext_napoleon_docstring.py
Labels: test, refactoring

#10411 Fix #10384: test: Skip tests for imgconvert if imagemagick not found
  tests/test_ext_imgconverter.py
Labels: bug, test

#10388 sphinx.ext.napoleon docs: fix Google style link
  doc/usage/extensions/napoleon.rst
Labels: bug, docs

#10374 support srearch template with extended-length path
  sphinx/jinja2glue.py
Labels: bug, html theme

#10353 Fix #10305: autodoc: Failed to extract optional forwardrefs
  CHANGES
  sphinx/util/inspect.py
  tests/roots/test-ext-autodoc/target/autodoc_type_aliases.py
  tests/test_ext_autodoc_configs.py
  tests/test_util_inspect.py
Labels: bug, autodoc

#10361 Only test with coverage on pushes to `sphinx-doc/sphinx`
  .github/workflows/main.yml
  setup.py
  sphinx/testing/fixtures.py
  tests/test_ext_apidoc.py
  tests/test_setup_command.py
  tox.ini
Labels: test

#10381 Mark APIs for docutils-0.13 deprecated and remove monkey-patch for it
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/html/__init__.py
  sphinx/util/docutils.py
  sphinx/util/smartypants.py
Labels: api, refactoring, docutils

#10345 Refractor the example in 'Add your own static files to the build assets' documentation section
  doc/development/theming.rst
Labels: bug, docs

#10413 CI: fix coverage job
  .github/workflows/main.yml
Labels: bug, test

#10412 Remove sphinx.util.docutils.__version_info__ on 7.0
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/util/docutils.py
Labels: api, refactoring

#10251 Make code role highlighting consistent with code-block directive
  doc/usage/restructuredtext/directives.rst
  doc/usage/restructuredtext/roles.rst
  sphinx/roles.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  tests/roots/test-reST-code-role/conf.py
  tests/roots/test-reST-code-role/index.rst
  tests/test_build_html.py
  tests/test_build_latex.py
Labels: markup, proposal, docutils

#10426 Fix typo
  sphinx/ext/intersphinx.py
Labels: bug, docs, extensions:intersphinx

#10428 Recognize a documented attribute of a module as non-imported
  CHANGES
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autosummary/autosummary_class_module.py
  tests/roots/test-ext-autosummary/autosummary_dummy_module.py
  tests/test_ext_autosummary.py
Labels: enhancement, autosummary

#10147 Apply `autodoc_typehints_format` to all type hints
  CHANGES
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: autodoc, proposal

#10337 Cache `Publisher` objects to speed up Sphinx
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/__init__.py
  sphinx/builders/html/__init__.py
  sphinx/io.py
  sphinx/registry.py
Labels: proposal

#10197 Reduce `body_min_width` in basic theme
  CHANGES
  sphinx/themes/basic/theme.conf
Labels: bug, html theme

#10365 fix #10363 make sphinxmaketitle ruler use \linewidth not \textwidth
  CHANGES
  sphinx/texinputs/sphinxhowto.cls
Labels: bug, latex

#10435 Fix #10434: extra whitespace in pdf output for highlighted inline code
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: bug, latex

#10431 refactor: Create a copy of settings on Builder.write_doctree()
  sphinx/builders/__init__.py
Labels: builder, refactoring

#10430 test: Remove tests for jsdump module (deprecated)
  tests/test_util_jsdump.py
Labels: test, refactoring

#10429 Close #9974: html: Updated jQuery version from 3.5.1 to 3.6.0
  CHANGES
  sphinx/themes/basic/static/jquery-3.6.0.js
  sphinx/themes/basic/static/jquery.js
  tests/test_theming.py
Labels: bug, html, html theme, refactoring

#10427 Fix #10421: autodoc_preserve_defaults doesn't work on class methods
  CHANGES
  sphinx/ext/autodoc/preserve_defaults.py
  tests/roots/test-ext-autodoc/target/preserve_defaults.py
  tests/test_ext_autodoc_preserve_defaults.py
Labels: bug, autodoc

#10449 Fix #9575: autodoc: Return annotation should not be shown
  CHANGES
  sphinx/ext/autodoc/typehints.py
  tests/test_ext_autodoc_configs.py
Labels: bug, autodoc

#10457 closes #10456: test and fix for sphinx.domain.python.filter_meta_fields()
  CHANGES
  sphinx/domains/python.py
  tests/test_domain_py.py
Labels: bug, domains:py

#10453 CI: Separate coverage task from main.yml
  .github/workflows/coverage.yml
  .github/workflows/main.yml
Labels: test, refactoring

#10452 Fix #10344: docs: Update explanation for copying static files manually
  doc/development/theming.rst
Labels: docs

#10451 Fix #9648: autodoc: *args and **kwargs entries are duplicated
  CHANGES
  sphinx/ext/autodoc/typehints.py
  tests/roots/test-ext-autodoc/target/typehints.py
  tests/roots/test-ext-napoleon/conf.py
  tests/roots/test-ext-napoleon/index.rst
  tests/roots/test-ext-napoleon/mypackage/__init__.py
  tests/roots/test-ext-napoleon/mypackage/typehints.py
  tests/roots/test-ext-napoleon/typehints.rst
  tests/test_ext_autodoc_configs.py
  tests/test_ext_napoleon_docstring.py
Labels: bug, autodoc

#10454 Fix #9096: sphinx-build: the value of progress bar for paralle build is wrong
  CHANGES
  sphinx/builders/__init__.py
  sphinx/util/__init__.py
Labels: bug, cmdline

#10114 Fix #10110: sphinx-build: Emit builder-finished before shutdown
  CHANGES
  sphinx/application.py
Labels: bug, cmdline, api

#10386 Add comments on ImageMagick requirement
  doc/usage/extensions/imgconverter.rst
  sphinx/ext/imgconverter.py
Labels: enhancement, docs

#10466 Fix sphinx-doc#10104: gettext: Duplicated locations are output to pot file
  CHANGES
  sphinx/builders/gettext.py
  tests/test_build_gettext.py
Labels: bug, i18n

#10464 doc: Add an explanation for :class: option of code-block directive
  doc/usage/restructuredtext/directives.rst
Labels: bug, docs

#10484 Update URL for requests
  EXAMPLES
  doc/conf.py
Labels: bug, docs

#10481 Coerce `language = None` in `conf.py` to Engligh
  CHANGES
  doc/usage/configuration.rst
  sphinx/config.py
  tests/test_config.py
Labels: bug, config

#10486 Fix imgconverter: Failed to extract translation messages
  sphinx/ext/imgconverter.py
Labels: bug, i18n

#10463 Footnote & citation display for Docutils 0.18
  sphinx/themes/basic/static/basic.css_t
Labels: bug, html theme

#10489 test: Change URL of testcase
  tests/roots/test-linkcheck/links.txt
Labels: test, refactoring
