Repository sphinx-doc/sphinx, pull requests merged in 2022-10, with the labels that each got.

#10881 Add debug logging to `autosectionlabel`
  CHANGES
  doc/usage/extensions/autosectionlabel.rst
  sphinx/ext/autosectionlabel.py
Labels: extensions

#10890 Fix disabling cross-references in pre-v3 C domain
  sphinx/domains/c.py
Labels: type:bug, domains:c

#9360 Fix detection for out of date files
  CHANGES
  sphinx/builders/__init__.py
  tests/test_build_html.py
  tests/test_build_latex.py
  tests/test_build_manpage.py
  tests/test_build_texinfo.py
Labels: type:bug, builder

#10137 Don't display 'replaceable hardcoded link' when link has a slash
  sphinx/ext/extlinks.py
  tests/roots/test-ext-extlinks-hardcoded-urls-multiple-replacements/index.rst
  tests/test_ext_extlinks.py
Labels: type:enhancement, extensions

#10888 Fix performance regression for ``imgmath`` embedding
  sphinx/ext/imgmath.py
Labels: extensions

#10901 Remove support for parsing pre-v3 syntax in the C domain
  CHANGES
  sphinx/domains/c.py
Labels: domains:c

#10268 URI-escape image filenames
  CHANGES
  sphinx/builders/_epub_base.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  tests/roots/test-image-escape/conf.py
  tests/roots/test-image-escape/img_#1.png
  tests/roots/test-image-escape/index.rst
  tests/test_build_html.py
  tests/test_build_latex.py
Labels: type:bug, builder:html

#10919 Allow sections in object description directives
  CHANGES
  sphinx/directives/__init__.py
  tests/roots/test-object-description-sections/conf.py
  tests/roots/test-object-description-sections/index.rst
  tests/test_directive_object_description.py
Labels: domains:py

#10922 Revert ``html_codeblock_linenos_style`` removal
  doc/usage/configuration.rst
  sphinx/builders/html/__init__.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  tests/test_build_html.py
Labels: builder:html

#10921 Simplify development policy
  doc/internals/release-process.rst
  utils/release-checklist
Labels: type:docs

#10925 Update documentation of latex builder
  doc/usage/builders/index.rst
Labels: type:docs

#10924 LaTeX: switch to some nicer defaults for tables and code-blocks
  CHANGES
  doc/conf.py
  doc/latex.rst
  doc/usage/configuration.rst
  sphinx/builders/latex/__init__.py
  sphinx/texinputs/sphinx.sty
  tests/test_build_latex.py
Labels: builder:latex
