Repository sphinx-doc/sphinx, pull requests merged in 2023-01, with the labels that each got.

#10867 Shrink 'any-generics' whitelist for 'writers' module
  pyproject.toml
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
Labels: internals:typing

#10700 Document ``typing.NewType`` as a class
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/generate.py
  tests/test_ext_autodoc.py
  tests/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc_autoclass.py
  tests/test_ext_autodoc_autodata.py
  tests/test_ext_autodoc_configs.py
Labels: extensions:autodoc

#11080 Fix #6744: support for seealso directive should be via an environment
  CHANGES
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexadmonitions.sty
  sphinx/writers/latex.py
  tests/test_build_latex.py
Labels: builder:latex

#11081 Fix #11074: Can't change sphinxnote to use sphinxheavybox
  CHANGES
  sphinx/texinputs/sphinxlatexadmonitions.sty
Labels: type:enhancement, builder:latex

#10965 imgmath: Fix relative file path
  CHANGES
  sphinx/ext/imgmath.py
Labels: builder:html, type:regression, extensions:imgmath

#11102 LaTeX: fix 5.1.0 bugs related to topic and contents boxes (refs: #10648)
  CHANGES
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexshadowbox.sty
  tests/roots/test-root/conf.py
Labels: builder:latex, type:regression

#11107 Update CHANGES to announce LaTeX deprecation of internal \dimen's
  CHANGES
Labels: builder:latex

#11105 LaTeX: remove some internal \dimen registers
  CHANGES
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexliterals.sty
  sphinx/texinputs/sphinxlatexshadowbox.sty
Labels: builder:latex, internals:refactoring

#11146 Update test_config.py::test_needs_sphinx for Alabaster 0.7.13 compat
  tests/test_config.py
Labels: extensions, type:tests

#11148 Ignore UP031 check with Ruff 0.0.229
  pyproject.toml
Labels: type:tests

#11144 Doc of html_file_suffix (closes #11141)
  doc/usage/configuration.rst
Labels: type:docs
