Repository sphinx-doc/sphinx, pull requests merged in 2023-03, with the labels that each got.

#11224 LaTeX: add ``\sphinxbox`` command
  CHANGES
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxpackageboxes.sty
Labels: builder:latex

#11234 LaTeX: add support for styling ``note`` (``hint``, ...) similarly as ``warning`` ( ``danger``, ...)
  CHANGES
  doc/latex.rst
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexadmonitions.sty
Labels: builder:latex

#11247 Deprecate legacy ``intersphinx_mapping`` format
  doc/usage/extensions/intersphinx.rst
  sphinx/ext/intersphinx.py
  tests/test_ext_intersphinx.py
Labels: internals:refactoring

#11254 LaTeX: support elliptical corners in rounded boxes
  doc/latex.rst
  sphinx/texinputs/sphinxpackageboxes.sty
Labels: type:enhancement, builder:latex

#11276 Fix #11274: external links may break PDF build if under \sphinxupquote
  CHANGES
  sphinx/texinputs/sphinxlatexliterals.sty
  tests/roots/test-root/objects.txt
  tests/test_build_latex.py
Labels: type:bug, builder:latex
