Repository sphinx-doc/sphinx, pull requests merged in 2023-07, with the labels that each got.

#11392 linkcheck tests: test webservers: enable HTTP/1.1 protocol
  tests/test_build_linkcheck.py
  tests/utils.py
Labels: type:tests, internals:refactoring, builder:linkcheck

#11499 Re-structure the ``linkcheck`` builder
  sphinx/builders/linkcheck.py
  sphinx/ext/intersphinx.py
  sphinx/util/requests.py
  tests/test_build_linkcheck.py
Labels: internals:refactoring, builder:linkcheck

#5474 Adds summary statistics to coverage report
  CHANGES
  doc/conf.py
  doc/usage/extensions/coverage.rst
  sphinx/ext/coverage.py
  tests/test_ext_coverage.py
Labels: type:enhancement, extensions

#6319 Add line numbers in ``sphinx.ext.viewdoc``
  CHANGES
  doc/usage/extensions/viewcode.rst
  sphinx/ext/viewcode.py
  tests/test_ext_viewcode.py
Labels: extensions, type:proposal

#10478 Only create a target for object descriptions
  CHANGES
  doc/usage/restructuredtext/domains.rst
  sphinx/directives/__init__.py
  sphinx/domains/c.py
  sphinx/domains/cpp.py
  sphinx/domains/javascript.py
  sphinx/domains/python.py
  sphinx/domains/rst.py
  sphinx/transforms/__init__.py
  tests/test_directives_no_typesetting.py
  tests/test_domain_js.py
  tests/test_domain_py.py
  tests/test_transforms_reorder_nodes.py
Labels: type:enhancement

#11530 Fix LaTeX output of line-block
  sphinx/texinputs/sphinxlatexobjects.sty
Labels: type:bug, builder:latex

#11513 Fix #11407: adjust the spelling in the example.
  doc/usage/restructuredtext/directives.rst
Labels: type:docs
