Repository sphinx-doc/sphinx, pull requests merged in 2023-08, with the labels that each got.

#11575 Cache the docname<->filename map in ``Project`` instances
  sphinx/environment/__init__.py
  sphinx/project.py
  sphinx/util/osutil.py
  tests/test_project.py
Labels: internals:refactoring

#11576 Require Pygments 2.14 or later
  CHANGES
  pyproject.toml
  tests/test_ext_viewcode.py
  tests/test_intl.py
Labels: dependencies

#11577 Update Pytest configuration
  CHANGES
  pyproject.toml
  sphinx/pycode/parser.py
  sphinx/testing/restructuredtext.py
  sphinx/testing/util.py
  tests/test_build.py
  tests/test_config.py
  tests/test_directive_code.py
  tests/test_ext_intersphinx.py
  tests/test_intl.py
  tests/test_util_fileutil.py
Labels: type:tests

#11572 Always say why something is out of date
  CHANGES
  sphinx/environment/__init__.py
Labels: type:enhancement

#11582 Deprecate ``css_files`` and ``script_files``
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/builders/html/__init__.py
  tests/test_theming.py
Labels: builder:html, internals:refactoring

#11550 Fix ``sphinx.ext.autodoc.preserve_defaults`` extension.
  CHANGES
  doc/extdev/deprecated.rst
  sphinx/ext/autodoc/preserve_defaults.py
  tests/roots/test-ext-autodoc/target/preserve_defaults.py
  tests/roots/test-ext-autodoc/target/preserve_defaults_special_constructs.py
  tests/test_ext_autodoc_preserve_defaults.py
Labels: extensions:autodoc

#11651 autodoc: Fix UnboundLocalError in ``filter_members``
  sphinx/ext/autodoc/__init__.py
Labels: type:bug, extensions:autodoc
