Repository sphinx-doc/sphinx, pull requests merged in 2023-04, with the labels that each got.

#11113 Consider duplicate names when using image post transforms
  sphinx/transforms/post_transforms/images.py
Labels: type:bug

#10811 Autosummary: Extend ``__all__`` members to template rendering
  CHANGES
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autosummary-imported_members/index.rst
  tests/roots/test-ext-autosummary-module_all/autosummary_dummy_package_all/__init__.py
  tests/roots/test-ext-autosummary-module_all/autosummary_dummy_package_all/autosummary_dummy_module.py
  tests/roots/test-ext-autosummary-module_all/autosummary_dummy_package_all/extra_dummy_module.py
  tests/roots/test-ext-autosummary-module_all/conf.py
  tests/roots/test-ext-autosummary-module_all/index.rst
  tests/test_ext_autosummary.py
Labels: extensions:autosummary

#11319 LaTeX: get aligned longtable obey current list indent
  CHANGES
  sphinx/templates/latex/longtable.tex.jinja
  tests/roots/test-latex-table/expects/longtable.tex
  tests/roots/test-latex-table/expects/longtable_having_align.tex
  tests/roots/test-latex-table/expects/longtable_having_caption.tex
  tests/roots/test-latex-table/expects/longtable_having_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_stub_columns_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_having_verbatim.tex
  tests/roots/test-latex-table/expects/longtable_having_widths.tex
  tests/roots/test-latex-table/expects/longtable_having_widths_and_problematic_cell.tex
  tests/roots/test-latex-table/expects/longtable_with_tabularcolumn.tex
  tests/test_build_latex.py
  tests/test_ext_autosummary.py
Labels: type:bug, builder:latex
