Repository sphinx-doc/sphinx, pull requests merged in 2024-03, with the labels that each got.

#12034 improve type safety when using NodeMatcher
  sphinx/builders/html/transforms.py
  sphinx/builders/latex/transforms.py
  sphinx/transforms/i18n.py
  sphinx/util/nodes.py
  sphinx/writers/manpage.py
Labels: internals:refactoring, internals:typing

#12036 Test: use FORCE_COLOR=1 to ensure the test works
  tests/test_util/test_util_display.py
Labels: type:bug, type:tests

#12039 github template config: fixup: use updated issue label names
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: type:bug

#12035 Don't use a dash if there's no description to introduce
  sphinx/util/docfields.py
  tests/test_extensions/test_ext_autodoc_configs.py
Labels: type:bug

#12044 fix a resources leak
  sphinx/ext/doctest.py
Labels: type:bug

#11958 HTML Search: Fix partial matches overwriting full matches
  CHANGES.rst
  sphinx/themes/basic/static/searchtools.js
  tests/js/searchtools.js
Labels: type:bug, html search, javascript, type:performance, priority:high

#11960 HTML Search: Fix multiple term matching edge case
  CHANGES.rst
  sphinx/themes/basic/static/searchtools.js
  tests/js/searchtools.js
Labels: type:bug, html search, javascript

#12024 Fix typos in `usage/configuration.rst`
  doc/usage/configuration.rst
Labels: type:docs, awaiting:response

#11939 Fix pickled doctrees cache.
  CHANGES.rst
  sphinx/environment/__init__.py
Labels: internals:environment, priority:high

#11284 Add support for singledispatchmethod class methods in MethodDocumenter
  CHANGES.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/singledispatchmethod_classmethod.py
  tests/test_extensions/test_ext_autodoc.py
Labels: extensions:autodoc

#12101 [javascript] Update vulnerable dependencies using 'npm audit fix'.
  package-lock.json
Labels: type:tests, javascript

#12089 [tests] start fixing the current plugin [part 1]
  CHANGES.rst
  sphinx/testing/fixtures.py
  sphinx/testing/util.py
Labels: type:tests

#12057 HTML Search: filter script and style elements from search result summary text.
  CHANGES.rst
  sphinx/themes/basic/static/searchtools.js
  tests/js/searchtools.js
Labels: type:bug, html search, javascript, priority:high

#11696 search: order non-main index entries after other results
  CHANGES.rst
  sphinx/search/__init__.py
  sphinx/themes/basic/static/searchtools.js
Labels: type:bug, html search, javascript, priority:high

#12128 [tests] linkcheck: add test coverage for behaviour of a locally-existing file.
  tests/test_builders/test_build_linkcheck.py
Labels: type:tests, builder:linkcheck

#12056 docs: add reference to templating from theme development.
  doc/development/templating.rst
  doc/development/theming.rst
Labels: type:docs, internals:other

#12144 [tests] utils: refactor type-hint signatures.
  tests/test_builders/test_build_linkcheck.py
  tests/utils.py
Labels: type:tests, internals:refactoring

#11596 Fix rendering of enumerations inheriting from mixin and data types.
  CHANGES.rst
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-autodoc/target/enums.py
  tests/test_extensions/test_ext_autodoc.py
Labels: extensions:autodoc

#12166 [tests] Increase timeouts for linkcheck build tests.
  tests/roots/test-linkcheck-anchors-ignore-for-url/conf.py
  tests/roots/test-linkcheck-anchors-ignore/conf.py
  tests/roots/test-linkcheck-documents_exclude/conf.py
  tests/roots/test-linkcheck-localserver-anchor/conf.py
  tests/roots/test-linkcheck-localserver-https/conf.py
  tests/roots/test-linkcheck-localserver-warn-redirects/conf.py
  tests/roots/test-linkcheck-localserver/conf.py
  tests/roots/test-linkcheck-raw-node/conf.py
  tests/roots/test-linkcheck-too-many-retries/conf.py
  tests/roots/test-linkcheck/conf.py
Labels: type:bug, type:tests, builder:linkcheck, type:performance

#12168 [tests] Add basic build test for all builtin themes
  .ruff.toml
  pyproject.toml
  sphinx/themes/basic/search.html
  sphinx/themes/bizstyle/layout.html
  tests/test_theming/test_html_theme.py
  tests/test_theming/test_templating.py
  tests/test_theming/test_theming.py
Labels: priority:high

#12176 CI: Print detailed Python version
  .github/workflows/main.yml
Labels: github_actions, type:performance, python

#12177 [changelog] Fixup / improvement: add confval role to entry for 'linkcheck_allow_unauthorized'.
  CHANGES.rst
Labels: type:docs

#12012 use 'types-docutils' instead of 'docutils-stubs' for docutils type annotations
  pyproject.toml
  sphinx/addnodes.py
  sphinx/builders/__init__.py
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/transforms.py
  sphinx/directives/__init__.py
  sphinx/directives/code.py
  sphinx/directives/other.py
  sphinx/directives/patches.py
  sphinx/domains/c/__init__.py
  sphinx/domains/changeset.py
  sphinx/domains/citation.py
  sphinx/domains/cpp/__init__.py
  sphinx/domains/index.py
  sphinx/domains/javascript.py
  sphinx/domains/python/__init__.py
  sphinx/domains/python/_object.py
  sphinx/domains/rst.py
  sphinx/domains/std/__init__.py
  sphinx/environment/collectors/metadata.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/doctest.py
  sphinx/ext/graphviz.py
  sphinx/ext/ifconfig.py
  sphinx/ext/inheritance_diagram.py
  sphinx/ext/todo.py
  sphinx/io.py
  sphinx/roles.py
  sphinx/search/__init__.py
  sphinx/transforms/__init__.py
  sphinx/transforms/i18n.py
  sphinx/util/docfields.py
  sphinx/util/docutils.py
  sphinx/util/fileutil.py
  sphinx/util/nodes.py
  sphinx/util/rst.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/manpage.py
  sphinx/writers/texinfo.py
Labels: internals:typing

#12194 C, fix debug functionality
  sphinx/domains/c/_symbol.py
Labels: domains:c

#12173 [tests] move utilities and static data into dedicated modules and remove ``html5lib``
  pyproject.toml
  sphinx/testing/util.py
  tests/test_builders/conftest.py
  tests/test_builders/test_build_html.py
  tests/test_builders/test_build_html_5_output.py
  tests/test_builders/test_build_html_numfig.py
  tests/test_builders/test_build_html_tocdepth.py
  tests/test_builders/xpath_data.py
  tests/test_builders/xpath_util.py
  tests/test_domains/test_domain_std.py
  tests/test_extensions/autodoc_util.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_extensions/test_ext_autodoc_autoattribute.py
  tests/test_extensions/test_ext_autodoc_autoclass.py
  tests/test_extensions/test_ext_autodoc_autodata.py
  tests/test_extensions/test_ext_autodoc_autofunction.py
  tests/test_extensions/test_ext_autodoc_automodule.py
  tests/test_extensions/test_ext_autodoc_autoproperty.py
  tests/test_extensions/test_ext_autodoc_configs.py
  tests/test_extensions/test_ext_autodoc_events.py
  tests/test_extensions/test_ext_autodoc_preserve_defaults.py
  tests/test_extensions/test_ext_autodoc_private_members.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_extensions/test_ext_napoleon_docstring.py
  tests/test_markup/test_smartquotes.py
  tests/test_util/intersphinx_data.py
  tests/test_util/test_util_inspect.py
  tests/test_util/test_util_inventory.py
Labels: type:tests, internals:refactoring, extensions:intersphinx, priority:high, python

#12182 [doc] cleanup references and links
  .flake8
  .ruff.toml
  CHANGES.rst
  EXAMPLES.rst
  Makefile
  doc/changes.rst
  doc/conf.py
  doc/development/builders.rst
  doc/tutorial/deploying.rst
  doc/usage/extensions/autodoc.rst
  doc/usage/installation.rst
  doc/usage/restructuredtext/basics.rst
Labels: type:docs

#12193 👌 Improve `external` role warnings (and revert object fallback)
  CHANGES.rst
  sphinx/ext/intersphinx.py
  tests/roots/test-ext-intersphinx-role/index.rst
  tests/test_extensions/test_ext_intersphinx.py
Labels: extensions:intersphinx

#12041 HTML Search: fixup: include partially-matched document titles in search results.
  CHANGES.rst
  sphinx/themes/basic/static/searchtools.js
  tests/js/searchtools.js
Labels: type:bug, html search, javascript
