Repository sphinx-doc/sphinx, pull requests merged in 2024-02, with the labels that each got.

#11705 Add tests for ``:manpage:`` inside a title
  tests/roots/test-manpage_url/index.rst
  tests/test_builders/test_build_html.py
Labels: type:tests

#11940 [gettext] fix flaky test on windows
  tests/test_intl/test_intl.py
Labels: type:tests, type:performance, priority:high

#11992 Clarify the proper 'make-mode' usage in the docs
  doc/man/sphinx-build.rst
Labels: type:docs

#11944 HTML Search: Use anchor for search preview
  CHANGES.rst
  sphinx/themes/basic/static/searchtools.js
  tests/js/searchtools.js
Labels: html search, priority:high
