Repository sphinx-doc/sphinx, pull requests merged in 2024-04, with the labels that each got.

#12229 [search] JavaScript refactor: extract subcomponents from Search.query function.
  sphinx/themes/basic/static/searchtools.js
Labels: html search, internals:refactoring, javascript

#12225 Update linkcheck_rate_limit_timeout docs using seconds instead of minutes
  doc/usage/configuration.rst
Labels: type:docs

#11970 🐛 Fix singlehtml target uris to be same-document references
  CHANGES.rst
  sphinx/builders/singlehtml.py
Labels: builder:html

#12266 Fix mypy errors on Windows
  pyproject.toml
  sphinx/locale/__init__.py
  sphinx/registry.py
  sphinx/theming.py
Labels: internals:refactoring, internals:typing

#12271 Partially revert Docutils' [r9562] to fix epubcheck
  CHANGES.rst
  sphinx/writers/html5.py
Labels: type:bug, builder:epub, docutils

#12267 Support Docutils 0.21
  CHANGES.rst
  pyproject.toml
Labels: docutils, dependencies

#12023 linkcheck builder: add 'linkcheck_report_timeouts_as_broken' config option
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/builders/linkcheck.py
  tests/test_builders/test_build_linkcheck.py
Labels: builder:linkcheck

#12095 Make the test suite connectivity-agnostic.
  sphinx/testing/fixtures.py
  tests/roots/test-images/index.rst
  tests/roots/test-root/images.txt
  tests/test_builders/test_build_html_image.py
  tests/test_builders/test_build_latex.py
Labels: type:tests, internals:refactoring

#12256 Improve ``sphinx.util.inspect`` [part 1]
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
Labels: internals:refactoring

#12280 Improve type hints for ``sphinx.ext.autodoc.mock``
  pyproject.toml
  sphinx/ext/autodoc/mock.py
  tests/test_extensions/test_ext_autodoc_automodule.py
Labels: internals:refactoring

#12281 add some comments for Union types [part 2b]
  sphinx/util/typing.py
Labels: type:docs, internals:other

#12312 Refactor C and C++ AST types
  sphinx/domains/c/_ast.py
  sphinx/domains/c/_symbol.py
  sphinx/domains/cpp/_ast.py
  sphinx/domains/cpp/_symbol.py
  sphinx/util/cfamily.py
Labels: domains:c, domains:cpp, internals:refactoring

#12282 Style tweaks to ``sphinx.util.typing``
  sphinx/util/typing.py
Labels: internals:refactoring

#12283 Use ``TypeGuard`` in ``sphinx.util.inspect``
  sphinx/ext/autodoc/mock.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
Labels: internals:refactoring, internals:typing

#12284 Separate cases in ``stringify`` and ``restify`` with greater precision
  sphinx/util/typing.py
Labels: internals:refactoring

#12314 Properly format ``collections.abc.Callable``
  sphinx/util/typing.py
  tests/test_util/test_util_typing.py
Labels: internals:refactoring, internals:typing

#11916 Static templates: also support ``.jinja`` files
  CHANGES.rst
  doc/development/theming.rst
  doc/latex.rst
  sphinx/util/fileutil.py
  tests/roots/test-latex-table/_mytemplates/latex/tabulary.tex_t
  tests/roots/test-theming/test_theme/staticfiles/static/legacytmpl.html_t
  tests/roots/test-theming/test_theme/staticfiles/static/statictmpl.html.jinja
  tests/test_builders/test_build_latex.py
  tests/test_theming/test_theming.py
  tests/test_util/test_util_fileutil.py
  utils/babel_runner.py
Labels: html theme, priority:low

#12162 C domain, fix performance regression since 3.0.0
  CHANGES.rst
  sphinx/domains/c/_symbol.py
Labels: domains:c, type:performance

#12317 [CI/CD] patch `sphinx.util.inspect_evaluate_forwardref` causing CI failures
  sphinx/util/inspect.py
Labels: type:bug, extensions:autodoc, internals:typing

#12119 Remove test result-sharing between 'test_html5_output' and 'test_html5_download'
  tests/test_builders/test_build_html_5_output.py
  tests/test_builders/test_build_html_download.py
Labels: type:bug, type:tests

#12206 linkcheck: Store the original (unquoted) anchor
  sphinx/builders/linkcheck.py
  tests/roots/test-linkcheck-anchors-ignore-for-url/index.rst
  tests/test_builders/test_build_linkcheck.py
Labels: builder:linkcheck

#12213 linkcheck: add ``HyperlinkCollector.find_url()``
  sphinx/builders/linkcheck.py
Labels: type:enhancement, builder:linkcheck

#12251 ext.duration: fix merge_domaindata()
  CHANGES.rst
  sphinx/ext/duration.py
Labels: extensions, internals:parallel

#12224 Properly support WebP in the image converter
  CHANGES.rst
  sphinx/ext/imgconverter.py
  sphinx/transforms/post_transforms/images.py
  sphinx/util/images.py
  tests/test_transforms/test_transforms_post_transforms_images.py
Labels: extensions

#12325 Collapse unions of ``Literal`` types in ``stringify_annotation``
  CHANGES.rst
  sphinx/util/typing.py
  tests/test_util/test_util_inspect.py
  tests/test_util/typing_test_data.py
Labels: type:enhancement, internals:typing

#10877 Add `sphinx._cli`
  .ruff.toml
  sphinx/_cli/__init__.py
  sphinx/_cli/util/__init__.py
  sphinx/_cli/util/colour.py
  sphinx/_cli/util/errors.py
Labels: api:cmdline
