Repository sphinx-doc/sphinx, pull requests merged in 2024-06, with the labels that each got.

#12411 LaTeX: fix docs for ``'babel'`` key of ``latex_elements``
  doc/latex.rst
Labels: type:bug, builder:latex, type:docs

#12102 [tests] JavaScript: extract searchindex.js-format test fixtures.
  .gitignore
  .ruff.toml
  CHANGES.rst
  doc/internals/contributing.rst
  karma.conf.js
  tests/js/fixtures/cpp/searchindex.js
  tests/js/fixtures/multiterm/searchindex.js
  tests/js/fixtures/partial/searchindex.js
  tests/js/language_data.js
  tests/js/roots/cpp/conf.py
  tests/js/roots/cpp/index.rst
  tests/js/roots/multiterm/conf.py
  tests/js/roots/multiterm/index.rst
  tests/js/roots/partial/conf.py
  tests/js/roots/partial/index.rst
  tests/js/searchtools.js
  tests/test_search.py
  utils/generate_js_fixtures.py
Labels: html search, type:tests, internals:refactoring, javascript

#12329 Intersphinx: log warnings for ambiguous target resolutions.
  CHANGES.rst
  sphinx/ext/intersphinx/_load.py
  sphinx/ext/intersphinx/_resolve.py
  sphinx/util/inventory.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_util/intersphinx_data.py
  tests/test_util/test_util_inventory.py
Labels: domains:std, extensions:intersphinx

#12357 🔧 Narrow typing for `Builder.build` method
  sphinx/builders/__init__.py
  sphinx/builders/gettext.py
Labels: builder, internals:typing

#12469 [docs] Fix typos in autodoc.rst
  doc/usage/extensions/autodoc.rst
Labels: type:bug, type:docs

#12470 [linkcheck] Allow integer for `linkcheck_rate_limit_timeout`
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/builders/linkcheck.py
  tests/test_builders/test_build_linkcheck.py
Labels: type:bug, type:docs, builder:linkcheck

#12458 DOC: Rewrite installation instructions
  doc/usage/installation.rst
Labels: type:docs, type:proposal

#12466 [docs] Add Previous/Next links after content
  doc/_themes/sphinx13/layout.html
  doc/_themes/sphinx13/static/sphinx13.css
Labels: type:proposal, html theme

#12473 [docs] Improve tutorials
  .ruff.toml
  doc/conf.py
  doc/development/tutorials/adding_domain.rst
  doc/development/tutorials/autodoc_ext.rst
  doc/development/tutorials/examples/helloworld.py
  doc/development/tutorials/extending_build.rst
  doc/development/tutorials/extending_syntax.rst
  doc/development/tutorials/helloworld.rst
  doc/development/tutorials/index.rst
  doc/extdev/index.rst
Labels: type:enhancement, type:docs
