Repository sphinx-doc/sphinx, pull requests merged in 2024-07, with the labels that each got.

#12493 Use Windows-specific Colorama initialisation
  pyproject.toml
  sphinx/util/console.py
Labels: dependencies, internals:other, python

#12502 Improve ``get_location()``
  sphinx/util/docutils.py
  sphinx/util/logging.py
Labels: internals:refactoring

#12386 genindex: use &#x2013; instead of &ndash; for xhtml compatibility
  sphinx/themes/basic/genindex-single.html
Labels: builder:epub

#12505 Rewrite the "Docutils markup API" page
  doc/conf.py
  doc/extdev/markupapi.rst
  doc/extdev/utils.rst
  sphinx/util/docutils.py
  sphinx/util/parsing.py
Labels: markup, type:docs

#12344 Regression: restore extraction of data-URI images from source for builders whose output formats do not support them natively.
  CHANGES.rst
  sphinx/builders/__init__.py
  sphinx/transforms/post_transforms/images.py
  tests/roots/test-images/index.rst
  tests/test_builders/test_build_epub.py
  tests/test_builders/test_build_html_image.py
  tests/test_builders/test_build_latex.py
  tests/test_builders/test_build_texinfo.py
Labels: builder, type:regression

#12258 Support ``typing_extensions.Unpack``
  pyproject.toml
  sphinx/util/typing.py
  tests/test_util/test_util_typing.py
Labels: type:proposal, internals:typing

#12489 [html] propagate `rel` attribute from `reference` nodes
  sphinx/writers/html5.py
Labels: builder:html, internals:other

#12495 Fix invalid genindex.html file produced with translated docs
  CHANGES.rst
  sphinx/domains/std/__init__.py
  sphinx/transforms/i18n.py
  tests/test_intl/test_intl.py
Labels: type:bug, builder:html, i18n

#12513 Use a protocol for ``RoleFunction``
  sphinx/ext/inheritance_diagram.py
  sphinx/util/typing.py
Labels: internals:refactoring, internals:typing

#12047 HTML Search: omit anchor reference from document titles in the search index.
  CHANGES.rst
  sphinx/environment/__init__.py
  sphinx/search/__init__.py
  tests/js/fixtures/multiterm/searchindex.js
  tests/js/fixtures/partial/searchindex.js
  tests/js/searchtools.js
  tests/test_search.py
Labels: type:bug, html search

#12425 HTML: remove early return in SVG processing
  CHANGES.rst
  sphinx/writers/html5.py
  tests/roots/test-root/images.txt
  tests/test_builders/test_build_html_5_output.py
Labels: builder:html, internals:other

#12533 Remove ``customsidebar``
  sphinx/builders/html/__init__.py
  sphinx/themes/basic/layout.html
Labels: internals:refactoring

#12534 Use ``str.format_map``
  sphinx/roles.py
Labels: internals:refactoring

#12535 Fix the type hint for ``_load_additional_themes()``
  sphinx/theming.py
Labels: internals:refactoring, internals:typing

#12536 Add a new ``confval`` directive to document settings and configuration values
  CHANGES.rst
  doc/conf.py
  doc/usage/domains/standard.rst
  doc/usage/referencing.rst
  sphinx/domains/std/__init__.py
Labels: type:enhancement, domains:std

#12537 Rewrite ``usage/configuration.rst``
  CHANGES.rst
  doc/_static/conf.py.txt
  doc/conf.py
  doc/extdev/deprecated.rst
  doc/glossary.rst
  doc/latex.rst
  doc/man/sphinx-build.rst
  doc/usage/advanced/websupport/quickstart.rst
  doc/usage/configuration.rst
  doc/usage/extensions/autodoc.rst
  doc/usage/extensions/graphviz.rst
  doc/usage/restructuredtext/directives.rst
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/texinfo.py
  sphinx/config.py
  sphinx/domains/c/__init__.py
  sphinx/domains/cpp/__init__.py
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
  tests/roots/test-root/conf.py
  tests/test_application.py
  tests/test_builders/test_build_dirhtml.py
  tests/test_builders/test_build_epub.py
  tests/test_builders/test_build_html.py
  tests/test_builders/test_build_html_image.py
  tests/test_builders/test_build_latex.py
  tests/test_builders/test_build_manpage.py
  tests/test_builders/test_build_texinfo.py
  tests/test_directives/test_directive_code.py
  tests/test_extensions/test_ext_autosummary.py
  tests/test_extensions/test_ext_graphviz.py
  tests/test_extensions/test_ext_imgconverter.py
  tests/test_extensions/test_ext_imgmockconverter.py
  tests/test_extensions/test_ext_inheritance_diagram.py
  tests/test_extensions/test_ext_math.py
  tests/test_extensions/test_ext_todo.py
  tests/test_markup/test_smartquotes.py
  tests/test_theming/test_theming.py
  tests/test_transforms/test_transforms_post_transforms_code.py
  utils/release-checklist.rst
Labels: type:docs

#12539 Refactor ``is_suppressed_warning`` to use set lookups
  sphinx/util/logging.py
Labels: internals:refactoring

#12540 Simplify ``make_filename_from_project``
  sphinx/util/osutil.py
Labels: internals:refactoring

#12545 Remove dead class attributes
  sphinx/builders/html/__init__.py
  sphinx/writers/html5.py
Labels: internals:refactoring

#12441 Improve relevance scoring for titles and object-name matches in search results
  CHANGES.rst
  sphinx/themes/basic/static/searchtools.js
  tests/js/fixtures/titles/searchindex.js
  tests/js/roots/titles/conf.py
  tests/js/roots/titles/index.rst
  tests/js/roots/titles/relevance.py
  tests/js/roots/titles/relevance.rst
  tests/js/searchtools.js
Labels: html search, javascript

#11989 Add py:type directive and role for documenting type aliases
  CHANGES.rst
  doc/usage/domains/python.rst
  sphinx/domains/python/__init__.py
  tests/roots/test-domain-py/index.rst
  tests/roots/test-domain-py/module.rst
  tests/roots/test-domain-py/roles.rst
  tests/roots/test-domain-py/type_alias.rst
  tests/test_domains/test_domain_py.py
  tests/test_domains/test_domain_py_pyobject.py
Labels: extensions:autodoc, domains:py

#12364 Rename template files in Sphinx to use preferred ``.jinja`` suffix.
  doc/man/sphinx-apidoc.rst
  doc/man/sphinx-quickstart.rst
  sphinx/builders/_epub_base.py
  sphinx/builders/changes.py
  sphinx/builders/epub3.py
  sphinx/builders/gettext.py
  sphinx/builders/latex/__init__.py
  sphinx/cmd/quickstart.py
  sphinx/ext/apidoc.py
  sphinx/ext/imgmath.py
  sphinx/templates/apidoc/module.rst.jinja
  sphinx/templates/apidoc/package.rst.jinja
  sphinx/templates/apidoc/toc.rst.jinja
  sphinx/templates/epub3/content.opf.jinja
  sphinx/templates/epub3/nav.xhtml.jinja
  sphinx/templates/epub3/toc.ncx.jinja
  sphinx/templates/gettext/message.pot.jinja
  sphinx/templates/imgmath/preview.tex.jinja
  sphinx/templates/imgmath/template.tex.jinja
  sphinx/templates/latex/latex.tex.jinja
  sphinx/templates/latex/longtable.tex.jinja
  sphinx/templates/latex/sphinxmessages.sty.jinja
  sphinx/templates/latex/tabular.tex.jinja
  sphinx/templates/latex/tabulary.tex.jinja
  sphinx/templates/quickstart/Makefile.jinja
  sphinx/templates/quickstart/Makefile.new.jinja
  sphinx/templates/quickstart/conf.py.jinja
  sphinx/templates/quickstart/make.bat.jinja
  sphinx/templates/quickstart/make.bat.new.jinja
  sphinx/templates/quickstart/root_doc.rst.jinja
  sphinx/texinputs/Makefile.jinja
  sphinx/texinputs/latexmkjarc.jinja
  sphinx/texinputs/latexmkrc.jinja
  sphinx/texinputs/make.bat.jinja
  sphinx/texinputs_win/Makefile.jinja
  sphinx/themes/agogo/static/agogo.css.jinja
  sphinx/themes/basic/static/basic.css.jinja
  sphinx/themes/basic/static/documentation_options.js.jinja
  sphinx/themes/basic/static/language_data.js.jinja
  sphinx/themes/bizstyle/static/bizstyle.css.jinja
  sphinx/themes/bizstyle/static/bizstyle.js.jinja
  sphinx/themes/classic/static/classic.css.jinja
  sphinx/themes/classic/static/sidebar.js.jinja
  sphinx/themes/epub/static/epub.css.jinja
  sphinx/themes/haiku/static/haiku.css.jinja
  sphinx/themes/nature/static/nature.css.jinja
  sphinx/themes/nonav/static/nonav.css.jinja
  sphinx/themes/pyramid/static/epub.css.jinja
  sphinx/themes/pyramid/static/pyramid.css.jinja
  sphinx/themes/scrolls/static/scrolls.css.jinja
  sphinx/themes/sphinxdoc/static/sphinxdoc.css.jinja
  sphinx/themes/traditional/static/traditional.css.jinja
  sphinx/writers/latex.py
  tests/roots/test-html_assets/extra/API.html.jinja
  tests/roots/test-html_assets/static/API.html.jinja
  tests/roots/test-latex-table/_mytemplates/latex/longtable.tex.jinja
  tests/test_builders/test_build_html_assets.py
  tests/test_util/test_util_fileutil.py
Labels: internals:refactoring, internals:other, priority:low, python

#6792 Disallow module cycles in autosummary
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/ext/autosummary/__init__.py
  tests/roots/test-ext-autosummary-import_cycle/conf.py
  tests/roots/test-ext-autosummary-import_cycle/index.rst
  tests/roots/test-ext-autosummary-import_cycle/spam/__init__.py
  tests/roots/test-ext-autosummary-import_cycle/spam/eggs.py
  tests/test_extensions/test_ext_autosummary_imports.py
  tests/test_extensions/test_ext_viewcode.py
Labels: type:proposal, extensions:autosummary

#12553 Simplify the type of configuration value descriptions
  sphinx/application.py
  sphinx/config.py
Labels: internals:typing

#12555 Require Docutils 0.20 or greater
  .github/workflows/main.yml
  CHANGES.rst
  pyproject.toml
  sphinx/builders/html/__init__.py
  sphinx/io.py
  sphinx/util/docutils.py
Labels: docutils

#12556 Increase minimum required dependency versions
  CHANGES.rst
  pyproject.toml
  tests/test_util/test_util_i18n.py
Labels: dependencies

#12557 [LaTeX] For 'lualatex' with French, use `babel` LaTeX package as default, as for 'xelatex', and not `polyglossia`.
  CHANGES.rst
  doc/latex.rst
  sphinx/builders/latex/constants.py
Labels: builder:latex

#12508 [LaTeX] Revamped styling of all admonitions, with addition of a title row with icon
  CHANGES.rst
  bindep.txt
  doc/latex.rst
  doc/usage/builders/index.rst
  sphinx/ext/todo.py
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexadmonitions.sty
  sphinx/texinputs/sphinxlatexliterals.sty
  sphinx/texinputs/sphinxlatexstyletext.sty
  sphinx/texinputs/sphinxlatextables.sty
  sphinx/texinputs/sphinxpackageboxes.sty
Labels: type:enhancement, builder:latex

#12560 linkcheck: use non-interpolated (and still quoted) anchor name in localized exception message.
  sphinx/builders/linkcheck.py
Labels: builder:linkcheck, i18n, type:regression

#12562 Use Babel errors for the PR body in the transifex workflow
  .github/workflows/transifex.yml
  utils/babel_runner.py
Labels: i18n

#12367 toctree, use document nesting instead of domain nesting when adding domain objects
  CHANGES.rst
  sphinx/environment/collectors/toctree.py
  tests/roots/test-toctree-domain-objects/document_scoping.rst
  tests/roots/test-toctree-domain-objects/index.rst
  tests/test_environment/test_environment_toctree.py
Labels: internals:toctree

#12011 Provide a better error message if the master document is not included in project documents #11873
  sphinx/builders/__init__.py
  sphinx/config.py
  tests/test_environment/test_environment.py
Labels: builder, internals:other

#12197 linkcheck: Ignore URLs that respond with non-Unicode content
  CHANGES.rst
  sphinx/builders/linkcheck.py
  tests/test_builders/test_build_linkcheck.py
Labels: builder:linkcheck

#12573 Remove ``sphinx.testing`` from the no-any-generics whitelist
  pyproject.toml
  sphinx/testing/fixtures.py
  sphinx/testing/path.py
  sphinx/testing/util.py
Labels: internals:typing

#12574 Remove ``sphinx.builders`` from the no-any-generics whitelist
  pyproject.toml
  sphinx/builders/_epub_base.py
  sphinx/builders/html/__init__.py
  sphinx/builders/linkcheck.py
Labels: internals:typing

#12575 Remove ``sphinx.environment`` from the no-any-generics whitelist
  pyproject.toml
  sphinx/domains/__init__.py
  sphinx/environment/__init__.py
  sphinx/environment/adapters/indexentries.py
  sphinx/environment/collectors/toctree.py
  sphinx/versioning.py
  tests/test_environment/test_environment_indexentries.py
Labels: internals:typing

#12561 Fix PEP 695 output for classes in the LaTeX builder
  CHANGES.rst
  sphinx/writers/latex.py
  tests/roots/test-domain-py-python_maximum_signature_line_length/index.rst
  tests/test_builders/test_build_html.py
  tests/test_builders/test_build_latex.py
  tests/test_domains/test_domain_py.py
Labels: builder:latex

#12578 Various miscellaneous improvements
  sphinx/builders/html/__init__.py
  sphinx/domains/python/_object.py
  sphinx/transforms/__init__.py
Labels: internals:refactoring

#12581 Restore support for ``typing.ParamSpec``
  CHANGES.rst
  sphinx/util/typing.py
  tests/test_util/test_util_typing.py
Labels: extensions:autodoc, type:regression

#12583 Increment the environment version to resolve C domain issues on incremental builds
  CHANGES.rst
  sphinx/environment/__init__.py
  tests/js/fixtures/cpp/searchindex.js
  tests/js/fixtures/multiterm/searchindex.js
  tests/js/fixtures/partial/searchindex.js
  tests/js/fixtures/titles/searchindex.js
  utils/generate_js_fixtures.py
Labels: type:regression

#12584 Restore support for list-style ``source_suffix`` with third-party parsers
  CHANGES.rst
  sphinx/config.py
  sphinx/registry.py
Labels: internals:config, type:regression

#12586 intersphinx: Don't warn about pure-duplicate ambiguous definitions when loading 'objects.inv' entries.
  sphinx/util/inventory.py
  tests/test_util/intersphinx_data.py
  tests/test_util/test_util_inventory.py
Labels: extensions:intersphinx

#12600 Warn when ``html_sidebars`` values are strings
  CHANGES.rst
  sphinx/builders/html/__init__.py
  tests/test_builders/test_build_html.py
Labels: internals:config

#12598 LaTeX: allow again figure inside seealso, and seealso inside table cell
  CHANGES.rst
  sphinx/ext/todo.py
  sphinx/texinputs/sphinxlatextables.sty
  sphinx/writers/latex.py
  tests/roots/test-latex-figure-in-admonition/conf.py
  tests/roots/test-latex-figure-in-admonition/index.rst
  tests/roots/test-root/markup.txt
  tests/test_builders/test_build_latex.py
Labels: type:bug, builder:latex, type:regression

#12608 HTML search: Ensure that ``checkRanking`` fails when the final entry is not found
  tests/js/searchtools.js
Labels: html search

#12609 Do not add the module prefix when generating autosummary documents
  CHANGES.rst
  sphinx/ext/autosummary/generate.py
  sphinx/ext/autosummary/templates/autosummary/module.rst
  sphinx/project.py
  tests/roots/test-ext-autosummary-module_prefix/conf.py
  tests/roots/test-ext-autosummary-module_prefix/index.rst
  tests/roots/test-ext-autosummary-module_prefix/pkg/__init__.py
  tests/roots/test-ext-autosummary-module_prefix/pkg/mod0/__init__.py
  tests/roots/test-ext-autosummary-module_prefix/pkg/mod1/__init__.py
  tests/test_extensions/test_ext_autosummary.py
  tests/test_extensions/test_ext_autosummary_imports.py
Labels: extensions:autosummary, type:regression

#12612 Warn when files are overwritten in the build directory
  CHANGES.rst
  sphinx/builders/html/__init__.py
  sphinx/util/fileutil.py
  sphinx/util/osutil.py
  tests/roots/test-util-copyasset_overwrite/conf.py
  tests/roots/test-util-copyasset_overwrite/index.rst
  tests/roots/test-util-copyasset_overwrite/myext.py
  tests/roots/test-util-copyasset_overwrite/myext_static/custom-styles.css
  tests/roots/test-util-copyasset_overwrite/user_static/custom-styles.css
  tests/test_util/test_util_fileutil.py
Labels: type:regression

#12620 Ensure that old-style object description options are respected
  CHANGES.rst
  sphinx/directives/__init__.py
  sphinx/domains/javascript.py
  sphinx/domains/python/__init__.py
Labels: markup, type:regression

#12625 Support callables in ``Annotated`` types
  CHANGES.rst
  sphinx/domains/python/_annotations.py
  tests/test_domains/test_domain_py.py
Labels: domains:py

#12622 Support callables and dataclasses in ``Annotated`` metadata
  CHANGES.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/annotated.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_util/test_util_typing.py
Labels: extensions:autodoc, domains:py, type:regression

#12627 Fix warnings when files are overwritten in the build directory.
  CHANGES.rst
  sphinx/util/fileutil.py
  sphinx/util/osutil.py
  tests/roots/test-util-copyasset_overwrite/myext.py
  tests/test_util/test_util_fileutil.py
Labels: type:tests

#12626 autosummary: Filter invalid import prefixes in ``autolink``
  CHANGES.rst
  sphinx/ext/autosummary/__init__.py
Labels: extensions:autosummary, type:regression

#12619 Add missing type stubs
  pyproject.toml
  sphinx/builders/_epub_base.py
  sphinx/highlighting.py
  sphinx/pygments_styles.py
  sphinx/util/console.py
  sphinx/util/images.py
  tests/test_highlighting.py
Labels: internals:typing

#12602 shrink mypy whitelist for 'ext.autodoc.directive' module
  pyproject.toml
  sphinx/ext/autodoc/directive.py
Labels: internals:typing

#12604 shrink mypy whitelist for 'ext.autosummary.generate' module
  pyproject.toml
  sphinx/ext/autosummary/generate.py
Labels: internals:typing

#12617 shrink whitelist for `cmd.quickstart`
  pyproject.toml
  sphinx/cmd/quickstart.py
Labels: internals:typing

#12630 linkcheck: Update configuration defaults for Sphinx 8.0
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/builders/linkcheck.py
  tests/test_builders/test_build_linkcheck.py
Labels: type:enhancement, internals:config, builder:linkcheck

#12597 Turn ``show_warning_types`` on by default
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/config.py
  tests/test_builders/test_build_warnings.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_intl/test_intl.py
Labels: internals:config

#12628 [HTML search] Tests: cleanup: remove unused function-call arguments.
  tests/js/searchtools.js
Labels: html search, type:tests, javascript

#12083 Remove support for the Sphinx 0.5 ``intersphinx_mapping`` format
  CHANGES.rst
  doc/usage/extensions/intersphinx.rst
  sphinx/environment/__init__.py
  sphinx/ext/intersphinx/_load.py
  sphinx/ext/intersphinx/_resolve.py
  sphinx/ext/intersphinx/_shared.py
  sphinx/util/typing.py
  tests/js/fixtures/cpp/searchindex.js
  tests/js/fixtures/multiterm/searchindex.js
  tests/js/fixtures/partial/searchindex.js
  tests/js/fixtures/titles/searchindex.js
  tests/test_domains/test_domain_c.py
  tests/test_domains/test_domain_cpp.py
  tests/test_extensions/test_ext_inheritance_diagram.py
  tests/test_extensions/test_ext_intersphinx.py
Labels: extensions:intersphinx

#12643 Rename ``normalize_intersphinx_mapping`` to ``validate_intersphinx_mapping``
  CHANGES.rst
  doc/extdev/deprecated.rst
  sphinx/ext/intersphinx/__init__.py
  sphinx/ext/intersphinx/_load.py
  tests/test_builders/test_build_latex.py
  tests/test_domains/test_domain_c.py
  tests/test_domains/test_domain_cpp.py
  tests/test_extensions/test_ext_inheritance_diagram.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_extensions/test_ext_napoleon_docstring.py
Labels: internals:refactoring

#12644 Simplify `logger.error` calls in `validate_intersphinx_mapping`
  sphinx/ext/intersphinx/_load.py
Labels: internals:refactoring

#12649 Add version information for methods in ``utils.docutils``
  sphinx/util/docutils.py
Labels: type:docs

#12646 Remove ``sphinx.util.inspect.isNewType``
  CHANGES.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
Labels: internals:refactoring

#12087 Fix intersphinx cache handling
  sphinx/ext/intersphinx/_load.py
  tests/test_extensions/test_ext_intersphinx_cache.py
Labels: type:bug, extensions:intersphinx

#12658 Mark type aliases with ``TypeAlias``
  sphinx/_cli/__init__.py
  sphinx/builders/html/__init__.py
  sphinx/config.py
  sphinx/domains/__init__.py
  sphinx/domains/c/_ast.py
  sphinx/domains/cpp/_ast.py
  sphinx/environment/adapters/indexentries.py
  sphinx/ext/intersphinx/_shared.py
  sphinx/util/cfamily.py
  sphinx/util/i18n.py
  sphinx/util/typing.py
  tests/test_config/test_config.py
  utils/bump_version.py
Labels: internals:typing

#12659 Use ``types.NoneType``
  sphinx/builders/__init__.py
  sphinx/config.py
  sphinx/util/typing.py
Labels: internals:typing

#12637 Disallow untyped definitions
  pyproject.toml
  sphinx/environment/__init__.py
  sphinx/ext/autodoc/__init__.py
  sphinx/search/__init__.py
  utils/babel_runner.py
Labels: internals:typing

#12638 disallow subclassing 'Any'
  pyproject.toml
  sphinx/builders/latex/util.py
  sphinx/directives/other.py
  sphinx/directives/patches.py
  sphinx/ext/todo.py
  sphinx/io.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/manpage.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
  sphinx/writers/xml.py
Labels: internals:typing

#12640 Disallow untyped calls
  pyproject.toml
  sphinx/builders/_epub_base.py
  sphinx/environment/collectors/title.py
  sphinx/environment/collectors/toctree.py
  sphinx/locale/__init__.py
  sphinx/transforms/__init__.py
  sphinx/transforms/references.py
  sphinx/writers/latex.py
  tests/test_builders/test_build_html_5_output.py
  tests/test_builders/test_build_linkcheck.py
  tests/test_builders/test_build_text.py
  tests/test_extensions/test_ext_math.py
  tests/test_extensions/test_ext_viewcode.py
  tests/test_intl/test_locale.py
  tests/test_util/test_util_docutils.py
  tests/test_util/test_util_inventory.py
Labels: internals:typing

#12653 disallow implicit re-export
  pyproject.toml
  sphinx/domains/c/__init__.py
  sphinx/domains/cpp/__init__.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/autosummary/generate.py
  sphinx/ext/graphviz.py
  sphinx/ext/imgmath.py
  sphinx/ext/inheritance_diagram.py
  sphinx/ext/mathjax.py
  sphinx/ext/todo.py
  sphinx/util/inspect.py
  sphinx/util/math.py
  tests/conftest.py
  tests/test_util/test_util.py
Labels: internals:typing

#12666 Use pathlib in ``babel_runner.py``
  utils/babel_runner.py
Labels: internals:internationalisation, internals:refactoring

#12665 Normalise ``sys.path`` manipulation in tests
  tests/js/roots/titles/conf.py
  tests/roots/test-add_enumerable_node/conf.py
  tests/roots/test-add_source_parser-conflicts-with-users-setting/conf.py
  tests/roots/test-add_source_parser/conf.py
  tests/roots/test-api-set-translator/conf.py
  tests/roots/test-api-set-translator/nonext/conf.py
  tests/roots/test-autosummary/conf.py
  tests/roots/test-environment-record-dependencies/conf.py
  tests/roots/test-ext-autodoc/conf.py
  tests/roots/test-ext-autosummary-filename-map/conf.py
  tests/roots/test-ext-autosummary-import_cycle/conf.py
  tests/roots/test-ext-autosummary-imported_members/conf.py
  tests/roots/test-ext-autosummary-mock_imports/conf.py
  tests/roots/test-ext-autosummary-module_all/conf.py
  tests/roots/test-ext-autosummary-module_prefix/conf.py
  tests/roots/test-ext-autosummary-recursive/conf.py
  tests/roots/test-ext-autosummary-skip-member/conf.py
  tests/roots/test-ext-autosummary-template/conf.py
  tests/roots/test-ext-autosummary/conf.py
  tests/roots/test-ext-coverage/conf.py
  tests/roots/test-ext-doctest-with-autodoc/conf.py
  tests/roots/test-ext-imgmockconverter/conf.py
  tests/roots/test-ext-inheritance_diagram/conf.py
  tests/roots/test-ext-napoleon-paramtype/conf.py
  tests/roots/test-ext-napoleon/conf.py
  tests/roots/test-ext-viewcode/conf.py
  tests/roots/test-extensions/conf.py
  tests/roots/test-inheritance/conf.py
  tests/roots/test-latex-labels-before-module/conf.py
  tests/roots/test-prolog/conf.py
  tests/roots/test-root/conf.py
  tests/roots/test-util-copyasset_overwrite/conf.py
  tests/roots/test-warnings/conf.py
  tests/test_application.py
  tests/test_extensions/test_ext_inheritance_diagram.py
  tests/test_pycode/test_pycode.py
  tests/test_writers/test_api_translator.py
Labels: type:tests, internals:refactoring

#12668 Let LaTeX build always overwrite destination when copying assets
  sphinx/builders/latex/__init__.py
Labels: builder:latex

#12669 shrink mypy exclude list
  pyproject.toml
  tests/test_builders/test_build_dirhtml.py
  tests/test_builders/test_build_epub.py
  tests/test_builders/test_build_html.py
  tests/test_directives/test_directive_object_description.py
  tests/test_markup/test_markup.py
  tests/test_transforms/test_transforms_move_module_targets.py
  tests/test_versioning.py
Labels: internals:typing

#12657 intersphinx: Add a type for project data
  sphinx/ext/intersphinx/__init__.py
  sphinx/ext/intersphinx/_cli.py
  sphinx/ext/intersphinx/_load.py
  sphinx/ext/intersphinx/_shared.py
  tests/test_extensions/test_ext_intersphinx.py
Labels: internals:refactoring, extensions:intersphinx

#12667 add type stubs for defusedxml
  pyproject.toml
Labels: internals:typing, dependencies

#12670 LaTeX: remove a duplicate info-level log message during build
  sphinx/builders/latex/__init__.py
Labels: builder:latex, priority:low

#12681 Prettier console output from latex, texinfo, singlehtml and man page builders while inlining toctrees
  sphinx/builders/latex/__init__.py
  sphinx/builders/manpage.py
  sphinx/builders/singlehtml.py
  sphinx/builders/texinfo.py
  sphinx/util/nodes.py
Labels: type:enhancement, builder:latex, builder:manpage, builder:texinfo, builder:singlehtml

#12703 LaTeX refactoring, use \RequirePackage always, not \input
  sphinx/texinputs/sphinx.sty
  sphinx/texinputs/sphinxlatexadmonitions.sty
  sphinx/texinputs/sphinxlatexcontainers.sty
  sphinx/texinputs/sphinxlatexgraphics.sty
  sphinx/texinputs/sphinxlatexindbibtoc.sty
  sphinx/texinputs/sphinxlatexlists.sty
  sphinx/texinputs/sphinxlatexliterals.sty
  sphinx/texinputs/sphinxlatexnumfig.sty
  sphinx/texinputs/sphinxlatexobjects.sty
  sphinx/texinputs/sphinxlatexshadowbox.sty
  sphinx/texinputs/sphinxlatexstyleheadings.sty
  sphinx/texinputs/sphinxlatexstylepage.sty
  sphinx/texinputs/sphinxlatexstyletext.sty
  sphinx/texinputs/sphinxlatextables.sty
  sphinx/texinputs/sphinxoptionsgeometry.sty
  sphinx/texinputs/sphinxoptionshyperref.sty
Labels: builder:latex
