Repository sphinx-doc/sphinx, pull requests merged in 2025-10, with the labels that each got.

#13881 Document ``sphinx build -M help``
  doc/man/sphinx-build.rst
Labels: type:docs

#13919 Update list of maintained domains
  doc/usage/domains/index.rst
Labels: type:docs

#13714 Use hyphenated version directives
  doc/usage/restructuredtext/directives.rst
  sphinx/addnodes.py
  sphinx/application.py
  sphinx/builders/changes.py
  sphinx/domains/changeset.py
  tests/roots/test-changes/base.rst
  tests/roots/test-changes/c-api.rst
  tests/roots/test-changes/library/utils.rst
  tests/roots/test-intl/versionchange.txt
  tests/roots/test-intl/xx/LC_MESSAGES/versionchange.po
  tests/roots/test-root/markup.txt
  tests/test_builders/test_build_html_5_output.py
  tests/test_intl/test_intl.py
Labels: markup

#13930 Create subpackages for related ``sphinx.ext`` tests
  pyproject.toml
  tests/test_ext_autodoc/__init__.py
  tests/test_ext_autodoc/autodoc_util.py
  tests/test_ext_autodoc/test_ext_autodoc.py
  tests/test_ext_autodoc/test_ext_autodoc_autoattribute.py
  tests/test_ext_autodoc/test_ext_autodoc_autoclass.py
  tests/test_ext_autodoc/test_ext_autodoc_autodata.py
  tests/test_ext_autodoc/test_ext_autodoc_autofunction.py
  tests/test_ext_autodoc/test_ext_autodoc_automodule.py
  tests/test_ext_autodoc/test_ext_autodoc_autoproperty.py
  tests/test_ext_autodoc/test_ext_autodoc_configs.py
  tests/test_ext_autodoc/test_ext_autodoc_events.py
  tests/test_ext_autodoc/test_ext_autodoc_importer.py
  tests/test_ext_autodoc/test_ext_autodoc_mock.py
  tests/test_ext_autodoc/test_ext_autodoc_preserve_defaults.py
  tests/test_ext_autodoc/test_ext_autodoc_private_members.py
  tests/test_ext_autodoc/test_ext_autodoc_type_alias_nitpicky.py
  tests/test_ext_autosummary/__init__.py
  tests/test_ext_autosummary/test_ext_autosummary.py
  tests/test_ext_autosummary/test_ext_autosummary_imports.py
  tests/test_ext_imgconverter/__init__.py
  tests/test_ext_imgconverter/test_ext_imgconverter.py
  tests/test_ext_imgconverter/test_ext_imgmockconverter.py
  tests/test_ext_intersphinx/__init__.py
  tests/test_ext_intersphinx/test_ext_intersphinx.py
  tests/test_ext_intersphinx/test_ext_intersphinx_cache.py
  tests/test_ext_napoleon/__init__.py
  tests/test_ext_napoleon/pep526_data_google.py
  tests/test_ext_napoleon/pep526_data_numpy.py
  tests/test_ext_napoleon/test_ext_napoleon.py
  tests/test_ext_napoleon/test_ext_napoleon_docstring.py
Labels: type:tests

#13931 Extract directive header construction from runtime introspection
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/_property_types.py
  sphinx/ext/autodoc/_renderer.py
  sphinx/ext/autodoc/importer.py
  sphinx/util/inspect.py
  tests/test_ext_autodoc/test_ext_autodoc.py
  tests/test_ext_autodoc/test_ext_autodoc_autoclass.py
Labels: extensions:autodoc, internals:refactoring

#13935 autodoc: Avoid updating __annotations__ with parent class members
  CHANGES.rst
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/importer.py
  tests/test_ext_autodoc/test_ext_autodoc.py
Labels: extensions:autodoc

#13936 Consolidate ``add_content()`` handling
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/_renderer.py
Labels: extensions:autodoc, internals:refactoring
