Repository sphinx-doc/sphinx, pull requests merged in 2025-01, with the labels that each got.

#13203 Do not perform any timezone conversions if SOURCE_DATE_EPOCH is set
  sphinx/util/i18n.py
Labels: type:enhancement, internals:config

#13153 html search: add safety check before index property accesses
  CHANGES.rst
  sphinx/themes/basic/static/searchtools.js
  tests/js/searchtools.spec.js
Labels: html search, javascript

#13193 Remove unnecessary parentheses from doc
  sphinx/domains/_index.py
Labels: type:docs

#13173 Add new ``duplicate_declaration.{c,cpp}`` warning types
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/domains/c/__init__.py
  sphinx/domains/c/_symbol.py
  sphinx/domains/cpp/__init__.py
  sphinx/domains/cpp/_symbol.py
Labels: domains:c, domains:cpp, internals:config

#13158 Fixup: path resolution during 'sphinx.cmd.make_mode' cleanup
  sphinx/cmd/make_mode.py
Labels: type:bug

#13041 Remove test skips for Python 3.14
  tests/test_extensions/test_ext_autodoc_configs.py
Labels: type:tests

#11824 Allow extensions to define the keys returned by linkcode ext
  CHANGES.rst
  doc/usage/extensions/linkcode.rst
  sphinx/ext/linkcode.py
  tests/roots/test-ext-viewcode/conf.py
  tests/roots/test-ext-viewcode/objects.rst
  tests/test_extensions/test_ext_viewcode.py
Labels: extensions, extensions:viewcode

#13206 linkcheck: Use pattern matching for redirected requests
  sphinx/builders/linkcheck.py
Labels: internals:refactoring, builder:linkcheck

#13151 Create a new type for the current document's environment state
  doc/extdev/envapi.rst
  sphinx/builders/__init__.py
  sphinx/directives/__init__.py
  sphinx/directives/code.py
  sphinx/directives/patches.py
  sphinx/domains/c/__init__.py
  sphinx/domains/changeset.py
  sphinx/domains/cpp/__init__.py
  sphinx/environment/__init__.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/typehints.py
  sphinx/ext/duration.py
  sphinx/ext/intersphinx/_resolve.py
  sphinx/testing/restructuredtext.py
  sphinx/util/docutils.py
  tests/test_environment/test_environment.py
  tests/test_extensions/autodoc_util.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_markup/test_markup.py
  tests/test_util/test_util_i18n.py
Labels: internals:refactoring

#13144 Add a class option to the autosummary directive
  CHANGES.rst
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
Labels: extensions:autosummary

#13164 Trim leading whitespace characters along doctest flags
  sphinx/ext/doctest.py
  tests/test_transforms/test_transforms_post_transforms_code.py
Labels: extensions:doctest

#13209 intersphinx: Simplify `_fetch_inventory()`
  sphinx/ext/intersphinx/_cli.py
  sphinx/ext/intersphinx/_load.py
  tests/test_extensions/test_ext_intersphinx.py
Labels: internals:refactoring, extensions:intersphinx

#13210 intersphinx: Define a restricted subset of Config as ``InvConfig``
  sphinx/ext/intersphinx/_cli.py
  sphinx/ext/intersphinx/_load.py
  tests/test_extensions/test_ext_intersphinx.py
Labels: internals:refactoring, extensions:intersphinx

#13211 Inline ``sphinx_domains.lookup_domain_element``
  sphinx/domains/__init__.py
  sphinx/util/docutils.py
Labels: internals:refactoring, internals:typing

#13212 Avoid attribute indirection with ``env``
  doc/development/tutorials/examples/todo.py
  sphinx/builders/__init__.py
  sphinx/builders/changes.py
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/texinfo.py
  sphinx/directives/__init__.py
  sphinx/domains/__init__.py
  sphinx/domains/c/__init__.py
  sphinx/domains/cpp/__init__.py
  sphinx/domains/javascript.py
  sphinx/domains/python/__init__.py
  sphinx/domains/python/_object.py
  sphinx/domains/rst.py
  sphinx/domains/std/__init__.py
  sphinx/environment/__init__.py
  sphinx/environment/adapters/toctree.py
  sphinx/environment/collectors/asset.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/graphviz.py
  sphinx/ext/inheritance_diagram.py
  sphinx/ext/intersphinx/_load.py
  sphinx/ext/linkcode.py
  sphinx/ext/viewcode.py
  sphinx/search/__init__.py
  sphinx/testing/restructuredtext.py
  sphinx/transforms/post_transforms/__init__.py
  sphinx/transforms/post_transforms/images.py
  sphinx/util/docfields.py
  sphinx/util/docutils.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
  sphinx/writers/xml.py
  tests/test_directives/test_directive_object_description.py
  tests/test_environment/test_environment_toctree.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_markup/test_markup.py
  tests/test_markup/test_parser.py
  tests/test_util/test_util_i18n.py
Labels: internals:refactoring

#13195 Viewcode: Fix issue with import paths that differ from the directory structure
  AUTHORS.rst
  CHANGES.rst
  sphinx/ext/viewcode.py
  tests/roots/test-ext-viewcode-find-package/conf.py
  tests/roots/test-ext-viewcode-find-package/index.rst
  tests/roots/test-ext-viewcode-find-package/main_package/__init__.py
  tests/roots/test-ext-viewcode-find-package/main_package/subpackage/__init__.py
  tests/roots/test-ext-viewcode-find-package/main_package/subpackage/_subpackage2/__init__.py
  tests/roots/test-ext-viewcode-find-package/main_package/subpackage/_subpackage2/submodule.py
  tests/test_extensions/test_ext_viewcode.py
Labels: extensions:viewcode

#13094 Napoleon: Define confval types and defaults
  doc/usage/extensions/napoleon.rst
Labels: type:docs, extensions:napoleon

#13215 Add InventoryFile.loads()
  sphinx/ext/intersphinx/_load.py
  sphinx/util/_inventory_file_reader.py
  sphinx/util/inventory.py
  sphinx/util/typing.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_util/test_util_inventory.py
Labels: internals:refactoring, extensions:intersphinx

#13044 Remove ``has_equations`` from the mathematics domain
  CHANGES.rst
  sphinx/builders/html/__init__.py
  sphinx/domains/math.py
  sphinx/ext/mathjax.py
  sphinx/writers/html.py
  sphinx/writers/html5.py
Labels: domain, type:performance

#13218 Add types and defaults to confval directives
  doc/usage/extensions/autosummary.rst
  doc/usage/extensions/coverage.rst
  doc/usage/extensions/doctest.rst
  doc/usage/extensions/extlinks.rst
  doc/usage/extensions/graphviz.rst
  doc/usage/extensions/imgconverter.rst
  doc/usage/extensions/inheritance.rst
  doc/usage/extensions/intersphinx.rst
  doc/usage/extensions/linkcode.rst
  doc/usage/extensions/math.rst
  doc/usage/extensions/todo.rst
  doc/usage/extensions/viewcode.rst
  sphinx/domains/std/__init__.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/type_comment.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/coverage.py
  sphinx/ext/doctest.py
  sphinx/ext/extlinks.py
  sphinx/ext/githubpages.py
  sphinx/ext/graphviz.py
  sphinx/ext/ifconfig.py
  sphinx/ext/imgmath.py
  sphinx/ext/inheritance_diagram.py
  sphinx/ext/linkcode.py
  sphinx/ext/mathjax.py
  sphinx/ext/napoleon/__init__.py
  sphinx/writers/texinfo.py
Labels: type:docs

#13227 Implement key splitting in the `:kbd:` role and remove `KeyboardTransform`
  CHANGES.rst
  sphinx/builders/html/__init__.py
  sphinx/builders/html/transforms.py
  sphinx/roles.py
  tests/test_markup/test_markup.py
Labels: markup

#13200 autodoc: fix detection of class methods implemented by extension modules
  CHANGES.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/util/inspect.py
  tests/test_util/test_util_inspect.py
Labels: extensions:autodoc

#13236 Unconditionally copy static assets in ``Builder``
  CHANGES.rst
  sphinx/builders/__init__.py
Labels: builder, html theme

#13240 Enable colour by default in when running on CI
  CHANGES.rst
  sphinx/_cli/util/colour.py
  sphinx/cmd/build.py
  sphinx/cmd/make_mode.py
  sphinx/cmd/quickstart.py
  sphinx/util/console.py
  sphinx/util/display.py
Labels: api:cmdline

#13242 Disambiguate ``:type:`` as a directive option or field-list item
  doc/usage/domains/python.rst
Labels: type:docs

#13244 intersphinx: Import names from proper places
  sphinx/ext/intersphinx/__main__.py
  tests/test_builders/test_build_latex.py
  tests/test_domains/test_domain_c.py
  tests/test_domains/test_domain_cpp.py
  tests/test_extensions/test_ext_inheritance_diagram.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_extensions/test_ext_intersphinx_cache.py
  tests/test_extensions/test_ext_napoleon_docstring.py
Labels: internals:refactoring

#13241 Use ``sphinx._cli.util.colour`` in ``sphinx.util.console``
  sphinx/_cli/util/colour.py
  sphinx/application.py
  sphinx/builders/__init__.py
  sphinx/builders/changes.py
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/linkcheck.py
  sphinx/builders/manpage.py
  sphinx/builders/singlehtml.py
  sphinx/builders/texinfo.py
  sphinx/cmd/build.py
  sphinx/cmd/make_mode.py
  sphinx/cmd/quickstart.py
  sphinx/ext/coverage.py
  sphinx/ext/doctest.py
  sphinx/testing/util.py
  sphinx/util/__init__.py
  sphinx/util/_io.py
  sphinx/util/console.py
  sphinx/util/display.py
  tests/test__cli/__init__.py
  tests/test__cli/test__cli_util_errors.py
  tests/test_application.py
  tests/test_builders/test_build_html.py
  tests/test_builders/test_build_linkcheck.py
  tests/test_builders/test_build_warnings.py
  tests/test_environment/test_environment.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_intl/test_intl.py
  tests/test_quickstart.py
  tests/test_transforms/test_unreferenced_footnotes.py
  tests/test_util/test_util.py
  tests/test_util/test_util_display.py
  tests/test_util/test_util_fileutil.py
  tests/test_util/test_util_logging.py
Labels: internals:refactoring

#13246 Bump ``ENV_VERSION`` for ``_CurrentDocument``
  sphinx/environment/__init__.py
  tests/js/fixtures/cpp/searchindex.js
  tests/js/fixtures/multiterm/searchindex.js
  tests/js/fixtures/partial/searchindex.js
  tests/js/fixtures/titles/searchindex.js
Labels: internals:environment

#13230 Allow suppressing a warning of non-matching glob pattern in TOC
  AUTHORS.rst
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/directives/other.py
Labels: type:enhancement, internals:config, internals:toctree

#13187 autosummary: Respect empty module ``__all__``
  CHANGES.rst
  sphinx/ext/autosummary/generate.py
  tests/roots/test-ext-autosummary-module_empty_all/autosummary_dummy_package_empty_all/__init__.py
  tests/roots/test-ext-autosummary-module_empty_all/conf.py
  tests/roots/test-ext-autosummary-module_empty_all/index.rst
  tests/roots/test-ext-autosummary-module_empty_all/templates/autosummary/module.rst
  tests/test_extensions/test_ext_autosummary.py
Labels: extensions:autosummary

#13248 intersphinx: Create an ``_InventoryItem`` type
  sphinx/ext/intersphinx/_cli.py
  sphinx/ext/intersphinx/_resolve.py
  sphinx/util/inventory.py
  sphinx/util/typing.py
  tests/test_builders/test_build_dirhtml.py
  tests/test_builders/test_build_html.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_extensions/test_ext_intersphinx_cache.py
  tests/test_util/test_util_inventory.py
Labels: internals:refactoring

#13251 Define ``__repr__`` for ``ENUM``
  sphinx/config.py
Labels: internals:config, internals:refactoring

#13252 Replace ``os.path.join`` with pathlib
  sphinx/builders/__init__.py
  sphinx/builders/_epub_base.py
  sphinx/builders/changes.py
  sphinx/builders/epub3.py
  sphinx/builders/gettext.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/latex/theming.py
  sphinx/builders/linkcheck.py
  sphinx/builders/manpage.py
  sphinx/builders/texinfo.py
  sphinx/builders/text.py
  sphinx/builders/xml.py
  sphinx/ext/apidoc/_generate.py
  sphinx/ext/autosummary/generate.py
  sphinx/ext/coverage.py
  sphinx/ext/graphviz.py
  sphinx/ext/imgconverter.py
  sphinx/ext/imgmath.py
  sphinx/ext/viewcode.py
  sphinx/jinja2glue.py
  sphinx/transforms/post_transforms/images.py
  sphinx/util/_files.py
  sphinx/util/png.py
Labels: internals:refactoring

#9732 Allow users to suppress autodoc.mocked_object warnings
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/ext/autodoc/__init__.py
Labels: extensions:autodoc, type:proposal

#13253 autodoc: Use type stub files when documenting native modules
  CHANGES.rst
  sphinx/ext/autodoc/importer.py
  tests/roots/test-ext-apidoc-duplicates/fish_licence/halibut.pyd
  tests/roots/test-ext-apidoc-duplicates/fish_licence/halibut.pyi
  tests/test_extensions/test_ext_autodoc_importer.py
Labels: type:enhancement, extensions:autodoc

#12975 Allow configuration of trailing commas in multi-line signatures
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/addnodes.py
  sphinx/domains/javascript.py
  sphinx/domains/python/__init__.py
  sphinx/domains/python/_annotations.py
  sphinx/domains/python/_object.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/text.py
  tests/test_builders/test_build_html.py
  tests/test_builders/test_build_latex.py
  tests/test_domains/test_domain_c.py
  tests/test_domains/test_domain_cpp.py
  tests/test_domains/test_domain_js.py
  tests/test_domains/test_domain_py.py
Labels: domains:py, domains:c, domains:js, domains:cpp, builder

#13259 Replace ``colorize()`` with functions from ``_cli.util.colour``
  sphinx/_cli/util/colour.py
  sphinx/cmd/quickstart.py
  sphinx/util/logging.py
Labels: internals:refactoring

#13261 Add ``pathlib`` types to ``_INVALID_BUILTIN_CLASSES``
  CHANGES.rst
  sphinx/util/typing.py
  tests/test_extensions/test_ext_autodoc_configs.py
  tests/test_util/test_util_typing.py
Labels: type:bug, extensions:autodoc

#13264 Rename the ``:nowrap`` and ``:nosignatures:`` directive options
  CHANGES.rst
  doc/usage/extensions/autosummary.rst
  doc/usage/restructuredtext/directives.rst
  sphinx/directives/patches.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/imgmath.py
  sphinx/ext/mathjax.py
  sphinx/writers/latex.py
  tests/roots/test-ext-autosummary-ext/index.rst
  tests/roots/test-ext-math/math.rst
  tests/roots/test-root/math.txt
Labels: markup

#13256 Improve wording for the ``:type:``directive option warning
  doc/usage/domains/python.rst
Labels: type:docs

#13269 Add the ``autodoc_use_type_comments`` option
  CHANGES.rst
  doc/usage/extensions/autodoc.rst
  sphinx/ext/autodoc/type_comment.py
Labels: extensions:autodoc

#13265 Move mypy test module exclusions to per-module ignores
  pyproject.toml
  tests/test_config/test_config.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_extensions/test_ext_autodoc_events.py
  tests/test_extensions/test_ext_autosummary.py
  tests/test_extensions/test_ext_doctest.py
  tests/test_extensions/test_ext_inheritance_diagram.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_intl/test_intl.py
  tests/test_search.py
  tests/test_transforms/test_transforms_post_transforms.py
  tests/test_util/test_util_inspect.py
  tests/test_util/test_util_typing.py
Labels: internals:typing

#13270 Convert `_INVALID_BUILTIN_CLASSES` to use strings instead of runtime objects
  sphinx/util/typing.py
  tests/test_util/test_util_typing.py
Labels: internals:refactoring, internals:typing

#12739 Add ``ref.any`` warning sub-type
  CHANGES.rst
  doc/usage/configuration.rst
  sphinx/transforms/post_transforms/__init__.py
Labels: internals:config

#13272 Support ``:no-index-entry:`` in ``.. {js,py}:module::``
  CHANGES.rst
  doc/usage/domains/index.rst
  sphinx/domains/javascript.py
  sphinx/domains/python/__init__.py
  sphinx/domains/python/_object.py
  sphinx/domains/rst.py
  tests/test_domains/test_domain_js.py
  tests/test_domains/test_domain_py.py
Labels: markup, domains:py, domains:js

#13274 Fix type error in mocking ``_fetch_inventory``
  tests/test_extensions/test_ext_intersphinx.py
Labels: type:tests

#13120 Document how to reference glossary terms with alternate word forms.
  doc/usage/referencing.rst
Labels: type:docs

#13172 Add support for short signatures in autosummary
  CHANGES.rst
  doc/usage/extensions/autosummary.rst
  sphinx/ext/autosummary/__init__.py
  tests/roots/test-ext-autosummary-ext/index.rst
Labels: extensions:autosummary

#13275 Add initial implementation of an ``_Inventory`` type
  sphinx/ext/intersphinx/_cli.py
  sphinx/ext/intersphinx/_load.py
  sphinx/ext/intersphinx/_resolve.py
  sphinx/util/inventory.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_util/test_util_inventory.py
Labels: internals:refactoring, extensions:intersphinx

#13271 Improve the displayed signature for abstract methods
  CHANGES.rst
  doc/usage/domains/python.rst
  sphinx/domains/python/__init__.py
  sphinx/domains/python/_object.py
  tests/test_builders/test_build_latex.py
  tests/test_domains/test_domain_py.py
  tests/test_domains/test_domain_py_canonical.py
  tests/test_domains/test_domain_py_fields.py
  tests/test_domains/test_domain_py_pyobject.py
Labels: domains:py

#11677 Add more warning types and sub-types
  doc/usage/configuration.rst
  sphinx/directives/other.py
  sphinx/domains/index.py
  sphinx/environment/__init__.py
  sphinx/environment/adapters/indexentries.py
  sphinx/environment/adapters/toctree.py
  sphinx/util/i18n.py
  sphinx/util/nodes.py
  tests/test_builders/test_build_warnings.py
Labels: internals:config

#13285 Use read-only test roots
  .github/workflows/main.yml
  sphinx/testing/fixtures.py
  sphinx/testing/util.py
  tests/conftest.py
  tests/test_builders/test_build_linkcheck.py
  tests/test_environment/test_environment.py
  tests/test_extensions/test_ext_autodoc_configs.py
  tests/test_extensions/test_ext_autosummary.py
  tests/test_extensions/test_ext_autosummary_imports.py
  tests/test_extensions/test_ext_intersphinx.py
  tests/test_intl/test_intl.py
  tests/test_theming/test_templating.py
  tests/test_writers/test_docutilsconf.py
Labels: type:tests
