Repository sphinx-doc/sphinx, pull requests merged in 2025-08, with the labels that each got.

#13797 Combine name resolution and importing
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/importer.py
  tests/test_extensions/test_ext_autodoc.py
Labels: extensions:autodoc, internals:refactoring

#13798 Add ``object_name`` to ``_ItemProperties``
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/_property_types.py
  sphinx/ext/autodoc/importer.py
  tests/test_extensions/test_ext_autodoc.py
Labels: extensions:autodoc, internals:refactoring

#13780 Remove mypy overrides for tests/test_markup/test_parser.py
  pyproject.toml
  tests/test_markup/test_parser.py
Labels: internals:typing

#13791 Remove mypy overrides for tests/test_project.py
  pyproject.toml
  tests/test_project.py
Labels: internals:typing

#13802 Warn on invalid module ``__all__`` during initial load
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/importer.py
Labels: extensions:autodoc, internals:refactoring

#13804 Prefer ``props._obj`` to ``documenter.object``
  doc/development/tutorials/examples/autodoc_intenum.py
  sphinx/ext/autodoc/_documenters.py
  tests/test_extensions/test_ext_autodoc.py
Labels: extensions:autodoc, internals:refactoring

#13807 autodoc: do not add :no-index-entry: twice
  sphinx/ext/autodoc/_documenters.py
Labels: extensions:autodoc

#13808 Add py:class to py:data fallback for type alias cross-references (#10785)
  AUTHORS.rst
  CHANGES.rst
  sphinx/domains/python/__init__.py
  tests/roots/test-ext-autodoc-type-alias-xref/alias_module.py
  tests/roots/test-ext-autodoc-type-alias-xref/conf.py
  tests/roots/test-ext-autodoc-type-alias-xref/index.rst
  tests/test_extensions/test_ext_autodoc_type_alias_nitpicky.py
Labels: extensions:autodoc

#13616 LaTeX: revisit and trim visit_target()
  sphinx/writers/latex.py
  tests/roots/test-latex-labels/index.rst
  tests/test_builders/test_build_latex.py
Labels: builder:latex

#13657 LaTeX: support CSS3 length units
  .github/workflows/main.yml
  CHANGES.rst
  sphinx/templates/latex/latex.tex.jinja
  sphinx/texinputs/sphinx.sty
  sphinx/writers/latex.py
  tests/roots/test-latex-images-css3-lengths/conf.py
  tests/roots/test-latex-images-css3-lengths/img.png
  tests/roots/test-latex-images-css3-lengths/index.rst
  tests/test_builders/test_build_latex.py
Labels: builder:latex

#13819 Update autosectionlabel.rst add code-py role
  doc/usage/extensions/autosectionlabel.rst
Labels: type:docs

#13820 Extract autodoc object member gathering
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/_member_finder.py
  sphinx/ext/autodoc/importer.py
  sphinx/ext/autosummary/generate.py
  tests/test_extensions/test_ext_autodoc_events.py
Labels: extensions:autodoc, internals:refactoring

#13854 Fix `seealso` directive example
  doc/usage/restructuredtext/directives.rst
Labels: type:docs
