Repository sphinx-doc/sphinx, pull requests merged in 2025-02, with the labels that each got.

#13290 Ignore broken Babel 2.17 on Windows
  tests/test_util/test_util_i18n.py
Labels: type:tests

#8159 Add option include-subclasses to inheritance-diagram.
  CHANGES.rst
  doc/usage/extensions/inheritance.rst
  sphinx/ext/inheritance_diagram.py
Labels: extensions:graphviz

#12003 autodoc: add support for ``python_display_short_literal``
  CHANGES.rst
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/typehints.py
  sphinx/ext/napoleon/docstring.py
  sphinx/util/inspect.py
  sphinx/util/typing.py
  tests/roots/test-ext-autodoc/target/literal.py
  tests/test_extensions/test_ext_autodoc.py
Labels: extensions:autodoc

#13163 Always print tracebacks in logs when Sphinx encounters an internal error
  CHANGES.rst
  sphinx/_cli/util/errors.py
Labels: type:enhancement, api:cmdline, internals:config

#13292 Add the new ``py:deco`` cross-reference role
  CHANGES.rst
  doc/usage/domains/python.rst
  sphinx/domains/python/__init__.py
Labels: type:enhancement, domains:py

#13136 autodoc: Handle multiple inheritance correctly
  CHANGES.rst
  sphinx/ext/autodoc/__init__.py
  tests/roots/test-ext-autodoc/target/inheritance.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_extensions/test_ext_autodoc_automodule.py
  tests/test_extensions/test_ext_autodoc_configs.py
Labels: extensions:autodoc

#13291 Add the ``intersphinx_resolve_self`` option
  CHANGES.rst
  doc/usage/extensions/intersphinx.rst
  sphinx/ext/intersphinx/__init__.py
  sphinx/ext/intersphinx/_resolve.py
Labels: type:enhancement, extensions:intersphinx

#13296 Remove type check overrides for test_build_epub
  pyproject.toml
  tests/test_builders/test_build_epub.py
Labels: internals:typing

#13305 Remove type check overrides for tests/test__cli/test__cli_util_errors.py
  pyproject.toml
  tests/test__cli/test__cli_util_errors.py
Labels: internals:typing

#13306 Remove type check overrides for tests/test_extensions/test_ext_github…
  pyproject.toml
  tests/test_extensions/test_ext_githubpages.py
Labels: internals:typing

#13313 Remove mypy overrides for tests/test_config
  pyproject.toml
  tests/test_config/test_copyright.py
Labels: internals:typing

#13314 Remove mypy overrides for ``tests/test_extensions/test_ext_autodoc_autodata.py``
  pyproject.toml
  tests/test_extensions/test_ext_autodoc_autodata.py
Labels: internals:typing

#13315 Remove mypy overrides for multiple files in tests/test_writers
  pyproject.toml
  tests/test_writers/test_api_translator.py
  tests/test_writers/test_writer_latex.py
Labels: internals:typing

#13299 Remove type check overrides for test_build_gettext
  pyproject.toml
  tests/test_builders/test_build_gettext.py
Labels: internals:typing

#13287 Run tests in parallel with ``pytest-xdist``
  .github/workflows/main.yml
  pyproject.toml
Labels: type:tests

#13318 Convert '0' and '1' to bool for config overrides
  CHANGES.rst
  sphinx/builders/gettext.py
  sphinx/config.py
  tests/test_config/test_config.py
Labels: internals:config

#13320 Reinstate the signature of `InheritanceGraph.generate_dot()`
  sphinx/ext/inheritance_diagram.py
Labels: extensions:graphviz

#13322 intersphinx: Resolve implicit self-references
  sphinx/ext/intersphinx/_resolve.py
  sphinx/transforms/post_transforms/__init__.py
  tests/test_extensions/test_ext_intersphinx.py
Labels: extensions:intersphinx

#13323 Fix possible 'no-wrap' KeyError
  sphinx/ext/imgmath.py
  sphinx/ext/mathjax.py
  sphinx/writers/latex.py
Labels: type:regression

#13324 Define valid types for all configuration values
  sphinx/builders/epub3.py
  sphinx/builders/gettext.py
  sphinx/builders/html/__init__.py
  sphinx/builders/latex/__init__.py
  sphinx/builders/linkcheck.py
  sphinx/builders/manpage.py
  sphinx/builders/singlehtml.py
  sphinx/builders/texinfo.py
  sphinx/builders/text.py
  sphinx/builders/xml.py
  sphinx/config.py
  sphinx/directives/__init__.py
  sphinx/domains/c/__init__.py
  sphinx/domains/cpp/__init__.py
  sphinx/domains/javascript.py
  sphinx/domains/python/__init__.py
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/preserve_defaults.py
  sphinx/ext/autosectionlabel.py
  sphinx/ext/autosummary/__init__.py
  sphinx/ext/coverage.py
  sphinx/ext/doctest.py
  sphinx/ext/extlinks.py
  sphinx/ext/graphviz.py
  sphinx/ext/imgconverter.py
  sphinx/ext/imgmath.py
  sphinx/ext/inheritance_diagram.py
  sphinx/ext/intersphinx/__init__.py
  sphinx/ext/linkcode.py
  sphinx/ext/mathjax.py
  sphinx/ext/napoleon/__init__.py
  sphinx/ext/todo.py
  sphinx/ext/viewcode.py
Labels: internals:config

#13319 Fix continuation line indentation in productionlists
  CHANGES.rst
  sphinx/writers/html5.py
  sphinx/writers/manpage.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
  tests/test_directives/test_directive_productionlist.py
  tests/test_domains/test_domain_std.py
Labels: markup

#11280 Add ability to "skip" adding marked documentation to the search index
  CHANGES.rst
  sphinx/search/__init__.py
  tests/roots/test-search/index.rst
  tests/test_search.py
Labels: type:enhancement, html search

#13326 Remove ``productionlist`` hard-coding in translators
  CHANGES.rst
  doc/usage/restructuredtext/directives.rst
  sphinx/domains/std/__init__.py
  sphinx/texinputs/sphinxlatexobjects.sty
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/manpage.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
  tests/test_directives/test_directive_productionlist.py
Labels: markup, domains:std

#13342 Remove type overrides for tests.test_util.test_util_uri
  pyproject.toml
  tests/test_util/test_util_uri.py
Labels: internals:typing

#13341 Remove type overrides for tests.test_builders.test_build_text
  pyproject.toml
  tests/test_builders/test_build_text.py
Labels: internals:typing

#13328 Fix parsing of PEP 695 functions
  CHANGES.rst
  sphinx/domains/python/_object.py
  sphinx/ext/autodoc/__init__.py
  tests/test_domains/test_domain_py.py
  tests/test_extensions/test_ext_autodoc.py
Labels: domains:py

#13354 Insert abbreviation nodes for positional- and keyword-only separators
  CHANGES.rst
  sphinx/domains/python/_annotations.py
  sphinx/domains/python/_object.py
  sphinx/writers/html5.py
  sphinx/writers/latex.py
  sphinx/writers/texinfo.py
  sphinx/writers/text.py
  tests/test_domains/test_domain_py_pyfunction.py
Labels: type:enhancement, domains:py

#13357 Separate words with underscores in ``ApidocOptions``
  sphinx/ext/apidoc/_cli.py
  sphinx/ext/apidoc/_generate.py
  sphinx/ext/apidoc/_shared.py
Labels: extensions:apidoc, internals:refactoring

#13333 Add ``sphinx.ext.apidoc`` extension
  CHANGES.rst
  doc/usage/extensions/apidoc.rst
  doc/usage/extensions/index.rst
  sphinx/ext/apidoc/__init__.py
  sphinx/ext/apidoc/_extension.py
  sphinx/ext/apidoc/_shared.py
  tests/roots/test-ext-apidoc/conf.py
  tests/roots/test-ext-apidoc/index.rst
  tests/roots/test-ext-apidoc/src/exclude_package.py
  tests/roots/test-ext-apidoc/src/my_package.py
  tests/test_extensions/test_ext_apidoc.py
Labels: type:enhancement, extensions:apidoc

#13381 Revert "Mark autodoc singledispatchmethod tests as expected failures"
  tests/test_extensions/test_ext_autodoc.py
Labels: extensions:autodoc, type:tests

#13382 Napoleon: Fix valid types for configuration values
  CHANGES.rst
  sphinx/ext/napoleon/__init__.py
  tests/test_extensions/test_ext_napoleon.py
Labels: internals:config, extensions:napoleon
