Repository sphinx-doc/sphinx, pull requests merged in 2025-07, with the labels that each got.

#13748 doc: Indicate preference for follow-up commits over force pushes
  doc/internals/contributing.rst
Labels: type:docs

#13752 Merge DocstringStripSignatureMixin into DocstringSignatureMixin
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/_documenters.py
Labels: extensions:autodoc, internals:refactoring

#13753 Merge ``DecoratorDocumenter.format_args()`` into FunctionDocumenter
  sphinx/ext/autodoc/_documenters.py
Labels: extensions:autodoc, internals:refactoring

#13754 Combine ``resolve_name()`` methods
  sphinx/ext/autodoc/_documenters.py
Labels: extensions:autodoc, internals:refactoring

#13755 Merge ``DocstringSignatureMixin`` into ``Documenter``
  sphinx/ext/autodoc/_documenters.py
Labels: extensions:autodoc, internals:refactoring

#13757 Inline ``DataDocumenter`` mixin classes
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/_documenters.py
Labels: extensions:autodoc, internals:refactoring

#13758 Inline ``AttributeDocumenter`` mixin classes
  sphinx/ext/autodoc/__init__.py
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/_sentinels.py
Labels: extensions:autodoc, internals:refactoring

#13761 Remove mypy overrides for test_highlighting
  pyproject.toml
  tests/test_highlighting.py
Labels: internals:typing

#13765 Remove mypy overrides for tests/test_directives/test_directive_code.py
  tests/test_directives/test_directive_code.py
Labels: internals:typing

#13764 Remove mypy overrides for tests/test_intl/test_locale.py
  pyproject.toml
  tests/test_intl/test_locale.py
Labels: internals:typing

#13689 Replace <em> with <span> for desc_annotation semantic HTML
  AUTHORS.rst
  CHANGES.rst
  sphinx/writers/html5.py
  tests/test_domains/test_domain_py_pyobject.py
Labels: builder:html

#13767 Remove mypy overrides for tests/test_intl/test_catalogs.py
  pyproject.toml
  tests/test_intl/test_catalogs.py
Labels: internals:typing

#13771 Remove mypy overrides for tests/test_builders/test_build_warnings.py
  pyproject.toml
  tests/test_builders/test_build_warnings.py
Labels: internals:typing

#13773 Extract autodoc importing to module-level functions
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/importer.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_extensions/test_ext_autodoc_configs.py
Labels: extensions:autodoc, internals:refactoring

#13775 Remove mypy overrides for tests.test_builders.test_build_html_numfig
  pyproject.toml
  tests/test_builders/test_build_html_numfig.py
Labels: internals:typing

#13782 Make ``_Sentinel`` immutable
  sphinx/ext/autodoc/_sentinels.py
Labels: extensions:autodoc, internals:refactoring

#13783 Introduce a new type for documenter options
  sphinx/ext/autodoc/_directive_options.py
  sphinx/ext/autodoc/_documenters.py
  sphinx/ext/autodoc/_sentinels.py
  sphinx/ext/autodoc/directive.py
  sphinx/ext/autodoc/typehints.py
  sphinx/ext/autosummary/__init__.py
  tests/test_extensions/autodoc_util.py
  tests/test_extensions/test_ext_autodoc.py
  tests/test_extensions/test_ext_autodoc_autoclass.py
Labels: extensions:autodoc, internals:refactoring

#13784 Test with Docutils 0.22
  .github/workflows/main.yml
Labels: type:tests

#13786 Support Docutils 0.22
  CHANGES.rst
  doc/changes/7.3.rst
  pyproject.toml
  sphinx/transforms/__init__.py
  sphinx/transforms/references.py
  tests/test_markup/test_markup.py
Labels: docutils

#13788 Rename ``sphinx.ext.jsmath`` to ``sphinxcontrib.jsmath``
  doc/usage/extensions/math.rst
Labels: type:docs, extensions:mathematics
